.admin-wrapper{
	padding-top:66px;
	@media (max-width: 48em) {
		padding-top:51px;
	}
	.question-builder{
		padding-left:360px;
	}
	.admin-tree-view{
		position:fixed;
		width:360px;
		top: 65px;
		bottom:60px;
		left:0px;
      	@media (max-width: 48em) {
			top: 51px;
			bottom: 45px;
		}
		background: $gmp-primary-shade;
		.inner{
			position: absolute;
			top:30px;
			left:0px;
			width:100% !important;
			padding-right:0px !important;
			bottom:30px;
			overflow: auto;
			@include tree-view;
			.tree-view{
				> ul {
					ul{
						li:last-child{
							a{
								color:#D9E021;
								&.jstree-clicked{
									color: $gmp-primary;
								}
							}
						}
					}
				}
			}
		}
	}
    .admin-content{
        margin:50px 25px;
        font-size:16px;

        @include vendor-form-headers;
        #section-container{
            #body-section{
                margin-bottom:28px;
            }
        }
        .gmp-admin-bordered{
            border:solid 1px $gmp-primary-tint;
            background:#ffffff;
            padding:60px;
            margin-top:-1px;
            &.button-bottom{
                padding-bottom:94px;
                margin-bottom:-94px;
				h3{
					border-bottom:none;
				}
            }
        }
      //#tabsContainer moved to _vendor-form.scss

		.question-wrapper, #section-container{
			position: relative;
			.edit-buttons{
				position: absolute;
				right:0px;
				top:0px;
				z-index: 100;
				.btn{
					border:none;
					background:none;
					width:22px;
					height:22px;
					padding:0px;
					min-width: inherit;
					font-size:20px;
					line-height:20px;
					font-weight:400;
					&[disabled]{
						opacity: 0.3;
					}
                  &.btn-delete{
					  color:#a51500;
                  }
				}
			}
		}
		.question-wrapper{
			&:after{
				position: absolute;
				top:0px;
				bottom:0px;
				left:0px;
				right:0px;
				content:'';
				z-index: 90;
				background:rgba(255,255,255,0.4);
				cursor: not-allowed;
			}
		}
        .question-create-buttons{
            padding:0px 60px;
            //text-align: right;
        }
		.alert-danger{
			background: #f2dede !important;
		}
		@include paper-chip;
		.keyword-container{
			h3{
				display:none;
			}
			border:solid 1px $gmp-primary-tint;
			.paper-input-container{
				border:none;
				label{
					padding:5px;
				}
				&.label-is-floating{
					label{
						display: none;
					}
				}
			}
		}
    }

	.admin-inner-page{
		margin: 40px 0px;
		h1{
            font-size:21px;
            font-weight:700;
            margin:0px;
            margin-bottom: 30px;
			text-align: center;
        }
		.page-title-area{
			h1{
				font-size:28px;
			}
		}
		h4{
			font-size:16px;
			font-weight: 300;
			text-align: center;
			padding-bottom:20px;
			margin-bottom:35px;
			border-bottom:solid 1px $gmp-background-tint;
		}
		.inner{
			margin:0px 30px;
			padding:40px 30px;
			background:#ffffff;
			.inner-header{
				padding-bottom:20px;
				margin-bottom:35px;
				border-bottom:solid 1px $gmp-background-tint;
				display:table;
				width:100%;
				.search-label{
					width:230px;
					font-size:16px;
                    text-align: right;
					display: table-cell;
					vertical-align: middle;
				}
				.admin-content-search{
					display: table-cell;
					padding-left:30px;
					vertical-align: middle;
					.input-group{
						.form-control{
							padding:0px 30px 0px 10px;
							height:35px;
							font-size:13px;
							border-color:$gmp-primary-tint;
						}
						.input-group-addon{
							border-color:$gmp-primary-tint;
							padding:0px;
							.btn{
								color:#ffffff;
								padding:0px 24px;
								background:$gmp-primary;
								height:33px;
								border:none;
								margin-bottom: 0;
								width: 100%;
								@media (max-width: 48em) {
									min-width: inherit;
								}
							}
						}
					}
				}
				.reset{
					width:85px;
					text-align: right;
					display: table-cell;
					vertical-align: middle;
					.btn{
						width:auto;
						background: none;
						min-width: inherit;
						margin-bottom: 0;
					}
				}
			}
			.application-container{
				h1{
					text-align:left;
				}
			}
			.table-paging {
			  margin-top: 15px;
			  padding: 12px 10px;
			  border-top: solid 1px $gmp-background-tint;
			  border-bottom: solid 1px $gmp-background-tint;
			  text-align: center;
			  .pagination {
			    margin: 0px;
			    font-weight: 700;
			    color: $gmp-background;
			    vertical-align: middle;
			    .icon-left, .icon-right {
			    }
			    label {
			      margin: 0 5px;
			      float: left;
			    }
			    a {
			      color: $gmp-primary;
			      margin: 0 5px;
			      cursor: pointer;
			      text-decoration: none;
			      float: left;
			      label {
			        cursor:pointer;
			      }
			      &:hover, :focus {
			        color: $gmp-primary-shade;
			      }
			    }
			    .current-page{
			      //width:24px;
			      padding:2px 0px;
			      border-radius: 2px;
			      display: inline-block;
			      text-align: center;
			      color: $gmp-background-shade;
			    }
			  }
			}
		}
		&.manage-sectors{
			.tree-view-container{
				max-width:945px;
				margin:0 auto;
				background: $gmp-primary-shade;
				@include tree-view;
				padding-bottom:20px;
				.btn{
					font-size:12px;
					border:none;
					background: $gmp-primary;
					color:#ffffff;
					border-radius: 2px;
					padding:3px;
					width:80px;
					box-shadow: none !important;
					outline: 0 none !important;
					min-width: inherit;
				}
				.treeview-btns{
					position:absolute;
					right:15px;
					top:2px;
					z-index: 200;
					.btn{
						margin-left:15px;
						&.btn-delete{
							background:none;
							border-radius: none;
							padding:0px;
							width:auto;
							font-family:FontAwesome;
							font-size: 19px;
							color:#a51500;
							width:16px;
							&:before{
								content:'\f1f8';
							}
						}
					}
				}
				.add-sectors{
					color: $gmp-primary;
					background:$gmp-background-tint;
					padding:8px;
					border-bottom:solid 1px $gmp-primary-shade;
					.btn{
						float:right;
					}
				}
			}
		}
		.two-cols{
			padding-left:260px;
			.left-col{
				width:230px;
				float:left;
				margin-left:-260px;
				h4{
					color:#ffffff;
					background:$gmp-primary-shade;
					padding:10px;
					text-align: center;
					margin-bottom:15px;
					font-size:14px;
					margin-top:0px;
					border:solid 1px $gmp-primary-shade;
					font-weight:400;
                  	position: relative;
					a{
						position: absolute;
						display: block;
						width:35px;
						right:10px;
                  		height:17px;
						top:8px;
						overflow: hidden;
						span, span:before, span:after{
							content: "";
							position: absolute;
							display: block;
							width: 20px;
							height: 2px;
							background: $gmp-primary-tint;
							cursor: pointer;
							-webkit-transition: transform 300ms ease-in-out;
							transition: transform 300ms ease-in-out;
						}
						span{
							top:7px;
							right:0px;

						}
						span:before{
							top: -7px;
    						transform: rotate(-45deg);
    						left: -2px;
						}
						span:after{
							bottom: -7px;
    						transform: rotate(45deg);
    						left: -2px;
						}
						&.active{
							span:before{
								top: -7px;
    							transform: rotate(45deg);
    							left:inherit;
								right:-2px;
							}
							span:after{
								bottom: -7px;
    							transform: rotate(-45deg);
    							left:inherit;
								right:-2px;
							}
						}
					}

				}
				.left-inner{
					font-size:16px;
				}
			}
			.main-col{

			}
		}

    //#tabsContainer moved to _vendor-form.scss

    .admin-table{
			width:100%;
			border-collapse: collapse;
			font-size:16px;
			th{
				background:$gmp-primary-shade;
				padding:10px;
				font-size:14px;
				color:#ffffff;
				text-align: center;
				border:solid 1px $gmp-primary-shade;
				font-weight:400;
				a{
					color:#ffffff;
					text-decoration: none !important;
				}
				.fa{
					color:$gmp-primary-tint;
					margin-left:5px;
				}
			}
			td{
				border:solid 1px $gmp-background-tint;
				padding:10px;
				text-align:left;
				font-size:14px;
				&.align-center{
					text-align: center;
				}
				&:first-child{
					border-left:solid 1px $gmp-primary-tint;
				}
				&:last-child{
					border-right:solid 1px $gmp-primary-tint;
				}
				.btn-table{
					color:#ffffff;
					font-weight:400;
					font-size:11px;
					width:78px;
					background:$gmp-background;
					text-align: center;
					border:none;
					border-radius: 4px;
					text-transform: capitalize;
					padding:5px 8px;
					-webkit-transition: all 200ms ease-in-out;
					transition: all 200ms ease-in-out;
                  	text-decoration:none !important;
					&.delete{
						padding:0px;
						border:none;
						width:auto;
						color:$gmp-background;
						background:none;
						font-size:24px;
					}
				}
				&.status{
					font-size:13px;
					text-transform: uppercase;
					font-weight:700;
					color:#FCC718;
					text-align: center;
					&#approved{
						color:#75AF12;
					}
					&#rejected{
						color:#F96532;
					}
				}
				&.date{
					width:180px;
				}
				&.company{
					min-width: 130px;
				}
				&.sector{
					max-width: 200px;
				}

        .vendor-manager-toggle-btn {

          &[active]
          {
            .toggle-bar {
              background-color: $gmp-primary;
            }

            .toggle-button {
              background-color: $gmp-primary;
            }
          }

          .toggle-container {
            margin-left: auto;
            margin-right: auto;
          }
        }
			}
			tr:last-of-type{
				td{
					border-bottom:solid 1px $gmp-primary-tint;
				}
			}
			tr:hover{
				td{
					.btn-table{
						&.role, &.open{
							background:$gmp-primary;
						}
						&.disable{
							background:#F96532;
						}
						&.enable{
							background:#FA9612;
						}
						&.delete{
							color:#A51500;
						}
					}
				}
			}
		}
		&.manage-users{
			.user-to-change{
				padding-bottom:10px;
				border-bottom:solid 1px $gmp-background-tint;
			}
			[class*=' paper-dropdown-menu-']{
				width:100%;
			}
			@include paper-chip;
			.admin-table{
				td{
					max-width:120px;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
			}
			&.hidden-filters{
				.two-cols{
					padding-left:120px;
					.left-col{
						width:100px;
						float:left;
						margin-left:-120px;
						h4{
							text-align: left;
						}
						#checkboxLabel{
							span{
								display: none;
							}
						}
					}
				}
				.admin-table{
					td{
						max-width:inherit;
						text-overflow:inherit;
						overflow:inherit;
						white-space:inherit;
					}
				}
			}
		}
		&.review-applications-inner{
			.inner{
				.inner-header{
					display:table;
					width:100%;
					> div{
						display:table-cell;
						vertical-align: middle;
					}
					.go-back{
						text-transform: uppercase;
						width:150px;
						a{
							padding-left:30px;
							color:$gmp-primary;
							display: block;
							text-align: left;
							background: url(/assets/images/icons/go-back.svg) no-repeat left center;
							height:24px;
							line-height: 24px;
						}
					}
					.user-info{
						font-size:18px;
						text-align: center;
					}
					.status{
						font-size:14px;
						font-weight:700;
						width:150px;
						text-align: right;
						color:#FCC718;
						text-transform: uppercase;
						&#approved{
							color:#75AF12;
						}
						&#rejected{
							color:#F96532;
						}
					}
				}
			}
			.form-container{
				margin-bottom:110px;
			}
			.review-buttons{
				position: fixed;
				left:0px;
				right:0px;
				bottom:0px;
				background:$gmp-background-tint;
				z-index: 500;
				.inner{
					margin:0px 30px 60px;
					padding:20px 0px;
					background:#ffffff;
					text-align: center;
				}
        .btn {
          margin-left: 3px;
          margin-right: 3px;
        }
			}
			&.disable-form{
				.application-container{
					#content{
						position: relative;
						.top-butons{
							position: relative;
							z-index: 210;
						}
						&:after{
							position: absolute;
							top:0px;
							left:0px;
							right:0px;
							bottom:0px;
							content:'';
							display: block;
							z-index: 200;
							background: rgba(255,255,255,0.5);
						}
					}
				}
			}
		}
	}
}

[class*=" paper-dialog-"]{
  z-index: 1000 !important;
}

.scroll-track, .horizontal-scroll-track {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
	z-index: 400 !important;
	&:hover, &.dragging {
		background: #d9d9d9; /* Browsers without rgba support */
		background: rgba(0, 0, 0, 0.15);
	}
}
.scroll-handle, .horizontal-scroll-handle {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(122, 183, 127, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
	z-index: 450 !important;
}
.scroll-track:hover .scroll-handle,.scroll-track.dragging .scroll-handle{
    width: 10px;
}

.horizontal-scroll-track {
    width: 100%;
    height: 10px;
}

.horizontal-scroll-handle {
    height: 10px;
}

.horizontal-scroll-track:hover .horizontal-scroll-handle,.scroll-track.dragging .horizontal-scroll-handle{
    width: 100%;
  	height:10px;
}

.scroll-corner {

}

.admin-wrapper {
	.sector-designer{
		.admin-tree-view{
			.inner{
				height:auto !important;
				.tree-view{
                  	margin-bottom:30px;
					ul {
						li{
							background:none !important;
							a{
								overflow: visible;
								text-overflow: inherit;
								display: inline-block;
								min-width: 100%;
								&.jstree-anchor{
						            padding-left: 30px;
						        }
							}
							&.jstree-open{
								position: relative;
								&:before,&:after{
									position:absolute;
									content:'';
									background:$gmp-primary-tint;
									opacity: 0.5;
								}
								&:before{
									left:15px;
									top:28px;
									bottom:17px;
									width:1px;
									height:auto;
								}
								&:after{
									bottom: 17px;
									height: 1px;
									width: 30px;
									left: 16px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.dependent-sector{
@include tree-view;
	.tree-view{
	> ul{
		> li{
			background:none !important;
			position:relative;
			&:before{
				display: none;
			}
		}
	}
	ul{
		li{
			a{
				color:$gmp-background-shade;
				font-size:16px;
				z-index: 10;
				.jstree-checkbox{
					display: inline-block;
					width:18px;
					height:18px;
					background: url(/assets/images/icons/vendr-form-sector-checkbox.png) no-repeat center !important;
					background-position: 0px 0px;
					margin-top: 5px;
					margin-right: 10px;
				}
					&.jstree-clicked{
						background:none;
						color:$gmp-background-shade;
						.jstree-checkbox{
							background: url(/assets/images/icons/vendr-form-sector-checkbox-1.png) no-repeat center !important;
							background-position: 0px 0px;
						}
					}
				}
				.jstree-ocl{
					z-index:15;
				}
			}
			.jstree-ocl{
				z-index:15;
			}
		}
	}
}

.disabled-answer-section{
	.dependent-sector{
		position: relative;
		&:after{
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			content: '';
			z-index: 90;
			background: rgba(255, 255, 255, 0.4);
			cursor: not-allowed;
		}
	}
}

.more-info-popup{
	position:fixed;
	right:10px;
	background: #ffffff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
	z-index: 1000;
	top:110px;
	padding:20px;
	width:450px;
	.header{
		position: relative;
		h2{
			font-size: 16px;
			margin-top:0px;
			margin-bottom: 10px;
			line-height: 30px;
			font-weight: 700;
		}
		.btn-close{
			border:none;
			background:none;
			color:$gmp-primary;
			position: absolute;
			top: 0px;
			right: 0px;
			font-size: 18px;
			width:24px;
			height:24px;
			background: url(/assets/images/icons/close.svg) no-repeat center center;
			i{
				display:none;
			}
		}
	}
}

.admin-navigation-menu{
	background:$gmp-secondary-shade;
	margin-bottom:-15px;
	text-align: center;
	padding:5px;
	margin-top:10px;
	ul{
		margin:0px;
		padding:0px;
		list-style: none;
		display: inline-block;
		li{
			display: inline-block;
			a{
				color:#ffffff;
				display: block;
				padding:3px 15px;
				text-align: center;
			}
			&.active{
				background:$gmp-secondary;
			}
		}
	}
}

.question-builder-toggle-btn{
	paper-toggle-button {
		display: inline-block;
    	margin-left: 10px;
	}
	.paper-toggle-button{
		margin:0px !important;
		.toggle-button{
			background:$gmp-primary !important;
		}
		.toggle-bar{
			background:$gmp-primary-tint !important;
		}
	}
}

.sector-question-tree-view{
	.tree-view{
		ul{
			li{
				.helpButton{
					border:none;
					width:15px;
					height:15px;
					background: url(/assets/images/icons/help.svg) no-repeat center center;
					color: #ffffff;
					text-indent: -9999px;
					line-height: 0px;
					z-index: 100;
					position: relative;
				}
			}
		}
	}
}

.goodm-dialog-header {
  margin: 0;
  padding: 15px 35px 15px 35px;
  display: table;
  width: 100%;
  border-bottom: 1px solid $gmp-background;
  position: relative;
  z-index: 2000;
  h2 {
    margin: 0!important;
    padding-right: 0;
    padding-left: 0;
    word-break: break-word;
  }
}
.goodm-dialog-header-col {
  display: table-cell;
  vertical-align: middle;
}
.goodm-dialog-body {
  padding: 30px 0;
	.btn-primary { margin-bottom: 15px; }
  	a.btn:last-of-type { margin-bottom: 0; }

	.paper-input-autocomplete-chips-0 paper-material.autocomplete-suggestion-container.paper-input-autocomplete-chips {
		position: static;
	}
}
.goodm-dialog-footer {
  margin: 0!important;
  padding: 15px 24px;
  border-top: 1px solid $gmp-background;
}

[class*="paper-dialog-scrollable"] {
  min-width: 200px;
  max-width: 100%;
  margin: 0!important;

  .scrollable.paper-dialog-scrollable {
    padding: 0 15px;
    position: relative;
   }
}

.scrollable-modal {
 	&[class*=" paper-dialog-"] {
		padding: 0;
		.modal-buttons {
			border-top: none;
			padding: 0;
		}
	}

	&.paper-dialog-0  h2 { white-space: normal; }
}


