$gmp-primary: #32742c;
$gmp-primary-shade: #0e3616;
$gmp-primary-tint: #61ae24;

$gmp-secondary: #17649a;
$gmp-secondary-shade: #113f8c;
$gmp-seconday-hover: #2286CE;
$gmp-secondary-selected: #0E2E45;

$gmp-secondary-tint: #0091B5;
$gmp-secondary-tint-hover: #007D9C;
$gmp-secondary-tint-border: #00627B;

$gmp-background: #999c9d;
$gmp-background-dark: #a1a4a6;
$gmp-background-shade: #363636;
$gmp-background-light-shade: #848484;
$gmp-background-tint: #e5e8ea;
$gmp-background-tint-shade: #f3f3f3;
$gmp-background-feed: #f9f9f9;

$gmp-placeholder-color: #B4B4B4;
$gmp-placeholder-color-dark: #212121;

$btn-disabled-color: #dbdbdb;

$gmp-review:#D7DE21;

$large: '1200px';
$medium: '992px';
$small: '769px';
$x-small: '480px';

$gmp-customers: #c00000;
$gmp-workers: #bf8e00;
$gmp-suppliers: #c55910;
$gmp-community: #2f5396;
$gmp-environment: #528135;

$gmp-search-color: #17649a;
$gmp-search-shade: #113f8c;

$gmp-danger-color: #CA2A08;

$heart-icon-color: #B40404;

$validation-error-color: #dd2c00;

$need-color: #fbbc05;
$offer-color: #32742c;

@mixin animate( $attr, $time, $action: ease ) {
	-ms-transition: $attr $time $action;
  -moz-transition: $attr $time $action;
  -webkit-transition: $attr $time $action;
  -o-transition: $attr $time $action;
  transition: $attr $time $action;
}

// Create placeholder mixin
@mixin placeholder($color, $size:"") {
  &::-webkit-input-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &:-moz-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &::-moz-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &:-ms-input-placeholder {
    color: $color !important;
    opacity: 0.55 !important;
    @if $size != "" {
      font-size: $size;
    }
  }
}

@mixin noselect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

