.community-container {
	padding-top: 30px;
	padding-bottom: 50px;

	@media (max-width: $large) {
		padding-top: 0;
		padding-bottom: 0;
	}

	.button-container {
		margin-top: 16px;
	}
}

.conversation-section, .tags-section {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tags-section {
	min-height: 1000px;
	max-height: 1000px;
}

.conversation-list {
	padding-bottom: 10px;
	.convo-side-title {
		text-align: center;
		i.custom-icon {
		  display: inline-block;
		  height: 25px;
		  width: 25px;
		  background-color: #fff;
		  background-repeat: no-repeat;
		  background-size: cover;
		  background-image: url(/assets/images/icons/community-icon-set.svg);
		  background-position: 0 0;

		  &.transparent-bg {
		    background-color: rgba(250, 0, 0, 0);
		  }

		  &.conversations-icon {
		    background-position: 0 -100px;
		  }
		}
		h2 {
			margin-left: 5px;
			display: inline-block;
		  font-size: 24px;
		  margin-bottom: 16px;
		  margin-top: 0;
		}
	}
}

.tag-side-title {
	text-align: center;
	i.custom-icon {
	  display: inline-block;
	  height: 25px;
	  width: 25px;
	  background-color: #fff;
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-image: url(/assets/images/icons/community-icon-set.svg);
	  background-position: 0 0;

	  &.transparent-bg {
	    background-color: rgba(250, 0, 0, 0);
	  }

	  &.tags-icon {
	    background-position: 0 -125px;
	  }
	}
	h2 {
		margin-left: 5px;
	  font-size: 24px;
	  margin-bottom: 16px;
	  margin-top: 0;
	  display: inline-block;
	}
}

.conversation-card {
	background-color: white;
	display: block;
	width: 100%;
}

.table-paging {
	text-align: center;
}

.btn-new-conversation {
	margin-bottom: 16px;
	text-align: center;
}

button, .btn .btn-primary {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.button-container {
	text-align: center;
	margin-bottom: 16px;

	.btn {
		span {
			text-rendering: optimizeLegibility;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			position: relative;
			padding-left: 25px;
			text-transform: capitalize;
		}
		i.custom-icon {
		  position: absolute;
		  height: 20px;
		  width: 20px;
		  background-color: #fff;
		  background-repeat: no-repeat;
		  background-size: cover;
		  background-image: url(/assets/images/icons/community-icon-set.svg);
		  background-position: 0 0;

		  &.transparent-bg {
		    background-color: rgba(250, 0, 0, 0);
		  }

		  &.conversations-icon {
		    background-position: 0 -80px;
		  }
		  &.tags-icon {
		    background-position: 0 -100px;
		  }
		}
		&.active {
		    .conversations-icon {
		    	background-position: 0 -120px !important;
		    }

		    .tags-icon {
		    	background-position: 0 -140px !important;
		    }
		}
	}
}

.btn-tabs {
	a {
		&.active {
			background-color: transparent;
			border-bottom-color: white;
			color: $gmp-primary;
			box-shadow: none;

			&:focus, &:active, &:hover {
				color: $gmp-primary;
				background-color: transparent;
			}
		}

		&:focus, &:active, &:hover {
			color: $gmp-background;
			background-color: $gmp-background-tint;
		}

		color: $gmp-background;
		background-color: $gmp-background-tint;
		font-weight: 300;
		border: 1px solid $gmp-primary;
		box-shadow: none;
	}
}

.conversation-section {

	@media (max-width: $small) {
		padding: 0;
	}

	.conversation-card {
		border-top: 1px solid $gmp-background-tint;
		padding: 5px 0;

		a {
			&:hover, &:visited, &:focus {
				text-decoration: none;
			}
		}


		&:last-of-type {
			border-bottom: 1px solid $gmp-background-tint;
		}

		.conversation-detail-container {
			padding-left: 55px;

			.conversation-counter {
				float: left;
				margin-left: -50px;
				width: 50px;

				.comments-count {
					margin: auto;
					width: 50px;
					height: 50px;
					background-repeat: no-repeat;
					background-size: cover;
					background-image: url(/assets/images/icons/community-icon-set.svg);
					background-position: 0 -100px;
					text-align: center;
					color: white;
					font-weight: bold;
					line-height: 2.4em;
					font-size: 16px;
				}

				.likes-count {

					i.material-icons {
						font-size: 12px;
						color: $heart-icon-color;
						margin: 0;
						margin-right: 3px;
					}
					font-size: 10px;
					text-align: center;
				}
			}

			.conversation-detail {
				min-height: 60px;

				.conversation-title {
					font-size: 18px;
					padding: 5px;
					cursor: pointer;
					text-decoration: none;
					color: $gmp-background-shade;
					line-height: 1.2em;
					display: block;
					@include ellipsis();

					@media (max-width: $small) {
						font-size: 16px;
					}
				}

			  .conversation-footer {
					color: $gmp-background-light-shade;
					font-size: 12px;
					padding: 0 5px;
				}
			}
		}

		&:hover {
			background-color: $gmp-background-tint-shade;
		}
	}
}

.new-conversation-section {

	@media (min-width: $small) {
		&.container {
			width: 700px;
		}
	}

	h1 {
		font-size: 28px;
		text-align: center;
		font-weight: 500;
		margin: 30px 0px 20px;
		color: $gmp-background-shade;
	}

	h2 {
		font-size: 24px;
		font-weight: 500;
		margin: 30px 0px 20px;
		position: relative;
		display: block;
		text-align: left;
	}

	p {
		font-size: 16px;
		color: $gmp-background-shade;
		margin-bottom: 10px;
	}

	textarea {
    line-height: 1.2em;
    padding: 5px;
    border: 1px solid $gmp-secondary;
    font-size: 16px;
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 60px;
    max-height: 200px !important;
    outline: 0;
    box-shadow: none;
    display: inline-block;
    resize: none;
    box-sizing: border-box;
    margin-bottom: 16px;

    @media (max-width: $small) {
      font-size: 14px;
    }

    &:focus {
      border: 1px solid $gmp-secondary !important;
    }

    &[placeholder] {
		  @include placeholder($gmp-placeholder-color, 16px);
		}
  }

	.new-conversation-button-group {
		padding-top: 16px;
		padding-bottom: 50px;
		text-align: right;

		i.material-icons {
			margin-left: 0;
		}

		.btn {
			margin: 2px;
			text-transform: capitalize;
			text-rendering: optimizeLegibility;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}

.new-conversation-invite-button {
	padding: 0 0 16px 0;
	text-align: left;

	.btn {
		min-width: 110px;
		span {
			text-rendering: optimizeLegibility;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-transform: capitalize;
		}
		i.custom-icon {
		  height: 18px;
		  width: 18px;
		  background-repeat: no-repeat;
		  background-size: cover;
		  background-image: url(/assets/images/icons/community-icon-set.svg);
		  background-position: 0 0;

		  &.transparent-bg {
		    background-color: rgba(250, 0, 0, 0);
		  }

		  &.invite-icon {
		    background-position: 0 -54px;
		  }
		}
	}
}

.new-conversation-detail {
	@media (min-width: $small) {
		&.container {
			width: 700px;
		}
	}

	h1 {
		font-size: 28px;
		text-align: left;
		color: $gmp-background-shade;
	}

	h2 {
		font-size: 24px;
		font-weight: 500;
		margin: 30px 0px 20px;
		position: relative;
		display: block;
		text-align: left;
	}

	.interaction-container {
		padding-top: 5px;
		a {
			cursor: pointer;
			vertical-align: middle;

			i {
				margin: 0 3px;

				&.like-icon {
					color: $heart-icon-color;
				}
			}

			&.reply-btn {
				display: inline;
				font-size: 12px;
				line-height: 1;
				padding: 3px 10px;
				color: white !important;
				min-width: 60px;
				text-rendering: optimizeLegibility;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}

	.tag-style {
		padding: 10px 10px 5px 0px;

		.tag-style-lg, .tag-no-link {
			min-width: 110px;
			max-width: 110px;
			padding: 1px 10px;
		}

		&.conversation-detail {
			text-align: left;
		}
	}

	.conversation-detail-header {
		border-bottom: 1px solid $gmp-background-tint-shade;

		.new-conversation-invite-button {
			display: inline-block;

			.btn {
				min-width: 110px;
				margin: 0 2px;
			}
		}
		.interaction-container {
			a {
				i.material-icons {
					font-size: 24px;
				}
			}
		}
	}

	.conversation-detail-container {
		position: relative;
		display: inline-block;
		min-height: 60px;
	}

	.conversation-detail-image {
		position: absolute;
		height: 60px;
		width: 60px;
		border: 1px solid #e5e8ea;
		box-sizing: border-box;
		background-color: white;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0 0;
	}

	.conversation-image-container {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 120px;

		.conversation-image {
			position: absolute;
			height: 120px;
			width: 120px;
			border: 1px solid #e5e8ea;
			box-sizing: border-box;
			background-color: white;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0 0;
		}
	}

	.conversation-detail-message-container {
		padding-left: 70px;
	}

	.conversation-detail-message {
		font-size: 16px;
		text-align: left;
		white-space: pre-wrap;

		overflow-wrap: break-word;
		word-wrap: break-word;
		-ms-word-break: break-all;
		word-break: break word;

	}

	.conversation-detail-author, .conversation-detail-time {
		display: inline-block;
		padding-top: 5px;
		color: $gmp-background-light-shade;
	}
	.conversation-detail-time {

		@media (max-width: $small) {
			display: block;
		}
		&:before {
	    padding: 0 5px;
	    content: ' \2022 ';

	    @media (max-width: $small) {
	    	display: none;
	    }
	  }
	}
	.conversation-detail-button {
		display: inline-block;
		margin-bottom: 16px;
		margin-top: 10px;

		.btn.btn-primary {
			text-transform: capitalize;
			text-rendering: optimizeLegibility;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			margin: 0 2px;

			i.material-icons {
				margin: 0;
			}
		}
	}
}

.new-conversation-form {

	[class*=" paper-input-container-"] .input-content.paper-input-container {
		border: 1px solid $gmp-secondary;

		[placeholder] {
		  @include placeholder($gmp-placeholder-color, 16px);
		}
	}

	[class*=" paper-input-container-"] {
		padding-bottom: 24px;

		&.paper-input-autocomplete-chips {
			padding-bottom: 0;
		}
	}

	[class*=" paper-dialog-scrollable"] {
       	[class*=" paper-input-container-"] {
			padding-bottom: 0;
		}
    }

	[class*=" paper-chip-"] {
		margin: 4px 4px 4px 10px !important;

		.main-container.paper-chip {
			background-color: $gmp-background-tint;
			border-radius: 4px;
		}
	}

	.chip-container {
		&:before {
			content: '';
			position: absolute;
			top: 8px;
			left: -7px;
			width: 16px;
			height: 16px;
			background-color: $gmp-background-tint;

			border-radius: 3px 0 3px 2px;

			-webkit-transform: scale(1, 1.5) rotate(45deg);
			-moz-transform: scale(1, 1.5) rotate(45deg);
			-ms-transform: scale(1, 1.5) rotate(45deg);
			transform: scale(1, 1.5) rotate(45deg);
    	}
	}

	[class*=" iron-icon-"] {
		vertical-align: top;
		height: 20px;
		width: 20px;
	}
}

.community-error-message {
	display: inline-block;
	color: $validation-error-color;
	-webkit-font-smoothing: antialiased;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.011em;
	line-height: 20px;
	position: absolute;
}

[class*=" paper-dialog-"] {
	h2 {
		text-align: center !important;
	}

	.field-container {
		h3 {
	    font-size: 18px;
	    font-weight: 400;
	    padding-bottom: 5px;
	    margin: 0px;
	    padding-right: 70px;
	    line-height: 30px;
	    word-wrap: break-word;
	  }
	}
}

.tile-loading-spinner {
	color: $gmp-background-tint;
}

.file-upload-button {
	.upload-icon-container {
		display: inline-block;
	}
}

.file-upload-text {
	margin-left: 4px;
}




