.dashboard-container {
	
	h1 {
		font-size: 28px;
		text-align: center;
		font-weight: 500;
		margin: 30px 0px 0px;
		color: $gmp-background-shade;
	}

	.dashboard-card {
		border: 1px solid $gmp-background-tint;
		text-align: center;
		padding: 10px;
		height: 250px;
		margin-top: 16px;
		width: 100%;
		display: table;

		@media (max-width: $small) {
			height: 180px;
		}

		.card-container {
			display: table-cell;
			margin: 0 auto;
			vertical-align: middle;

			.card-icon {
				height: 100px;
				width: 100px;
				vertical-align: middle;
	  		display: inline-flex;
	  		background-color: $gmp-background-dark;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 0 0;
				margin: 0 auto;
				border-radius: 0;
				background-image: url(/assets/images/icons/dashboard-sprite.svg);
				background-position: 0 0px;				

				&.blue-background {
					background-color: $gmp-secondary;
				}

				&.red-background {
					background-color: $heart-icon-color;
				}

				&.green-background {
					background-color: $gmp-primary;
				}

				&.black-background {
					background-color: black;
				}

				&.views-icon {				
					background-position: 0 0;
				}

				&.contact-icon {
					background-position: 0 -100px;
				}

				&.heart-icon {
					background-position: 0 -200px;
				}

				&.share-icon {
					background-position: 0 -300px;
				}

				&.promotion-views-icon {
					background-position: 0 -400px;
				}

				&.promotion-contact-icon {
					background-position: 0 -500px;
				}

				&.promotion-heart-icon {
					background-position: 0 -600px;
				}

				&.promotion-share-icon {
					background-position: 0 -700px;
				}

				@media (max-width: $small) {
					height: 80px;
					width: 80px;

					&.views-icon {				
						background-position: 0 0;
					}

					&.contact-icon {
						background-position: 0 -80px;
					}

					&.heart-icon {
						background-position: 0 -160px;
					}

					&.share-icon {
						background-position: 0 -240px;
					}

					&.promotion-views-icon {
						background-position: 0 -320px;
					}

					&.promotion-contact-icon {
						background-position: 0 -400px;
					}

					&.promotion-heart-icon {
						background-position: 0 -480px;
					}

					&.promotion-share-icon {
						background-position: 0 -560px;
					}
				}
			}

			.card-number {
				font-size: 35px;
				font-weight: 700;
			}

			.card-desc {
				font-size: 16px;
			}

			@media (max-width: $small) {
				.card-number {
					font-size: 28px;
				}
				.card-desc {
					font-size: 14px;
				}
			}
		}

	}
}

.dashboard-description {
	text-align: center;

	p {
		margin: 0 0 16px;
	}

	hr {
		margin: 16px 0;
	}

	a {
		margin: 16px 0;
		cursor: pointer;

		&.btn {
			margin: 16px auto;
		}
	}
}

.update-date {
	text-align: center;
	font-size: 12px;
	margin: 16px auto;
}