.feed-container {
	padding-top: 30px;
	padding-bottom: 50px;

	@media (max-width: $large) {
		padding-top: 15px;
		padding-bottom: 20px;
	}

	.left-section {
		padding-left: 0;

		@media (max-width: $large) {
			padding: 0;
		}
	}

	.right-section {
		float: right !important;
		padding-right: 0;

		@media (max-width: $large) {
			float: none !important;
			padding: 0;
		}
	}
}

.feed-note {
	color: $gmp-background-dark;
	font-size: 16px;
	margin-bottom: 8px;
	font-weight: 300;
}

.feed-card {
	margin-bottom: 16px;
	border: 1px solid $gmp-background-tint;
	padding: 8px;
	display: block;
	background-color: $gmp-background-feed;
	cursor: pointer;

	&.promotion {
		padding: 0;
		margin-bottom: 0;
		border: none;
		cursor: default;
	}
}

.feed-picture-container {
	width: 100%;
	display: block;
	position: relative;
}

.feed-picture {
	width: 100%;
	padding-bottom: 100%;
	display: block;
	background-color: $gmp-background-tint;
	border: 1px solid $gmp-background-tint;
}

.feed-logo {
	position: absolute;
	left: 5px;
	bottom: 5px;
	height: 90px;
	width: 90px;
	border: 1px solid $gmp-background-tint;
	background-color: $gmp-background-feed;

	@media (max-width: $large) {
		height: 70px;
		width: 70px;
	}
}

.feed-title {
	font-size: 20px;
	line-height: 2em;
	display: inline-block;
	vertical-align: middle;
	width: 100%;

	@include ellipsis();
}

.feed-description {
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	width: 100%;

	@include ellipsis();
}

// Tags Section

.tag-container {
	border: 1px solid $gmp-background-tint;
	padding: 16px 8px 16px 8px;
	margin-bottom: 16px;

	@media (max-width: $large) {
		padding: 8px 4px 8px 4px;
		margin-bottom: 8px;
		display: none;
	}

	.tags-section {
		border-left: none;
		min-height: 0;
		max-height: inherit;
		overflow-y: hidden;

		@media (max-width: $large) {
			padding: 0px;
		}
	}
}

.tag-header {
	font-size: 16px;
	margin-bottom: 4px;

	@media (max-width: $small) {
		display: none;
	}
}

.tag-search-container {
	@media (max-width: $small) {
		display: none;
	}
}

.tag-header-mobile {
	display: none;
	@media (max-width: $small) {
		cursor: pointer;
		display: table;
		font-size: 16px;
		margin-bottom: 16px;
		width: 100%;
		border: 1px solid $gmp-background-tint;
		padding: 8px;

		.tag-header-text {
			display: table-cell;
			width: 100%;
		}

		i {
			margin: auto 0 !important;

			&.is-open {
		      -ms-transform: rotate(180deg); /* IE 9 */
		      -webkit-transform: rotate(180deg); /* Safari */
		      transform: rotate(180deg);
		    }
		}
	}
}

.tag-container-header {
	margin-bottom: 8px;
}

.tag-footer, .tag-container-header {
	.btn-container {
		margin: 0 20px;
		text-align: right;
	}
	a {
		margin-left: 8px;
		vertical-align: middle;
		display: inline-block;
		cursor: pointer;
		font-weight: 400;

		&:hover {
			text-decoration: none;
		}

		.btn-forward {
			margin-left: 4px;
		}
	}
}

.guide-description {
	text-align: center;
}


.feed-container {
	.add-to-table {
		span {
			min-width: auto;
		}
	}

	a {
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
	}
}



















