.btn{
    border:solid 1px $gmp-primary-tint;
    background:$gmp-background-tint;
    font-weight:400;
    color:$gmp-primary;
    text-shadow:none;
	box-shadow: none;
	min-width: 110px;
	border-radius: 2px;
	margin-left: 0px;
	margin-right: 0.29em;
	margin-bottom: 5px;
	text-transform: capitalize;
	cursor: pointer;

	&.disabled, &[disabled] {
		opacity: 1;
		background: $btn-disabled-color !important;
	}

    &.btn-primary{
        background: $gmp-primary;
        color:#ffffff;
		min-width: 110px;
		border:none;
		margin-left:0px;
		&:active{
			background:$gmp-primary-shade;
		}
    }
	&.btn-form-inner{
		background:none;
		text-transform: capitalize;
	}
	&.btn-choice-delete, &.btn-choice-add, &.btn-choice-up, &.btn-choice-down{
		border:none !important;
		color:$gmp-primary-shade;
		font-family:FontAwesome;
		outline: 0 none !important;
		min-width: inherit;
		width:24px;
      	height:24px;
		background: url(/assets/images/icons/close.svg) no-repeat center center;
	}
	&.btn-choice-up{
		background: url(/assets/images/icons/go-up.svg) no-repeat center center;
	}
	&.btn-choice-down{
		background: url(/assets/images/icons/go-down.svg) no-repeat center center;
	}
	&.btn-choice-add{
		float:right;
		background: url(/assets/images/icons/add.svg) no-repeat center center;
	}
	&.btn-text-override {
		text-transform: unset !important;
	}
	.fa {
		margin-right: 8px;
	}
}

.btn.btn-primary.btn-see {
	background-color: #fff;
	color: $gmp-primary;
	box-shadow: none !important;
	span {
		font-size: 12px;
	}
}
.btn.btn-signup {
  color:#fff !important;
  background-color: #62ae26;
  border: none;
}

i.material-icons {
	font-size: 18px;
  vertical-align: text-bottom;
}
i.material-icons:first-child {
  margin-right: 6px;
}
i.material-icons:last-child {
  margin-left: 6px;
}

[class*=" paper-input-container-"]{
	padding:0px;
	.input-content{
		&.paper-input-container{
			border:solid 1px $gmp-primary-tint;
			input, textarea{
				padding:5px;
			}
		}
	}
	.floated-label-placeholder{
		display:none;
	}
	.underline{
		.unfocused-line{
			display:none;
		}
		.focused-line{
			background:$gmp-primary-tint !important;
		}
	}
}

paper-radio-group{
	outline:none;

	> * {
		padding: 0;
	}
}

.choices-section{
	[class*=" paper-input-container-"]{
		padding-bottom:15px;

		.input-content {
			&.paper-input-container {
				input {
					height: 34px;
				}
			}
		}
	}

	[class*=" paper-input-autocomplete-chips"]{
		outline:none !important;
		paper-material.paper-input-autocomplete-chips{
			max-height:10px !important;
			overflow-y: visible !important;
			.autocomplete-suggestions{
				max-height:112px;
				overflow-y: auto;
				outline: none;
			}
		}
		.label-container.paper-chip {
			line-height: 1em;
			.chip-label {
				font-size: 12px !important;
			}
		}
	}

	.choices-btn-group {
		padding: 5px 15px;
	}
}


textarea:focus, input:focus, .uneditable-input:focus, button {
    border-color: $gmp-primary-tint !important;
    box-shadow: none !important;
    outline: 0 none !important;
}

[class*=" paper-radio-button-"]{
  	padding-left:0px;
	padding-right: 35px;

	#offRadio{
		&.paper-radio-button{
			border-color:$gmp-primary-tint !important;
		}
	}
  	#onRadio{
    	&.paper-radio-button{
      		background-color:$gmp-primary;
    	}
  	}
}

.answer-type{
	[class*=" paper-radio-button-"]{
		width:200px;
		padding-right:12px;
	}
}

.in-applycation-form{
	[class*=" paper-radio-button-"]{
		display:block;
	}
	.drop-down-menus{
		padding:0px 0px 0px 26px;
		[class*=" paper-dropdown-menu-"]{
			padding:12px 0px;
		}
	}
}

[class*=" paper-checkbox-"]{
	font-family: $main-font;
	#checkbox{
		&.paper-checkbox{
			border-color:$gmp-primary-tint;
		}
		&.checked{
			&.paper-checkbox{
				border-color:$gmp-primary-tint;
				background:$gmp-primary;
			}
		}
	}
}

[class*=" paper-menu-button-"]{
	.dropdown-content.paper-menu-button{
		min-width: 200px;
		z-index:300;
	}
}

[class*=" paper-radio-button-"],[class*=" paper-checkbox-"]{
	padding-top:0px;
	padding-bottom:16px;
	font-size:14px;
}

[class*=" paper-checkbox-"] {
	#checkboxLabel.paper-checkbox {
		padding: 0 15px 0 8px;
	}
}

.form-group{
  h3{
    border-bottom:none !important;
    label{
      font-weight:normal;
      margin-bottom:0px;
    }
  }
}

[class*=" paper-dropdown-menu-"]{
	//z-index: 300;
}

[class*=" paper-button-"] {
	text-transform: capitalize;
}

[class*=" paper-button-"].keyboard-focus:not([raised]) {
	font-weight: 400;
}

.preview-lang-dropdown{
	color:$gmp-primary;
	font-weight:300;
	[class*=" paper-input-container-"]{
		.input-content{
			&.paper-input-container{
				border:none;
				input{
					width: 70px;
					color:$gmp-primary;
					font-weight:400;
				}

			}
		}
		iron-icon.paper-dropdown-menu{
			color:$gmp-primary;
      background: url(/assets/images/icons/sector-content-arrow-down.svg) no-repeat center center;
      svg {visibility: hidden;}
		}
	}
	[class*=" paper-menu-button-"]{
	.dropdown-content.paper-menu-button{
			min-width:inherit;
		}
	}
  [class*="paper-dropdown-menu-"] {
    vertical-align: middle;
    min-height: 34px;
  }
}

.form-reject{
	max-width:440px;
}

@mixin paper-chip{
	[class*=' paper-chip-']{
		margin:2px !important;
		.main-container{
			border-radius: 0px;
			background: $gmp-primary;
			.icon-container{
				border-radius: 0px;
				.icon{
					background:rgba(255,255,255,0.2);
					border-radius: 0px;
				}
			}
			.chip-label{
				color:#ffffff;
				font-size:14px;
			}
			.remove-btn{
				background:#ffffff;
				svg{
					color:$gmp-primary;
				}
				.paper-chip {
					color: $gmp-background-shade;
				}
			}
		}
	}
}

iron-autogrow-textarea{
	max-height: 200px !important;
	textarea{
		max-height: 200px !important;
	}
}

.vendor-form{
	.top-buttons, .actions{
		.btn{
			@media (max-width: $x-small){
				margin-bottom:10px;
			}
		}
	}
}

paper-input-autocomplete-chips{
	outline:none !important;
	paper-material.paper-input-autocomplete-chips{
		max-height:initial !important;
		overflow-y: visible !important;
		.autocomplete-suggestions{
			max-height:112px;
			overflow-y: auto;
			outline: none;
		}
	}
}

/* Tags */

.tags-section {
	border-left: 1px solid $gmp-background-tint-shade;
	overflow-y: scroll;
	overflow-x: hidden;
	text-align: center;

	@media (max-width: $large) {
		min-height: 380px;
		max-height: 380px;
		padding: 5px;
		border-left: none;
	}
}

.gm-tag-main {
  color: $gmp-background-shade;
  text-decoration: none;
  margin-left: 12px;
  border-radius: 3px;

	&.gm-tag-lg {
		font-size: 16px;
		display: inline-block;
		min-width: 190px;
		max-width: 190px;
		height: 28px;
		position: relative;
		margin: 0 4px 16px 12px;

		@media (max-width: $small) {
			min-width: 120px;
			max-width: 120px;
		}

		&:before {
			content: '';
		  	position: absolute;
		  	top: 7px;
		  	left: -5px;
		  	width: 13px;
		  	height: 13px;
		  	border-radius: 3px 16px 3px 2px;
		  	-webkit-transform: scale(1, 1.6) rotate(45deg);
		  	-moz-transform: scale(1, 1.6) rotate(45deg);
		  	-ms-transform: scale(1, 1.6) rotate(45deg);
		  	transform: scale(1, 1.6) rotate(45deg);
		}

		.gm-tag-text {
			text-align: left;
			padding: 3px 0 3px 10px;

			@include ellipsis();
		}

		.gm-tag-count {
			display: none;
		}

		.gm-action {
			display: inline-block;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			padding: 3px 5px;

			&:hover {
				cursor: pointer;
			}
		}

		.gm-close {
			&:before {
				content: "\f00d";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
			}
		}

		.gm-add {
			&:before {
				content: "\f067";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
			}
		}
	}

	&.gm-tag-sm {
		font-size: 12px;
		display: inline-block;
		min-width: 65px;
		height: 22px;
		position: relative;
		margin: 0 4px 4px 8px;

		@media (max-width: $small) {
			min-width: 120px;
			max-width: 120px;
		}

		&:before {
			content: '';
		  	position: absolute;
		  	top: 6px;
		  	left: -4px;
		  	width: 10px;
		  	height: 10px;
		  	border-radius: 3px 16px 3px 2px;
		  	-webkit-transform: scale(1, 1.6) rotate(45deg);
		  	-moz-transform: scale(1, 1.6) rotate(45deg);
		  	-ms-transform: scale(1, 1.6) rotate(45deg);
		  	transform: scale(1, 1.6) rotate(45deg);
		}

		.gm-tag-count, .gm-action {
			display: none !important;
		}

		.gm-tag-text {
			text-align: left;
			padding: 2px 7px;

			@include ellipsis();
		}
	}

	&.gm-tag-count-active {
		.gm-tag-text {
			padding-right: 60px;
		}

		.gm-action {
			right: 40px;
		}

		.gm-tag-count {
			display: inline-block;
			padding: 2px 5px;
			position: absolute;
	    	right: 0;
	    	top: 0;
	    	bottom: 0;
	    	border-radius: 3px;
	    	width: 40px;
	    	text-align: right;
	    	cursor: default;
		}
	}

	&.gm-tag-action-active {
		.gm-tag-text {
			padding-right: 20px;
		}
	}

	&.gm-tag-default {
		background-color: $gmp-background-tint;

		&:before {
			background-color: $gmp-background-tint;
		}

		.gm-tag-count {
			background-color: $gmp-background-light-shade;
			color: white;
		}

		.gm-tag-text {
			color: $gmp-background-shade;
		}

		.gm-action {
			color: $gmp-background-light-shade;

			&:hover {
				color: $gmp-background-shade;
			}
		}
	}

	&.gm-tag-primary {
		background-color: $gmp-secondary-tint;
		color: white;

		&:before {
			background-color: $gmp-secondary-tint;
		}

		.gm-tag-count {
			background-color: $gmp-background;
			color: white;
		}

		.gm-tag-text {
			color: white;
		}

		.gm-action {
			color: white;

			&:hover {
				color: $gmp-background-tint;
			}
		}

		&.selected {
			background-color: $gmp-secondary-tint-border;

			&:before {
				background-color: $gmp-secondary-tint-border;
			}

			.gm-tag-count {
				background-color: $gmp-background;
				color: white;
			}
		}
	}

	a {
		&:hover, &:focus {
	  	text-decoration: none;
	  	cursor: default;
	  }
	}
}