/* --- Title Area --- */
.gm-home {
  .page-title-area {
    position: relative;
    background: #fff url(/assets/images/static-content-header-bg.svg) no-repeat center center;
    background-size: cover;
    h1 {
      background: transparent;
      &:after { display: none }
      @media (max-width: $small) {
        padding-top: 30px;
        padding-bottom: 20px;
        margin-bottom: 0;
      }
    }
    &:after {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: rgba(255, 255, 255, 0.6);
      content: '';
      display: block;
      z-index: 1;
    }
    a.btn {
      z-index: 10;
      position: relative;
      display: inline-block;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-bottom: 30px;
    }
    .btn + .btn { margin-left: 16px; }
  }
  .page-title-links {
    a {
      display: inline-block;
      & + a { margin-left: 16px; }
    }
  }
}

/* --- Tile Grid --- */
.grid-wrapper {
  margin-top: 0;
  margin-bottom: 16px;
  @media (min-width: $small) {
    margin-top: -4px;
    margin-bottom: 30px;
  }
  > .container {
    @media (min-width: $small) {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  .tile-wrapper {
    display: block;
    float: left;
    position: relative;
    width: calc(33.3333% - 2px);
    padding-bottom: calc(33.3333% - 2px); /* = width for a 1:1 */
    margin: 1px;
    @media (min-width: $small) {
      width: calc(16.6667% - 10px);
      padding-bottom: calc(16.6667% - 10px);
      margin: 5px;
    }
    @media 
      only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
      //only screen and (-webkit-min-device-pixel-ratio: 1.3),
      //only screen and (-o-min-device-pixel-ratio: 13/10),
      //only screen and (min-resolution: 120dppx) {
      width: calc(33.3333% - 2px);
      padding-bottom: calc(33.3333% - 2px); /* = width for a 1:1 */
      margin: 1px;
    }
    overflow: hidden;
    background-color: $gmp-background-tint;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    iron-image.tile {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      cursor: pointer;
    }
  }
  .tile-logo {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 0;
    bottom: 0;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-top: 1px solid $gmp-background-tint;
    border-right: 1px solid $gmp-background-tint;
    @media (min-width: $small) {
      height: 24%;
      width: 24%;
    }
  }
  .highlight-icon {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 3px;
    bottom: 3px;
    background-color: $gmp-primary;
    background-repeat: no-repeat;
    background-size: cover;
    // border: 1px solid $gmp-background-tint;
    // background-image: url(/assets/images/icons/highlight-icon-set.svg);
    background-image: url(/assets/images/icons/vendor-profile-icon-set.svg);
    background-position: 0px -180px;
    border-radius: 50%;
    @media (max-width: $medium) {
      background-position: 0px -120px;
      height: 20px;
      width: 20px;
    }
  }
  .highlight-icon {
    &.transparent-bg {
      background-color: rgba(255, 0, 0, 0);
    }
    &.green-bg {
      background-color: $gmp-primary;
    }
    &.blue-bg {
      background-color: $gmp-secondary;
    }
  }
  .highlight-icon.icon-news,
  .highlight-icon.icon-offering,
  .highlight-icon.icon-events,
  .highlight-icon.icon-opportunity {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .icon-opportunity {
    background-position: 0px -90px;
  }
  .icon-news {
    background-position: 0px -120px;
  }
  .icon-offering {
    background-position: 0px -60px;
  }
  .icon-events {
    background-position: 0px -150px;
  }
  @media (max-width: $medium) {
    .icon-opportunity {
      background-position: 0px -60px;
    }
    .icon-news {
      background-position: 0px -80px;
    }
    .icon-offering {
      background-position: 0px -40px;
    }
    .icon-events {
      background-position: 0px -100px;
    }
  }
  .tile-icon {
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    left: 33px;
    bottom: 3px;
    background-color: #fff;
    border: 1px solid $gmp-background-tint;
    @media (min-width: $small) {
      height: 12%;
      width: 12%;
      left: 26%;
      bottom: 2%;
    }
    @media (min-width: $large) {
      height: 10%;
      width: 10%;
    }
  }
  .tile-icon.icon-event,
  .tile-icon.icon-shop,
  .tile-icon.icon-work,
  .tile-icon.icon-support, {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
  }
  .icon-event { background-image: url('/assets/icons/icon-event.svg'); }
  .icon-shop { background-image: url('/assets/icons/icon-shop.svg'); }
  .icon-work { background-image: url('/assets/icons/icon-work.svg'); }
  .icon-support { background-image: url('/assets/icons/icon-support.svg'); }

  .tile-loading-spinner {
    color: $gmp-background-tint;
    padding: 30px 0;
  }
}

/* --- Tile Grid vendorDialog Popup --- */
#vendorDialog {
  padding: 0;
  .goodm-dialog-header { padding: 8px 15px; }
  .goodm-dialog-header-col.logo { width: 36px; }
  .goodm-dialog-header-col.name {
    width: calc(100% - 36px);
    text-align: left;
    padding-left: 8px;
    padding-right: 28px;
  }
  .paper-dialog-scrollable-0 .scrollable.paper-dialog-scrollable {
    padding: 0!important;
  }
}
#vendorDialogLogo {
  width: 36px;
  height: 36px;
  margin: 0 auto;
  border: solid 1px $gmp-background-tint;
  border-radius: 2px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#vendorDialogContent {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &:before {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    display: block;
    z-index: 1;
  }
  a {
    z-index: 10;
    position: relative;
  }
}

#vendorDialog, #shareDialog {
  border-radius: 2px;
}

#shareDialog {
  padding: 0;
  .goodm-dialog-footer { padding: 8px; }
}

/* --- Browser check alert --- */
#browser-msg {
  display: none;
  font-size: 16px;
  @media (max-width: $small) { font-size: 14px; }
  position: fixed;
  bottom: 15px; // With bottom nav use this = 64px;
  z-index: 700;
  left: 15px;
  right: 15px;
  margin: 0px auto;
  width: calc(100% - 32px);
  max-width: 750px;
  padding: 8px 32px;
  text-align: center;
  border-radius: 2px;
}
#btn-browser-msg {
  color: inherit;
  border: none;
  padding: 6px;
  min-width: 32px;
  background: transparent;
  font-size: 16px;
  position: absolute;
  right: 0px;
  margin-top: -17px;
  line-height: 16px;
  height: 32px;
  top: 50%;
}
