html{
	overflow-y: scroll;
  	&.mobile-menu-active{
		@media (max-width: $small) {
			overflow: hidden;
		}
	}
	&.disable-background-scroll {
		position: relative;
		overflow: hidden;
	}
	&.tour-backdrop-scroll {
		position: relative;
		width: 100%;
		height: 100%;
		overflow-y: hidden;
	}
}

body{
	font-family: $main-font;
	font-size:16px;
    color:$gmp-background-shade;
	&.gmp-admin{
		background:$gmp-background-tint;
	}
	@media (max-width: $small) {
		font-size:14px;
	}
	.menu-page-overlay {
		position: fixed;
		left: 0;
		top: 0;
    	width: 0;
    	height: 100%;
		background:rgba(0,0,0,0.5);
		z-index: 600;
		content:'';
		display: block;
		opacity: 0;
		-webkit-transition: opacity 300ms ease-in-out;
    	transition: opacity 300ms ease-in-out;
		@media (max-width: $small) {
			background:#ffffff;
		}
	}
	&.mobile-menu-active{
		@media (max-width: $small) {
			overflow: hidden;
		}
		.menu-page-overlay {
			opacity: 1;
			width: 100%;
		}
	}
	&.disable-background-scroll {
		overflow: hidden;
		position: relative;
	}
	&.tour-backdrop-scroll {
		position: relative;
		width: 100%;
		height: 100%;
		overflow-y: hidden;
	}
}

#flash-container{
	position: fixed;
	z-index: 3000;
	left:0;
	right:0;
	.alert{
		border-radius: 0px;
		position:relative;
		padding-right:30px;
		box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
		button{
			display: block;
			position: absolute;
			right:15px;
			top:13px;
			width:16px;
			height:16px;
			text-indent: -9999px;
			font:normal normal normal 14px/1 FontAwesome;
			font-size: 16px;
    		text-rendering: auto;
			border:none;
			background:none;
			&:before{
				box-sizing: border-box;
				text-indent: 1px;
				content:"\f00d";
				position: absolute;
				display: block;
			}
		}
	}
}

header{
	&.main-header{
		height: 70px;
		background:#ffffff;
		position: fixed;
		z-index: 100;
		padding:10px 0px;
		border-bottom: solid 1px $gmp-primary;
		left:0px;
		right:0px;
		top:0px;
		z-index: 800;
      	@media (max-width: $small) {
			padding:8px 0px;
			height: 60px;
		}
		.gmp-logo{
			display:block;
		}
		.main-nav{
			padding-left:25px;
			padding-top:8px;
			@media (max-width: $small) {
				padding-left:42px;
			}
			nav{
				ul{
					list-style: none;
					font-size:14px;
					text-transform: uppercase;
					font-weight:700;
					margin:0px;
					padding:0px;
					@media (max-width: $small) {
						display:none;
					}
					li{
						float:left;
						a{
							color:$gmp-background-shade;
							display:block;
							padding:3px 5px;
							border:solid 1px rgba(255,255,255,0);
						}
						&.become-vendor{
							a{
								border-color:$gmp-primary-tint;
								color:$gmp-primary;
							}
						}
						&.active{
							a{
								color:$gmp-primary;
							}
						}
						&:nth-last-child(n+2) {
							padding-right:25px;
						}
					}
				}
			}
			.search-bar{
				padding-top:12px;
				max-width:665px;
              	width:100%;
				.form-control{
					padding:0px 30px 0px 10px;
					height:30px;
					font-size:13px;
					border-color:$gmp-primary-tint;
				}
				.input-group-addon{
					border-color:$gmp-primary-tint;
					padding:0px;
					.btn{
						color:#ffffff;
						padding:0px 24px;
						background:$gmp-primary;
                        height:28px;
						border:none;
						@media (max-width: $small) {
							min-width: inherit;
						}
					}
				}
			}
		}
		.user-welcome{
			.log-in-out{
				text-align: right;
				padding-top:8px;
				padding:11px 0px 16px;
				.login-link{
					color:$gmp-background-shade;
					font-size:14px;
					text-transform: capitalize;
					font-weight:400;
				}
			}
			.user-details{
				.inner{
					display:table;
					float:right;
					> div{
						display:table-cell;
						vertical-align: middle;
					}
				}
				.name{
					font-weight:300;
					text-align: right;
					strong{
						font-weight:700;
					}
					a{
						color:$gmp-background-shade;
					}
				}
				.picture{
					width:60px;
					text-align: center;
					.picture-frame{
						width:30px;
						height:30px;
						background:$gmp-background-tint;
						border-radius: 2px;
						margin:0 auto;
						overflow: hidden;
						img{
							width:100%;
							height:auto;

						}
					}
				}
				.notification{
					width:30px;
					a{
						display:block;
						width:30px;
						height:30px;
						background: url(/assets/images/icons/notifications.svg) no-repeat center center;
						background-size: 20px 20px;
					}
				}
			}
		}
	}
	.small-header{
		//padding:0px 25px;
		.inner{
			display:table;
			width:100%;
			> div{
				display: table-cell;
				vertical-align: middle;
			}
			.logo{
				text-align: center;

				a {
					width: 100px;
					display: block;
					margin: 0 auto;
					text-decoration: none;

					&:hover {
						text-decoration: none;
					}

					img {
						display: block;
						margin: 0 auto;
					}

					.beta-label {
						font-size: 9px;
						text-align: right;
						display: block;
						color: $gmp-background-shade;
					}
				}

				.brand-logo {
					padding: 0;
					height: 45px;
					width: 45px;
					display: block;
					margin: 0 auto;

					gm-grid-image {
						height: 45px;
						width: 45px;
						display: inline-grid;

						iron-image {
							height: inherit;
							width: inherit;
						}
					}
				}
			}
			.search{
				.input-group{
					-webkit-transition: opacity 300ms ease-in-out;
    				transition: opacity 300ms ease-in-out;
					opacity: 1;
				}
				.form-control{
					padding:0px 10px 0px 10px;
					height:30px;
					font-size:13px;
					border-color:$gmp-primary-tint;
				}
				.input-group-addon{
					border-color:$gmp-primary-tint;
					padding:0px;
					.btn{
						color:#ffffff;
						padding:0px 10px;
						background:$gmp-primary;
                        height:28px;
						border:none;
						@media (max-width: $small) {
							min-width: inherit;
						}
					}
				}
			}
			.top-icons, .user-switch {
				width: 52px;
		        text-align: right;
				a{
					display: inline-block;
					img{
						display: block;
						width: 24px;
						height: 24px;
					}

				}
		        .beta-label {
					text-align: center;
					padding: 3px 2px 1px;
					color: #fff;
					border-radius: 2px;
					background-color: $gmp-background-shade;
					font-weight: 400;
		        }
			}
			.language-switch {
				width: 150px;

				@media (max-width: $small) {
					width: 50px;
				}

				.preview-lang-dropdown {
					text-align: right;

					paper-dropdown-menu {
						padding-right: 25px;

						@media (max-width: $small) {
							padding-right: 15px;
							vertical-align: middle;
						}
					}

					paper-ripple {
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
					}

					.underline {
						display: none;
					}

					iron-icon {
						display: none;
					}

					.dropdown-trigger {
						position: relative;
					}

					paper-menu-button {
						height: 47px;
						display: table-cell;
						vertical-align: middle;

						iron-dropdown {
							left: auto !important;
							top: auto !important;
							margin-top: 14px !important;

							@media (max-width: $small) {
								top: 45px !important;
							}

							.iron-dropdown {
								.dropdown-content {
									&.paper-menu-button {
										box-shadow: none;
										border: 1px solid $gmp-background;
									}
								}
							}

							paper-listbox {
								padding: 0;

								paper-item {
									color: $gmp-background-shade;
									font-weight: 400;
									font-size: 14px;
									text-transform: capitalize;

									&.iron-selected {
										font-weight: 400;
										color: white;
										background-color: $gmp-background-dark;

										&:hover {
											background-color: $gmp-background-dark;
										}
									}

									&:hover {
										background-color: $gmp-background-tint;
									}
								}
							}

							&:before {
								display: block;
								border-color: $gmp-background transparent;
							    border-style: solid;
							    border-width: 0 7px 7px;
							    top: -7px;
							    content: " ";
							    position: absolute;
					        	right: 0;
							    width: 0;
							    left: 0;
							    margin: 0 auto;
					  		}
						}

						@media (max-width: $small) {
							max-width: 40px;
						}
					}

					paper-input {
						position: relative;
					}

					paper-input-container {
						text-align: right;

						input {
							color: $gmp-background-shade;
							font-weight: 400;
							font-size: 14px;
							text-transform: capitalize;
							line-height: 16px;
							padding-bottom: 2px;
							@include noselect();
						}

						&:before {
							border: 5px solid transparent;
							border-top-color: $gmp-background-dark;
							content: "";
							height: 0;
							margin-left: 0px;
							margin-top: -1px;
							opacity: 1;
							left: 100%;
							position: absolute;
							text-indent: -99999px;
							top: 50%;
							width: 0;

							@media (max-width: $small) {
								margin-top: 0px;
							}
						}

						&:after {
							border: 5px solid transparent;
							border-top-color: white;
							content: "";
							height: 0;
							margin-left: 0px;
							margin-top: 0px;
							opacity: 1;
							left: 100%;
							position: absolute;
							text-indent: -99999px;
							top: 45%;
							width: 0;

							@media (max-width: $small) {
								margin-top: 1px;
							}
						}
					}
				}
			}
			.user-switch {

				.btm-btn-container {
					width: 45px;
					height: 45px;
					display: table-cell;
					vertical-align: middle;

					[class*=" paper-button-"] {
						display: -webkit-box;
						display: -webkit-flex;
						display: -ms-flexbox;
						display: flex;
					}

					@media (max-width: $small) {
						width: 35px;
					}
				}
				.btn-switch {
		    		width: 45px;
		    		height: 45px;
			    	position: relative;
			    	background-size: contain;
			    	background-position: center;
			    	background-color: white;
			    	min-width: 0;
			    	-webkit-box-shadow: 0px 0px 0px 2px $gmp-background-tint-shade;
					-moz-box-shadow: 0px 0px 0px 2px $gmp-background-tint-shade;
					box-shadow: 0px 0px 0px 2px $gmp-background-tint-shade;
					padding: 0;
					margin: 0;
					margin-right: 12px;

					img {
						position: absolute;
						margin: auto;
						top: 0;
						bottom: 0;
						right: 0;
						left: 0;
						max-height: 45px;

						@media (max-width: $small) {
							max-height: 25px;
						}
					}

					@media (max-width: $small) {
						height: 25px;
						width: 25px;
					}

			    	&:active, &:focus, &:hover, &.active {
		    			background-color: white;
		    			-webkit-box-shadow: 0px 0px 0px 2px $gmp-background-tint;
						-moz-box-shadow: 0px 0px 0px 2px $gmp-background-tint;
						box-shadow: 0px 0px 0px 2px $gmp-background-tint;
		    		}

			    	.tri-right.btm-right:before{
			    		display: block;
						border-color: $gmp-background transparent;
					    border-style: solid;
					    border-width: 0 7px 7px;
					    top: 48px;
					    content: " ";
					    position: absolute;
			        	right: 0;
					    width: 0;
					    left: 0;
					    margin: 0 auto;

					    @media (max-width: $small) {
			  				top: 32px;
			  			}
					}

					&:before {
						border: 5px solid transparent;
						border-top-color: $gmp-background-dark;
						content: "";
						height: 0;
						margin-left: 4px;
						margin-top: 0px;
						opacity: 1;
						left: 100%;
						position: absolute;
						text-indent: -99999px;
						top: 50%;
						width: 0;

						@media (max-width: $small) {
							margin-top: -1px;
						}
					}

					&:after {
						border: 5px solid transparent;
						border-top-color: white;
						content: "";
						height: 0;
						margin-left: 4px;
						margin-top: 2px;
						opacity: 1;
						left: 100%;
						position: absolute;
						text-indent: -99999px;
						top: 45%;
						width: 0;

						@media (max-width: $small) {
							margin-top: -1px;
						}
					}
			    }

			    a {
			    	font-size: 14px;
			    	text-transform: capitalize;
			    	font-weight: 400;
			    	color: $gmp-background-shade;
			    }
			}
			.btm-bar-popup {
		    	background-color: white;
		    	border-bottom: 2px solid $gmp-primary;
			    display: block;
			    right: 15px;
			    margin-top: 55px;
			    position: absolute;
			    top: 0;
			    width: 100%;
			    max-width: 25%;
			    border-top: 1px solid $gmp-background;
			    border-bottom: 1px solid $gmp-background;
			    border-right: 1px solid $gmp-background;
			    border-left: 1px solid $gmp-background;

			    @media (max-width: $small) {
			    	max-width: none;
			    	width: 100%;
			    	top: 0;
			    	left: 0;
			    	right: 0;
			    	margin-top: 50px;
			    }

			    @include animate(all, 500ms);

			    .login-link {
			    	font-size: 14px;
			    	display: block;
			    	margin: 0;
			    	line-height: 3em;
			    	border-top: 1px solid $gmp-background-tint;
			    	text-transform: capitalize;
			    	text-decoration: none;
			    	font-weight: 400;
			    	color: $gmp-background-shade;
			    	text-align: left;
			    	padding-left: 15px;

			    	&:hover, &:active, &:focus, &:visited {
			    		background-color: $gmp-background-tint-shade;
		    		}
			    }

			    .sub-selection {
			    	max-height: 200px;
			    	overflow-y: auto;
			    }
		    }
		    .btm-bar-list-item {
		    	position: relative;
		    	text-align: left;
		    	padding: 10px;
		    	cursor: pointer;

		    	.btm-bar-list-image {
		    		position: absolute;
		    		margin: 0 5px;
		    		width: 25px;
		    		height: 25px;
		    		-webkit-box-shadow: 0px 0px 0px 1px $gmp-background-tint;
						-moz-box-shadow: 0px 0px 0px 1px $gmp-background-tint;
						box-shadow: 0px 0px 0px 1px $gmp-background-tint;
		    		background-color: white;

		    		img {
		    			display: block;
		    			position: absolute;
		    			margin: auto;
		    			top: 0;
		    			bottom: 0;
		    			left: 0;
		    			right: 0;
		    			max-width: 25px;
		    			max-height: 25px;
		    		}
		    	}
		    	.btm-bar-list-name {
		    		display: inline-block;
				    overflow: hidden;
				    padding-left: 40px;
				    vertical-align: middle;
		    	}

		    	&:hover {
		    		background-color: $gmp-background-tint;
		    	}
		    	&.selected {
		    		color: white;
		    		background-color: $gmp-background-dark;
		    	}
		    }
			.menu{
				width: 207px;
				position: relative;

				@media (max-width: $small) {
					width: 110px;
				}

				.nav-toggle{
					display: block;
					position: relative;
					width: 35px;
					left: 0px;
          			height: 35px;
					top: 0px;
					span, span:before, span:after{
						content: "";
						position: absolute;
						display: block;
						width: 20px;
						height: 2px;
						background: $gmp-primary;
						cursor: pointer;
						-webkit-transition: all 300ms ease-in-out;
    					transition: all 300ms ease-in-out;
					}
					span{
						top:17px;
						left:0px;
					}
					span:before{
						top:-7px;
					}
					span:after{
						bottom:-7px;
					}
					&.active{
						span{
							background-color: transparent;
						}
						span:before{
							top:0px;
							-webkit-transform: rotate(45deg);
    						transform: rotate(45deg);
						}
						span:after{
							bottom:0px;
							-webkit-transform: rotate(-45deg);
							transform: rotate(-45deg);
						}
					}
				}
			}
		}
		&.dropdown-active{
			.search{
				.input-group{
					opacity: 0;
				}
			}
		}
		&.search-active{
			padding-bottom: 35px;
			.search{
				.input-group{
					position: absolute;
					left: 0px;
					top: 46px;
					padding: 0px 25px;
				}
			}
		}
		.mobile-menus{
			position: fixed;
			left:-400px;
			top:70px;
			bottom:0px;
			background:#ffffff;
			z-index: 2000;
			font-size:16px;
          	-webkit-transition: all 300ms ease-in-out;
    		transition: all 300ms ease-in-out;
			width:400px;
			@media (max-width: $small) {
				top:60px;
				width:100%;
				left:-100%;
			}
			.user-welcome{
				background:$gmp-background-tint;
				padding:15px 0px;
				text-align: center;
				.picture{
					text-align: center;
					margin-bottom:10px;
					.picture-frame{
						width:22px;
						height:22px;
						background:$gmp-background-tint;
						border-radius: 2px;
						margin:0 auto;
						overflow: hidden;
						img{
							width:100%;
							height:auto;

						}
					}
				}
              	.name{
					font-weight: 300;
					margin-bottom:15px;
					strong{
						font-weight: 700;
					}
					a{
						color:$gmp-background-shade;
					}
				}
				.log-in-out{
                  	text-align: center;
					font-size:14px;
					padding:0px;
					a{
						text-transform: uppercase;
					}
				}
			}
			&.active{
				left:0px;
			}
			.main-menu-scroller{
				position: absolute;
				width:100% !important;
				top:0px;
				bottom:45px;
				left:0px;
				padding-right: 0 !important;

				@media (min-width: $small) {
					bottom: 60px;
				}
			}
    	nav {
				margin-top:15px;
  			min-height: calc(100% - 163px);

				ul {
					list-style: none;
					font-size:14px;
					text-transform: uppercase;
					font-weight:700;
					margin:0px;
					padding:0px 45px;
					li {
						a, span.admin{
							color:$gmp-primary;
							display:block;
							padding:15px 0px 15px 35px;
							border-bottom:solid 1px $gmp-background-tint;
						}
						span{
							color:$gmp-background-shade;
						}
						&.active{
							a{
								color:$gmp-primary;
							}
						}
						&.sub{
							a{
								padding-left:65px;
							}
						}
						&.active{
							a{
								color:$gmp-background-shade;
								cursor: pointer;
							}
						}
					}
          li.has-subs {
            position: relative;
            > i.material-icons {
              position: absolute;
              top: 50%;
              left: 0;
              font-size: 24px;
              margin-top: -25px;
              margin-right: 0;
              padding: 12px 6px;
              color: $gmp-primary;
              cursor: pointer;
            }
            &.is-open > i.material-icons {
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }
          li.sub {
            display: none;
          }
				}
			}
			.social-icons{
				padding:15px 0px;
      	text-align: center;
    		max-height: 88px;
				a{
					display: inline-block;
					width:30px;
					height:30px;
					margin-right: 30px;
					&:last-of-type{
						margin-right:0px;
					}
					img{
						display: block;
						width:30px;
						height:30px;
					}
				}
			}
			.site-url {
				text-align: center;
				padding-bottom: 15px;

				a {
					display: inline-block;
				}
			}
			.copyright{
				background:$gmp-background-tint;
				font-size:10px;
				text-align: center;
				padding:15px 0px;
        max-height: 44px;
			}
		}
	}
}

.gmp-admin{
	header{
		&.main-header{
			position: fixed;
			top:0px;
			left:0px;
			right:0px;
            z-index: 800;
		}
	}
}

[class*=" paper-dialog-"]{
	min-width:500px;
	max-width: 700px;
	padding:30px;
	z-index: 2000 !important;
  color: $gmp-background-shade;

	> *{
		padding:0px;
		&:first-child{
			margin-top:0px;
		}
	}
	.sector-modal-content{
		max-height: 400px;
		overflow-y: auto;
	}
	@media (max-width: $small) {
		min-width: 300px;
    max-width: 80%;
		&.paper-help-popup{
			left:10px !important;
			right:10px !important;
			bottom:10px !important;
			top:65px !important;
			position:fixed !important;
			margin:0px;
			.sector-modal-content{
				max-height: initial;
				position: absolute;
				left: 30px;
				right: 30px;
				bottom: 15px;
				top: 60px;
				-webkit-overflow-scrolling: touch;
			}
		}

	}
	.btn-close{
		border:none;
		background:none;
		color:$gmp-primary;
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 18px;
		width:24px;
		height:24px;
    z-index: 2100 !important;
		background: url(/assets/images/icons/close.svg) no-repeat center center;
		i{
			display:none;
		}
	}
	h2{
		margin-top:0px;
		font-size:16px !important;
		margin-bottom:10px !important;
		line-height: 20px !important;
		font-weight:700 !important;
	}
	[class*=" paper-tabs-"]{
		height:auto;
	}
	#tabsContainer{
		#selectionBar{
			display:none;
		}
		#tabsContent{
			[class*=" paper-tab-"]{
				border: solid 1px $gmp-primary-tint;
				margin-right: 10px;
				z-index: 100;
				background:$gmp-background-tint;
				padding:0px !important;
				font-size:16px;
				font-weight:300 !important;
				color:$gmp-primary;
				padding:8px 0px !important;
				&:last-child{
					margin:0px;
				}
				&.iron-selected{
					border-bottom-color: #ffffff;
					color: $gmp-background-shade;
					background:#ffffff;
					font-weight:300 !important;
					font-size:16px;
				}
			}
		}
	}
	.gmp-admin-bordered{
		border-top: solid 1px $gmp-primary-tint;
		margin-top:-1px;
		padding:20px;
	}
	.sector-modal-content{
		border-top: solid 1px $gmp-background-tint;
		padding:20px 0px;
	}
	.modal-buttons{
		border-top:solid 1px $gmp-background-tint;
		padding:15px 30px 0px 0px;
		.btn{
			margin-right:5px;
			margin-bottom:5px;
          	min-width:110px;
		}
	}
}

.newsletter-signup{
 	background:$gmp-secondary-tint;
	padding:40px 0px;
	margin-top:60px;
	h2{
		font-size:22px;
		color:#ffffff;
		font-weight:700;
		text-align: center;
		margin:0px 0px 30px;
	}
	.email-submit{
		max-width:555px;
		width:auto;
		margin:0 auto;
      	@media (max-width: $small) {
			margin:0px 15px;
			max-width: inherit;
		}
		.form-control{
			height:44px;
			border-right: none;
			border-color: $gmp-secondary !important;
			outline: none;
			box-shadow: none;
		}
		.input-group-addon{
			padding:0px;
			background: #ffffff;
			border-color:$gmp-secondary;
			.btn{
				border:none;
				background: none;
				color:$gmp-secondary;
				font-size:12px;
				text-transform: uppercase;
				min-width: inherit;
			}
		}
	}
}

footer.sticky-nav-footer {
	background: #fff;
	position: fixed;
	padding: 7px 0px;
	border-top: solid 1px $gmp-primary;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 700;
  @media (max-width: 769px) {
    padding: 10px 0px;
  }
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: block;
			float: left;
			width: 25%;
			margin: 2px 0;
			&:last-child {
				margin: 0;
			}
			a {
				display: block;
    		margin: 0 20%;
			}
			&.is-selected a i.material-icons {
				color: $gmp-primary;
			}
		}
	}
	i.material-icons {
		font-size: 24px;
		color: $gmp-background;
	}
	.footer-profile-img {
		width: 30px;
		height: 30px;
		margin: 0 auto;
		border: solid 1px $gmp-background-tint;
		border-radius: 2px;
		background-color: $gmp-background-tint;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	}
}

.scroll-track, .horizontal-scroll-track {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
	z-index: 400 !important;
	&:hover, &.dragging {
		background: #d9d9d9; /* Browsers without rgba support */
		background: rgba(0, 0, 0, 0.15);
	}
}
.scroll-handle{
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(122, 183, 127, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
	z-index: 450 !important;
}
.scroll-track:hover .scroll-handle,.scroll-track.dragging .scroll-handle{
    width: 10px;
}

.how-it-works-table{
	table{
		td, th{
			padding:5px 10px;
		}
		thead{
			th{
				background:$gmp-background-tint;
				text-align: center;
				border:solid 1px $gmp-background-tint;
			}
		}
		tbody{
			td, th{
				border:solid 1px $gmp-background-tint;
			}
		}
        td.title-row {
            font-weight: bold;
            background:$gmp-background-tint;
        }
	}
	@media (max-width: $x-small) {
		table, thead, tbody, th, td, tr {
		display: block;
	   }
	   thead tr th {
		position: absolute;
		top: -9999px;
		left: -9999px;
	   }

	   tr { }

	   td, th {
		border: none;
		border-bottom: 1px solid $gmp-background-tint;
		position: relative;
		padding:8px 5px 5px 8px !important;
		padding-left: 40% !important;
		width:auto !important;
		min-height:60px;
		height:auto;
	   }

	   td:before {
		position: absolute;
		top: 0px;
		left: 0px;
		bottom:0px;
		width: 35%;
		padding-right: 10px;
		font-weight:700;
		background:$gmp-background-tint;
		padding:8px 5px 5px;
	   }

	   /*
	   Label the data
	   */
	   td:nth-of-type(1){ font-weight: 700; min-height: 40px; }
	   td:nth-of-type(2):before { content: "Corporate Marketing"; }
	   td:nth-of-type(3):before { content: "Third-Party Certification"; }
	   td:nth-of-type(4):before { content: "Good Market Curation"; }
	}
}

.stakeholders{
	h3{
		font-size:18px !important;
		color:#ffffff !important;
		background:$gmp-background-shade;
		margin:0px;
		padding:10px;
		text-align: center;
	}
	.inner{
		padding:10px;
	}
	.row{
		margin-bottom:10px;
		&:last-child{
			margin-bottom:0px;
		}
	}
	.holder{
		margin-bottom:20px;
		background:$gmp-background-tint;
	}
	.customers{
		background:#efd0d0;
		h3{
			background:$gmp-customers;
		}
		strong{
			color:$gmp-customers;
		}
	}
  	.workers{
		background:#e5d7b3;
		h3{
			background:$gmp-workers;
		}
		strong{
			color:$gmp-workers;
		}
	}
	.suppliers{
		background:#e8cdba;
		h3{
			background:$gmp-suppliers;
		}
		strong{
			color:$gmp-suppliers;
		}
	}
  	.community{
		background:#bac9e0;
		h3{
			background:$gmp-community;
		}
		strong{
			color:$gmp-community;
		}
	}
	.environment{
		background:#c5e0b3;
		h3{
			background:$gmp-environment;
		}
		strong{
			color:$gmp-environment;
		}
	}
}

/* sector standards accordion */
.sector-standards-accordion {
  padding-top: 25px;
  iron-accordion {
    h3,h4 {
      position: relative;
      padding-left: 36px;
      font-size: 16px;
      font-weight: 700;
    }
    i.material-icons {
      color: $gmp-primary-tint;
      font-size: 24px;
      position: absolute;
      top: -4px;
      left: 0;
    }
    &[opened] > #header i.material-icons {
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Safari */
      transform: rotate(90deg);
    }
    .accordion-body {
      padding-left: 36px;
    }
    .sector-children, .sector-description {
      margin-bottom: 15px;
    }
  }
}

/* sector-standards curser override */
.sector-question-tree-view.gm-sector-standards .tree-view ul li a {
  cursor: default;
}

.gm-sector-standards {
  h2{
		font-size:20px;
		font-weight:700;
		margin:55px 0px 20px;
		position: relative;
		&:first-of-type{
			margin-top:30px;
		}
    display: block;
    text-align: left;
	}
}

pre{
	border: none;
    background: none;
    padding: 0px;
}

.pre{
	white-space: pre-line;
}

.pre-wrap {
  white-space: pre-wrap;
}

a, a:active, a:hover {
  color: $gmp-primary;
}

/* Overrides chrome default focus outline */
.btn:focus {
  outline: none !important;
}

/* Overrides firefox blue dotted line */
a:focus {
  outline: none;
}
.btn::-moz-focus-inner {
  border: 0;
}

/* Fix for scrollbar overlaps content on IE */
body {
  -ms-overflow-style: scrollbar;
}

/*- CSS Spinner for Vendor Form -*/
@-webkit-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.uil-rolling-css {
  width: 200px;
  height: 200px;
  transform: scale(0.15);
  margin-top: -88px;
  margin-left: -80px;
}

.uil-rolling-css > div {
  width: 200px;
  height: 200px;
  position: relative;
  -ms-animation: uil-rolling-anim 1s linear infinite;
  -moz-animation: uil-rolling-anim 1s linear infinite;
  -webkit-animation: uil-rolling-anim 1s linear infinite;
  -o-animation: uil-rolling-anim 1s linear infinite;
  animation: uil-rolling-anim 1s linear infinite;
}

.uil-rolling-css > div div {
  position: absolute;
  width: 200px;
  height: 100px;
  border-radius: 1000px 1000px 0 0;
  border-color: #61ae24;
  border-style: solid;
  border-width: 20px;
  border-bottom-width: 0;
}

.uil-rolling-css > div div:nth-of-type(2) {
  -ms-transform: translate(0, 50px) rotate(108deg) translate(0, -50px);
  -moz-transform: translate(0, 50px) rotate(108deg) translate(0, -50px);
  -webkit-transform: translate(0, 50px) rotate(108deg) translate(0, -50px);
  -o-transform: translate(0, 50px) rotate(108deg) translate(0, -50px);
  transform: translate(0, 50px) rotate(108deg) translate(0, -50px);
}

.popular-search-container, .home-page-info {
	width: 100%;
	padding: 10px 0;
	display: block;
	text-align: center;

	.popular-search-title, .home-page-title {
		display: inline-block;
		text-align: center;
		white-space: pre-wrap;
	}
}

gm-tooltip-navigator {
	a {
		&.btn {
			&.btn-tour {
				display: inline-block;
				margin: 0;
				line-height: 1em;
				font-size: 14px;
				vertical-align: text-top;
				margin-bottom: 16px;
			}
		}

		padding: 5px 0;
		color: $gmp-primary;
		font-size: 16px;
		cursor: pointer;

		@include animate(all, 320ms);

		&:hover, &:focus, &:active {
		}
	}

	@media (max-width: $small) {
		a {
			&.btn {
				&.btn-tour {
					line-height: 1.9em;
					padding: 0;
					font-size: 12px;
				}
			}
		}
	}
}

.custom-accordion {
  border: 1px solid $gmp-background-tint;
  margin-bottom: 8px;

  .custom-accordion-header {
    background-color: $gmp-secondary;
    color: white;
  }

  i.material-icons {
    margin-right: 6px;
    margin-left: 0;
  }

  a {
    &.is-open h4 i.material-icons , &.is-open h2 i.material-icons {
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Safari */
      transform: rotate(180deg);
    }
    &:hover, &:focus {
      text-decoration: none;
    }
    color: white;
  }

  h4 {
    cursor: pointer;
    position: relative;
    padding-left: 12px;
    margin: 0;
    line-height: 2.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 50px;
    i.material-icons {
      position: absolute;
      right: 0;
      font-size: 22px;
      pointer-events: none;
      line-height: 2em;
    }
  }

  .custom-accordion-body {

    margin: 16px 16px 0 16px;
    text-align: center;

    @media (max-width: $small) {
      margin: 10px 10px 0 10px;
    }

    a {
      margin: 0 0 16px 0;
    }

    h4 {
      text-align: center;
      padding-top: 10px;
      margin-bottom: 20px;
      font-size: 20px;
    }

    table {
      width: 99.8%;
      @media (max-width: $small) { margin: 0 0 0 0; display: block; }

      td,th {
        vertical-align: middle;
        padding: 5px 10px 5px 10px;
        font-size: 16px;
        border-collapse: collapse;
        line-height: 1em;
        white-space: normal;
        &.align-center{
          text-align: center;
        }
        &.align-left{
          text-align: left;
        }
        @media (max-width: $small) { font-size: 12px; }
      }
      th {
        font-weight: 700;
        font-size: 16px;
        border:solid 1px $gmp-background-tint;
        border-bottom:none;
        line-height: 1.2em;
        &.grey{
          background:$gmp-background-tint;
          &:not(:last-of-type){
            border-right-color:#ffffff;
          }
        }
        @media (max-width: $small) { font-size: 12px; }
      }
      td {
				border:solid 1px $gmp-background-tint;
        &.status {
          font-size:13px !important;
          text-transform: uppercase;
          font-weight:300;
          color:#FCC718;
          &#approved{
            color:#75AF12;
          }
          &#rejected{
            color:#F96532;
          }
          @media (max-width: $small) { font-size: 12px; }
        }
        .btn-table {
          color:#ffffff;
          font-weight:300;
          font-size:13px;
          background:$gmp-background;
          text-align: center;
          border:none;
          border-radius: 4px;
          text-transform: capitalize;
          padding:5px 8px;
          -webkit-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
          text-decoration:none !important;
          display: inline-block;
          min-width: 70px;
          cursor: pointer;
          &.delete {
            padding:0px;
            border:none;
            width:auto;
            color:$gmp-background;
            background:none;
            font-size:24px;
            position: initial;
          }

          @media (max-width: $small) { font-size: 10px; }
        }
        a[disabled], paper-button[disabled] {
          cursor: not-allowed;
          background:$gmp-background-tint;
          &.delete {
            color:$gmp-background-tint;
            background:none;
          }
        }
      }
      td:hover {
        .btn-table {
          background:$gmp-primary;
          &.delete {
            color:#A51500;
            background:none;
          }
        }
        a[disabled], paper-button[disabled] {
          cursor: not-allowed;
          background:$gmp-background-tint;
          &.delete {
            color:$gmp-background-tint;
            background:none;
          }
        }
      }
    }

    .table-paging {

      .pagination {

        vertical-align: middle;

        a {
          margin: -2px 5px;
        }
        .current-page {
          padding: 2px 5px;

          @media ( max-width: $small ) { padding: 0 5px; }
        }
        label {
          margin: -1px 5px;
        }
        .material-icons {
          font-size: 26px;
          @media ( max-width: $small ) { font-size: 16px; }
        }
      }

      @media ( max-width: $small ) { font-size: 0.8em; }
    }

    .table-container {
      max-height: 250px;
      overflow-y: auto;
      overflow-x: hidden;
      @media (max-width: $small) { overflow: scroll; padding-right: 0px; }
    }

    [class*=" paper-textarea-"] {
      height: 1em;
    }

    [class*=" paper-button-"] {
    	margin-bottom: 16px;
    	margin-left: 4px;
    	margin-right: 4px;
    }
  }

  &.no-visible {
  	.custom-accordion-header {
  		a {
		    .is-open h4 i.material-icons, .is-open h2 i.material-icons {
		      -ms-transform: rotate(180deg); /* IE 9 */
		      -webkit-transform: rotate(180deg); /* Safari */
		      transform: rotate(180deg);
		    }
		  }
	  }
    .custom-accordion-body {
    	height: 0;
    	visibility: hidden;
    	padding: 0;
    	-webkit-transition: all 320ms;
			-moz-transition: all 320ms;
			transition: all 320ms;
    }
  }

  &.accordion-flagging {
  	border: none;

  	.custom-accordion-header {
  		height: 0;
	    background-color: white;

	    h2 {
	    	padding: 0;
	    }
  	}

  	.custom-accordion-body {
  		display: block;
  		padding: 0;

      h2 {
        font-size: 20px;
      }
  	}

  	a {
  		color: $gmp-primary;
  	}

  	i.material-icons {
			display: none;
		}

		#profile-more {
			ul {
				li {
					h6 {
						margin-bottom: 0;
					}
				}
				ul {
					margin-bottom: 10px;
				}
			}
		}

		[class*=" paper-radio-button-"], [class*=" paper-checkbox-"] {
			padding: 0;
			margin-top: 10px;
		}
	}

	&.onboard-accordion {
		border: none;

		.custom-accordion-header {
			background-color: white;
			color: $gmp-secondary;
			display: table;
			cursor: pointer;
			// border-bottom: 1px solid $gmp-background-tint;

			h4 {
				color: $gmp-secondary;
				display: table-cell;
			}

			&.is-open i.material-icons , &.is-open i.material-icons {
	      -ms-transform: rotate(180deg); /* IE 9 */
	      -webkit-transform: rotate(180deg); /* Safari */
	      transform: rotate(180deg);
	    }

			.progress-container {
				background-color: white;
				width: 100%;
				display: table-cell;
				padding: 10px;
				height: 45px;
				vertical-align: middle;

				.progress-bar {
					width: 100%;
					border: 1px solid $gmp-background;
					background-color: white;
					background-image: none;
					pointer-events: none;
					border-radius: 15px;
					position: relative;
					box-shadow: none;

					.progress-complete {
						width: 0%;
						background-color: $gmp-primary-tint;
						height: 100%;
						display: block;
						border-radius: 15px;
					}
				}
			}
			.progress-counter {
				color: $gmp-background-shade;
				font-weight: 400;
				font-size: 20px;
				display: table-cell;
				vertical-align: middle;
				padding: 0 6px;
			}

			i {
				display: table-cell;
				font-size: 22px;
				vertical-align: middle;
				padding: 0 6px;
				color: $gmp-background-shade;
			}
		}

		.onboard-accordion-body {
			margin: 0;
			ul {
				font-size: 16px;
				text-align: left;
				margin-bottom: 16px;
				padding-left: 10px;

				li {
					list-style: none;
					font-weight: 700;
					background-image: url(/assets/images/icons/onboard-icon.svg);
					background-repeat: no-repeat;
					background-position: left center;
					background-size: 24px;
					padding-left: 35px;
					padding-bottom: 8px;
					padding-top: 8px;
					border-bottom: 1px solid $gmp-background-tint;
					color: $gmp-primary;

					&.success {
						background-image: url(/assets/images/icons/onboard-icon-success.svg);
						opacity: 0.8;
						color: $gmp-background-shade;
						font-weight: 400;

						div {
							text-decoration: line-through !important;
						}
					}

					div {
						cursor: pointer;
						display: inline-block;

						&:hover {
							text-decoration: underline;
						}
					}

					&:last-of-type {
						border-bottom: none;
					}
				}
			}

			.accordion-paragraphs, h5 {
				padding-left: 16px;
			}

			h5 {
				font-size: 20px;
				font-weight: 300;
				margin: 8px 0 8px 0;
				text-transform: capitalize;
				text-align: left;
			}
		}
	}
}

.onboard-container {
	padding-top: 0;
}

#flag_file_uploader {
	button, a {
		margin: 10px 0;
	}

	.flag-action-buttons {

		.btn {
			margin: 5px 0 5px 5px;

			@media (max-width: $small) {
				margin: 5px 5px 5px 0;
			}
		}

		float: right !important;

		@media (max-width: $x-small) {
			float: left !important;
		}
	}
}

.goodm-dialog-header {
  margin: 0;
  padding: 15px 35px 15px 35px;
  display: table;
  width: 100%;
  border-bottom: 1px solid $gmp-background;
  position: relative;
  z-index: 2000;
  h2 {
    margin: 0!important;
    padding-left: 0;
    padding-right: 0;
    word-break: break-word;
  }
}
.goodm-dialog-header-col {
  display: table-cell;
  vertical-align: middle;
}
.goodm-dialog-body {
  padding: 0;
	.btn-primary { margin-bottom: 15px; }
  	a.btn:last-of-type { margin-bottom: 0; }

	.paper-input-autocomplete-chips-0 paper-material.autocomplete-suggestion-container.paper-input-autocomplete-chips {
		position: static;
	}
}
.goodm-dialog-footer {
  margin: 0!important;
  padding: 15px;
  border-top: 1px solid $gmp-background;
}

.subscription-container {
	a.btn, input.btn {
		margin: 5px;
	}
}

// Share popup overrides
.share-modal {
	[class*=" paper-dialog-"] {
		z-index: 2002 !important;
	}
	#scrollable {
		padding: 0;
	}
	p {
		text-align: center;
    padding: 0 10px 10px 10px;
    margin: 0;
	}
	.field-container {
		text-align: center !important;
	}
	.jssocials-share-logo {
    width: 1em;
    vertical-align: middle;
    font-size: 2.5em !important;
    margin: 0 !important;
	}
	.jssocials-share-link {
		margin: 0 !important;
		border-radius: 50%;
	}
	.share-backdrop {
	  z-index: 2001 !important;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background-color: rgba(0,0,0,0.8);
	  display: block;
	  position: fixed;
	}

	.btn-primary {
		margin-bottom: 0 !important;
		text-transform: capitalize !important;
	}
}

$share-names: ('twitter', 'facebook', 'googleplus', 'linkedin', 'pinterest', 'email', 'stumbleupon', 'whatsapp', 'telegram', 'line', 'viber', 'pocket', 'messenger', 'vkontakte') !default;
$share-colors: (#00aced, #3b5998, #dd4b39, #007bb6, #cb2027, #3490F3, #eb4823, #29a628, #2ca5e0, #25af00, #7b519d, #ef4056, #0084ff, #45668e) !default;

@for $i from 0 to length($share-names) {
    $social: nth($share-names, $i + 1);
    $color: nth($share-colors, $i + 1);

    .jssocials-share-#{$social} .jssocials-share-link {
        background: $color;
        border: 1px solid darken($color, 5%);

        &:hover {
            background: darken($color, 10%);
        }
    }
}

$link-text-color: #fff !default;
$transition: background 200ms ease-in-out, border-color 200ms ease-in-out !default;

.jssocials-share-link {
    padding: .5em .6em;
    color: $link-text-color;
    transition: $transition;

    &:hover, &:focus, &:active {
        color: $link-text-color;
    }
}

.popup-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
	background-image: none;
	background-color: grey;
	border: none;
	text-align: center;
	transition: all 0.5s ease;

	&.popup-alert-danger {
		border-bottom: 3px solid $gmp-danger-color;
		background-color: white;
		color: $gmp-danger-color;
		// color: black;
	}
	&.popup-alert-success {
		border-bottom: 3px solid $gmp-primary;
		background-color: white;
		color: $gmp-primary;
	}

	button {
		border: none;
		color: inherit;
		float: right;
		background: none;
		font-size: 16px;
	}
}

//payment page
.payment-container {
	h2 {
		text-align: center;
		padding-bottom: 15px;
		font-size: 24px;
		font-weight: 700;
		margin: 30px 0;
	}
	.btn {
		margin-top: 10px;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.uil-rolling-css {
		display: block;
		width: 200px;
		height: 200px;
		margin-right: auto;
		margin-left: auto;
		transform: scale(0.3);
		margin-top: -50px;
		margin-bottom: -50px;
	}
	.payment-information-container {
		a {
			left: 0;
		}
		p {
			text-align: left;
		}
	}
	.button-spinner {
		position: absolute;
		display: inline-block;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		width: initial;
		background-color: white;
		height: 100%;
	}
	.uil-text {
		display: block;
		p {
			text-align: center;
		}
	}
	.payment-footer {
		display: block;
		a, input {
			margin: 5px;
		}
	}

	@media (max-width: $small) {
		.payment-gateway-container {
			padding-top: 20px;
			min-height: 150px;
		}
	}

	.alert {
		& a {
			cursor: pointer;
		}
		margin: 10px;
		&.alert-danger {
			color: #a94442;
		}
	}
}

.bottom-bar-container {
	background-color: white;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 800;
  height: 60px;
  position: fixed;
  text-align: center;
  border-top: 1px solid $gmp-primary;

  @media (max-width: $small) {
  	height: 45px;
  }

  .bottom-bar-button-group {
  	position: relative;
  	height: 100%;
  	display: table;
  	width: 100%;
  	border-collapse: collapse;

  	.btm-btn-container {
  		display: table-cell;
  		vertical-align: middle;

    	.btn {
    		min-width: 40px;
  			height: 40px;
    		vertical-align: middle;
    		display: inline-flex;
    		background-color: $gmp-background-dark;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 0 0;
				margin: 0 auto;
				border-radius: 0;

				@include animate(background-color, 320ms);

				@media (max-width: $small) {
					min-width: 25px;
					height: 25px;
				}

    		i.material-icons {
    			font-size: 30px;
    			&:first-child {
    				margin: 0;
    			}
    		}

    		&:active, &:focus, &:hover, &.active {
    			background-color: $gmp-primary;
    			box-shadow: none;
    		}
    	}

    	.btn-home {
    		background-image: url(/assets/images/icons/bottom-bar-sprite.svg);
  			background-position: 0 -80px;

  			@media (max-width: $small) {
  				background-position: 0 -50px;
  			}
  		}
  		.btn-highlight {
  			background-image: url(/assets/images/icons/bottom-bar-sprite.svg);
  			background-position: 0 -40px;

  			@media (max-width: $small) {
  				background-position: 0 -25px;
  			}
  		}
  		.btn-user {
  			background-image: url(/assets/images/icons/bottom-bar-sprite.svg);
  			background-position: 0 -120px;

  			@media (max-width: $small) {
  				background-position: 0 -75px;
  			}
  		}
  		.btn-conversation {
    		background-image: url(/assets/images/icons/bottom-bar-sprite.svg);
  			background-position: 0 -160px;

  			@media (max-width: $small) {
  				background-position: 0 -100px;
  			}
  		}
  		.btn-feed {
    		background-image: url(/assets/images/icons/bottom-bar-sprite.svg);
  			background-position: 0 -200px;

  			@media (max-width: $small) {
  				background-position: 0 -124px;
  			}
  		}
    }
  }
}

.grv-widget-tag-bottom-right {
    bottom: 60px !important;
    height: 58px;
    width: 58px;
}

/* Custom Icons */

i.flag-icon {
	height: 25px;
	width: 25px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(/assets/images/icons/vendor-profile-icon-set.svg);
	background-position: 0 -200px;

	&.icon-sm {
		height: 19px;
		width: 20px;
		background-position: 0 -160px;
	}

	&.promotion-flag {
		height: 28px;
		width: 28px;
    padding: 5px;
    display: inline-block;
    border-radius: 2px;
    margin: 0 0 0 3px;
    background-position: 0 -224px;
	}

	&.promotion-flag-popup {
		height: 35px;
		width: 35px;
    padding: 5px;
    display: inline-block;
    border-radius: 2px;
    margin: 0 0 0 3px;
    background-position: 0 -280px;
	}
}

i.invite-icon {
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/images/icons/community-icon-set.svg);
  background-position: 0 0;

  &.invite-icon {
    background-position: 0 -54px;
  }
}

.help-icon {
	position: relative;
	color: #fff;
	background-color: $gmp-primary;
	font-size: 16px;
	outline: 0;
	cursor: pointer;
	margin: 5px;
}

.help-rounded {
	box-sizing: content-box;
	padding: 0;
	width: 1.3em;
	height: 1.3em;
	line-height: 1.3em;
	font-size: 20px;
	border: none;
	border-radius: 50%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	vertical-align: top;
	margin: 3px;

	&:after {
		content: '?';
		font-size: 2em;
		font-weight: 700;
	}
}

.network-btn {
	background-color: $gmp-secondary;
}

i.network-icon {
	height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/images/icons/vendor-profile-icon-set.svg);
  background-position: 0 0;
  background-position: 0 -198px;
}

/* User Level Indicators */

.user-level {
	&:before {
    content: '';
    width: 8px;
    height: 8px;
    background: $gmp-background-light-shade;
    border-radius: 5px;
    border: 1px solid $gmp-background-light-shade;
    display: inline-block;
    margin-bottom: 1px;
    margin-right: 5px;
  }

  &.user-level-lg {
  	&:before {
  		margin-bottom: 5px;

  		@media (max-width: $small) {
  			margin-bottom: 3px;
  		}
  	}
  }

  &.level-red {
    &:before {
      background-color: red;
      border: 1px solid red;
    }
  }
}

/* Error Message */

.text-error {
	color: $validation-error-color;
	font-size: 12px;
	margin-bottom: 8px;
}

/* Lightbox Close button Override to Top Right Corner */

.lb-dataContainer {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin-top: -30px;

	.lb-close {
		width: 15px;
		height: 15px;
		background-size: cover;
	}
}

/* Upload progress dialog */

gm-upload-progress-dialog {
	text-align: left;
}

/* Moxie Shim Uploader Component Override */

.moxie-shim {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	input {
		cursor: pointer;
	}
}

/* Upload Preview of Conversation Image */

.feedback-image-upload-container {
  .image-container {
    display: inline-block;
    position: relative;
    margin-top: 10px;

    .profile-image-delete {
      position: absolute;
      right: 0;
      cursor: pointer;
      background-color: rgba(255,255,255,0.7);
      margin: 0;
      z-index: 1;
      display: table-cell;

      &:hover, &:active, &:focus {
        background-color: $gmp-background-tint-shade;
      }

      i {
        &:first-child {
          margin: 3px;
          vertical-align: middle;
        }
      }
    }

    .profile-image-delete {
      top: 0;
      border-radius: 0 0 0 5px;
    }

    a {
      color: $gmp-primary;
    }
  }
}

.feedback-image-upload-filename {
	a {
		cursor: pointer;
	}
	label {
		font-weight: 400;
		display: inline-block;
	}
}

/* Highlight Tree */

.js-tree-custom {
	ul {
		padding: 0;

		li {
			font-size: 16px;
			border-bottom: 5px solid white;
			background-color: $gmp-background-tint-shade;
			padding: 10px 10px 10px 40px;

			span, .sortable-handle {
				font: unset;
				font-size: 20px;
				font-weight: 700;
				float: left;
				color: $gmp-secondary;
				margin-left: -30px;
			}

			.sortable-handle {
				color: $gmp-secondary !important;
			}

			&:hover, &:focus {
				background-color: $gmp-background-tint;
			}
		}
	}
}

/* Paper Progress */

paper-progress {
	display: block;
	width: 100% !important;
	position: relative;
	overflow: hidden;
	padding: 5px 0;
}

.wickedpicker__controls__control-up:before, .wickedpicker__controls__control-down:after {
	font-family: 'Material Icons';
    font-style: normal;
    font-weight: bold;
    speak: none;
    display: inherit;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0px;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: -2px;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-size: 30px;
}

.wickedpicker__controls__control-up:before {
	content: '\E316';
}

.wickedpicker__controls__control-down:after {
	content: '\E313';
}


/* Popover - Tour */

.popover {
	padding: 0;
	border: 2px solid $gmp-background-dark;

	&.static-popover {
		position: fixed;
	}

	&.bottom > .arrow {
		&:after {
			border-bottom-color: $heart-icon-color !important;
		}
	}

	&.right > .arrow {
		&:after {
			border-right-color: $heart-icon-color !important;
		}
	}

	&.left > .arrow {
		&:after {
			border-left-color: $heart-icon-color !important;
		}
	}

	&.top > .arrow {
		&:after {
			border-top-color: $heart-icon-color !important;
		}
	}

	&.bottom {
		border-top: 3px solid $heart-icon-color !important;
	}
	&.top {
		border-bottom: 3px solid $heart-icon-color !important;
	}
	&.left {
		border-right: 3px solid $heart-icon-color !important;
	}
	&.right {
		border-left: 3px solid $heart-icon-color !important;
	}

	&.tour {
		z-index: 2147489999;
		.popover-header {
			text-align: center;
			margin: 0;
			display: table;
			width: 100%;
			border-bottom: 1px solid $gmp-background;
			position: relative;

			.popover-title {
				padding: 12px 14px;
				background-color: white;
				border: none;
				padding-right: 30px;
			}
		}
		.btn-close {
			border: none;
			color: black;
			position: absolute;
			top: 7px;
			right: 7px;
			font-size: 18px;
			width: 18px;
			height: 18px;
			background: url(/assets/images/icons/close.svg) no-repeat center center;
			z-index: 2000 !important;
		}

		.popover-body {
			.progress-bullet-container {
				display: block;
				margin: 5px auto;
				text-align: center;
				min-height: 16px;

				.progress-bullet-active {
					background-color: $gmp-primary;
					border: 2px solid $gmp-primary;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					display:inline-block;
					margin: 0 1px;
				}

				.progress-bullet-visited {
					background-color: $gmp-background-dark;
					border: 2px solid $gmp-background-dark;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					display:inline-block;
					margin: 0 1px;
				}

				.progress-bullet {
					background-color: white;
					border: 2px solid $gmp-background-dark;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					display:inline-block;
					margin: 0 1px;
				}
			}

			.popover-content {
				@media only screen and (orientation: landscape) and (max-width: $small) {
					max-height: 120px;
					overflow: hidden;
					overflow-y: scroll;
				}
			}
		}

		.popover-footer {
			background-color: #fff0;
			border-top: 1px solid $gmp-background;

			.popover-navigation {
				padding: 0;
				width: 100%;
				position: relative;
				display: -webkit-inline-box;
				display: -webkit-inline-flex;
				display: -ms-inline-flexbox;
				display: inline-flex;
				vertical-align: middle;

				button {
					margin: 0;
					position: relative;
					-webkit-box-flex: 0;
					-webkit-flex: 0 1 auto;
					-ms-flex: 0 1 auto;
					flex: 0 1 auto;
					width: 100%;
					padding: 10px 12px;
					border: none !important;
					background-color: white !important;
					color: $gmp-primary;

					&:hover {
						background-color: $gmp-background-tint !important;
					}

					i {
						margin: 0 5px;
					}
				}
			}
		}

		@media (max-width: $small) {
			max-width: 220px;
		}
	}
}

/* See More Container Alternate Pagination */

.see-more-container {
	padding: 0 5px;
	text-align: center;

	.see-more-btn {
		transition: all 0.5s ease;
		font-size: 16px;
		padding: 0;
		display: inline-block;
		color: $gmp-background;
		cursor: pointer;

		.see-more-content {
			text-align: center;

			a {
				transition: all 0.5s ease;
				color: $gmp-background;
				margin: 0;
				display: inline-block;
			}

			i {
			  font-size: 20px;
			  padding: 0 0 0 5px;
			  margin: 0;
			}
		}
	  	&:hover, &:focus {
		    color: $gmp-primary;

		    .see-more-content {
			    a {
			  		color: $gmp-primary;
			  	}
		  	}
		}
	}

	&.message-area {
		margin-top: 16px;
	}
}

/* User Tagging */

.atwho-view {
	ul {
		max-height: 250px;
		li {
			border-bottom: none;
			padding: 10px;
		}
	}

	.cur {
		background-color: $gmp-background-tint;
		color: black;
		font-weight: 700;

		strong {
			color: $gmp-background-shade;
		}
	}

	strong {
		color: $gmp-background-light-shade;
	}
}

//Bookmark Pop Up CSS
.ath-container {
  background: #fff;
  box-shadow: none;
  border: 1px #32742c solid;
  padding: 0;

   &:before {
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 1.9em;
    height: 1.9em;
  }

  .ath-application-icon {
    position: absolute;
    padding: 0;
    border: 0;
    height: 4.6em;
    width: 4.6em;
    margin: -45px 0 0px 7px !important;
    z-index: 2147483642;
    display: inline-block;
    bottom: 0;
    top: 50%;
    left: 0;
    border-radius: 1em;
    border: 1px grey solid;
    box-shadow: none;
  }

  p {
    text-align: left;
    margin: 30px 0 50px 85px;
  }
}

.ath-viewport {
  #closeElement {
    border: 0;
    background: none;
    width: 30px;
    margin-left: 10em;
  }
}

[class*="iron-overlay-backdrop-"].opened {
	&.bg-darker {
		opacity: 0.9;
	}
}

.ath-ios7 .ath-action-icon,
.ath-ios8 .ath-action-icon,
.ath-ios9 .ath-action-icon,
.ath-ios10 .ath-action-icon{
  background-image: url(/assets/images/action-icon-ios7.png);
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  background-size: auto 100%;
}

.ath-ios6.ath-tablet,
.ath-ios7.ath-tablet,
.ath-ios8.ath-tablet,
.ath-ios9.ath-tablet,
.ath-ios10.ath-tablet{
  right: 50%;
  top: 50%;
  margin-right: -135px;
  margin-top: -100px;
}

.ath-ios.ath-phone {
  bottom: auto;
  top: 50%;
  margin-top: -50px;

  &#closeElement {
    margin-left: 7em;
  }
}

.ath-android {
  left: 50%;
  top: 50%;
  margin-top: -110px;
  bottom: auto;

  &#closeElement {
    margin-left: 7em;
  }
}

.ath-container.ath-tablet {
  p {
    margin: 30px 0 50px 85px;
  }

  .ath-application-icon {
    margin: -40px 0 0px 10px !important;
    height: 4em;
    width: 4em;
    box-shadow: none;
  }
}

.ath-container.ath-ios .ath-application-icon {
  box-shadow: none;
}

.do-not-close {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 0 0 5px 0;

  label {
    margin-bottom: 8px;
    padding-left: 10px;
    height: 18px;
    font-size: 0.95em;
    vertical-align: middle;
  }
}

@media only screen and (orientation: landscape) {

	.ath-ios6.ath-phone,
	.ath-ios7.ath-phone,
	.ath-ios8.ath-phone,
	.ath-ios9.ath-phone,
	.ath-ios10.ath-phone {
		left: 50%;

		&#closeElement {
	      margin-left: 10em;
	    }
	}

	.ath-container.ath-android.ath-phone {
		margin-left: -12em;
		.do-not-close{
		   padding: 0 0 5px 0;
		}
	}

	.ath-container.ath-android.ath-tablet {
		&#closeElement {
			margin-left: 7em;
		}
	}

	.ath-android {
	    &#closeElement {
	      margin-left: 10em;
	    }
  	}
}

.ath-container.ath-android.ath-icon:before { right: 0; left: auto; margin: 0; }

.ath-ios.ath-phone:after { width: 0; }

.ath-ios.ath-tablet:after { width: 0; }

.ath-container.ath-android:before { float: right; margin-right :1px;  height: 3em; width: 1.8em; }


