.login-container, .signup-container{
	margin-top:60px;
	font-size:16px;
  max-width:385px;
	.login, .signup{
		position:relative;
//		&:before{
//			position:absolute;
//			left:0px;
//			top:0px;
//			bottom:0px;
//			width:1px;
//			content:'';
//			background:$gmp-background-tint;
//			@media (max-width: 48em) {
//				 display:none;
//			}
//		}
		.inner{
//			padding-left:10px;
//			@media (max-width: 48em) {
//				 padding:0px;
//			}
		}
		label{
			color:$gmp-background;
			font-size:14px;
			font-weight:300;
		}
		a{
			color:$gmp-primary-tint;
			font-size:14px;
		}
		#checkboxLabel{
			font-size:14px;
		}
		@media (max-width: 48em) {
			margin-bottom:60px;
		}
		.login-signup-buttons{
			a {
				margin-right: 5px;
			}
			@media (max-width: 48em) {
				text-align: center;
			}
		}
	}
	.signup{
		&:before{
			display:none;
		}
		.progress{
			background:#cccccc;
			box-shadow: none;
		}
	}
	.social-connect{
		.inner{
//			padding-right:10px;
//			@media (max-width: 48em) {
//				 padding:0px;
//			}
			.btn{
				background:$gmp-primary;
				color:#ffffff;
				&.btn-facebook{
					border-color:#607fc4;
					background:#607fc4;
          font-weight: 400;
				}
				&.btn-google{
					border-color:#e86b62;
					background:#e86b62;
          font-weight: 400;
				}
			}
		}
		margin-bottom: 30px;
	}
	fieldset.hr-line {
    border: none;
    border-top: 1px solid $gmp-background;
    border-bottom: 1px solid transparent;
    text-align: center;
    margin: 15px 0;
    legend {
      padding: 0 15px;
      margin: 0 auto;
      color: $gmp-background;
      width: auto;
      border: 0;
      font-size: 14px;
    }
  }
  .btn .fa { margin-right: 14px; }
  .sub-text-box {
    margin: 12px auto 0;
    text-align: right;
    font-size: 14px;
  }
}
//.signup-container{
//	max-width:385px;	
//}
#facebookLoginDialog, #googleLoginDialog {
  .btn{
    background:$gmp-primary;
    color:#ffffff;
    max-width: 355px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px !important;
    &.btn-facebook{
      border-color:#607fc4;
      background:#607fc4;
    }
    &.btn-google{
      border-color:#e86b62;
      background:#e86b62;
    }
  }
}