.oan-container {
	padding-top: 30px;
	padding-bottom: 50px;

	@media (max-width: $large) {
		padding-top: 15px;
		padding-bottom: 20px;
	}

	.left-section {
		padding-left: 0;
		border-right: 1px solid $gmp-background-tint;
		min-height: 100vh;

		@media (max-width: $large) {
			padding: 0;
			border: none;
			min-height: 0;
		}
	}

	.right-section {
		padding-right: 0;

		@media (max-width: $large) {
			float: none !important;
			padding: 0;
		}
	}

	.tag-header-mobile {
		margin-bottom: 0;
		background-color: $gmp-primary;
		color: white;
		border: 1px solid $gmp-primary;

		.filter-icon {
			display: inline-block;
			vertical-align: middle;
			line-height: 20px;
			height: 20px;
			width: 20px;
			margin-top: -3px;
			margin-right: 5px;
		}

		i {
			color: white;
		}
	}
}

.oan-button {
	margin-bottom: 16px;
}

.oan-card-container {
	text-align: center;
}

.oan-filter-section {
	.sector-question-tree-view .tree-view > ul > li:not(.jstree-leaf) > a {
		display: block;
	}
	.sector-question-tree-view .tree-view > ul > li:not(.jstree-leaf) > a .jstree-checkbox {
		display: inline-block;
	}
}

.oan-card {
	margin-bottom: 16px;
	padding: 16px 8px 8px 8px;
	display: block;
	background-color: white;
	border-radius: 2px 2px 0 0;

	&.oan-need {
		border: 1px solid $need-color;
		border-top: 8px solid $need-color;
	}

	&.oan-offer {
		border: 1px solid $offer-color;
		border-top: 8px solid $offer-color;
	}
}

.oan-header-container {
	position: relative;
	min-height: 98px;

	.oan-picture-container {
		height: 90px;
		width: 90px;
		position: absolute;
		border: 1px solid $gmp-background-tint;
		z-index: 3;

		@media (max-width: $small) {
			height: 70px;
			width: 70px;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;

			iron-image {
				position: inherit;
			}
		}
	}

	.oan-header-sub-container {
		padding-left: 98px;
		display: block;
		text-align: left;
		position: relative;
		z-index: 2;

		.oan-type {
			font-weight: 700;
			font-size: 20px;
			line-height: 1.4em;
			@include ellipsis();

			@media (max-width: $small) {
				font-size: 16px;
			}
		}
		.oan-brandname {
			font-size: 18px;
			@include ellipsis();

			@media (max-width: $small) {
				font-size: 14px;
			}
		}
		.oan-iconset {

	        a {
	          margin: 0;
	          display: inline-block;
	        }

	        .share-icon, .like-icon {
	          font-size: 29px;
	          color: $gmp-primary;
	          padding: 3px;
	          display: inline-block;
	          border-radius: 2px;
	          margin: 0 0 0 3px;

	          &.liked {
	            color: $heart-icon-color;
	          }

	          @media (max-width: $small) {
	          	font-size: 25px;
	          }
	        }

	        .like-icon {
	        	margin-left: 0;
	        	padding-left: 0;
	        }

	        i {
	        	&:hover {
	        		cursor: pointer;
	        	}
	        	&.flag-icon {
	        		background-color: unset;
	        		height: 35px;
	        		width: 35px;
	        		padding: 5px;
	        		display: inline-block;
	        		border-radius: 2px;
	        		background-position: 0 -280px;

	        		@media (max-width: $small) {
	        			height: 30px;
	        			width: 30px;
	        			background-position: 0 -240px;
	        		}
	        	}
	        }
		}

		@media (max-width: $small) {
			padding-left: 78px;
		}
	}

	@media (max-width: $small) {
		min-height: 78px;
	}
}

.oan-body-container {
	display: block;
	text-align: left;

	.oan-title {
		font-size: 20px;
		margin-bottom: 8px;
		line-height: 1.5em;
		@include ellipsis();

		@media (max-width: $small) {
			font-size: 16px;
		}
	}

	.oan-description {
		margin-bottom: 8px;
		display: none;
		white-space: pre-wrap;
	}

	.oan-action-container {
		display: none;
		text-align: left;
		margin-bottom: 8px;

		.btn.btn-primary {
			display: inline-block;
		}
	}

	&.extended-body {
		.oan-title {
			white-space: normal;
			overflow: auto;
			text-overflow: auto;
		}
		.oan-description {
			display: block;
		}

		.oan-action-container {
			display: block;
		}
	}

	.oan-readmore {
		cursor: pointer;
		display: inline-block;
		a {
			margin: 0;
			color: $gmp-primary;
		}

		i {
			padding-left: 5px;
			color: $gmp-primary;
		}
	}
}

.oan-filter-section {
	margin-bottom: 16px;

	.sector-question-tree-view {
		.tree-view {
			ul {
				li {
					a {
						display: block;
					}
				}
			}
		}
	}

	[class*=" paper-checkbox-"] {
		font-size: 16px;
	}

	.oan-filter-body {
		@media (max-width: $small) {
			display: none;
			padding: 8px;
			border: 1px solid $gmp-background-tint;
			border-top: none;
		}
	}
}




















