.content-wrapper{
	padding-top: 70px;
	padding-bottom: 80px;
	@media (max-width: $small) {
		padding-top: 60px;
		padding-bottom: 50px;
	}
}

@mixin public-highlights{
	@media (max-width: $small) {
	}
	.icon{
		text-align: center;
		margin-bottom:30px;
		img{
			display: inline-block;
			width:62px;
			height:62px;
			margin-bottom:12px;
		}
		h3{
			margin:0px;
			font-size:18px;
		}
	}
	.highlight{
		background-color: $gmp-background-tint;
		background-size:cover;
		background-position: center center;
		position: relative;
		height:318px;
		&:after{
			position: absolute;
			left:0px;
			right:0px;
			bottom:0px;
			top:60%;
			z-index: 10;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
			content:'';
			opacity:0.5;
		}
		h4{
			font-size:20px;
			font-weight:700;
			padding:0px 15px;
			position: absolute;
			bottom:15px;
			left:0px;
			right:0px;
			text-align: center;
			margin:0px;
			color:#ffffff;
			text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
			z-index: 20;
		}
	}
	.more{
		padding:15px;
		background: #dfe2ea;
		min-height:100px;
		font-size:16px;
		font-weight:300;
		a{
			color:#386c3c;
			font-weight:400;
			text-decoration: underline;
		}
		@media (max-width: $small) {
			margin-bottom:30px;
			min-height: inherit;
			height:auto;
		}
	}
}

.get-involved-container{
	padding-top:90px;
	padding-bottom:30px;
	.content{
		background-color: $gmp-background-tint;
		background-size:cover;
		background-position: center center;
		position: relative;
		height:360px;
		&:after{
			position: absolute;
			left:0px;
			right:0px;
			bottom:0px;
			top:60%;
			z-index: 10;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
			content:'';
			opacity:0.5;
		}
		h4{
			font-size:20px;
			font-weight:700;
			padding:0px 25px;
			position: absolute;
			bottom:25px;
			left:0px;
			right:0px;
			text-align: center;
			margin:0px;
			color:#ffffff;
			text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
			z-index: 20;
		}
	}
	.more{
		background: $gmp-background-tint;
		text-align: center;
		padding:25px;
		@media (max-width: $x-small) {
			margin-bottom:20px;
		}
		.btn{
			font-size:12px;
			text-transform: uppercase;
			padding:12px 25px;
			&:after{
				content:'';
				display: inline-block;
				width:20px;
				height:10px;
				background:url(/assets/images/icons/arrow-right-white.svg) no-repeat center center;
				margin-left:5px;
			}
		}
	}
}