/* --- Search Box --- */
.search-area {
  padding-top: 20px;
  padding-bottom: 0px;
  @media (max-width: $small) {
    padding-top: 15px;
    padding-bottom: 0px;
  }
  .form-control {
    border: 2px solid $gmp-search-color;
    height: 36px;
    padding: 3px 12px;

    &:focus {
      border-color: $gmp-search-color !important;
    }
  }
  .input-group-btn {
    .btn.btn-primary {
      background-color: $gmp-search-color;
      border: 2px solid $gmp-search-color;
      margin-bottom: 0;
      min-width: 70px;
      height: 36px;
      margin-right: 0;

      &.selected {
        background-color: $gmp-secondary-selected;
      }

      @media (max-width: $small) {
        min-width: 50px;
      }
    }
  }
}
.gm-search-results .search-area {
  padding-bottom: 16px;
}

.search-container {

  input {
    font-size: 16px;

    @media (max-width: $small) {
      font-size: 14px;
    }
  }


  .btn.btn-primary {
    border-color: $gmp-search-color !important;

    @media (max-width: $small) {
      &#filterToggle {
        i {
          margin: 0;
        }
        span {
          display: none;
        }
      }
    }

    &.selected {
      background-color: $gmp-secondary-selected;
    }
  }
}

.filter-icon {
  height: 20px;
  background-image: url(/assets/images/icons/filter-icon.svg);
  background-position: 0 0;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.search-filter-container {
  padding: 0 10px;

  .idle-search-filter {
    text-align: left;

    .inline-header {
      font-size: 16px;
      padding-right: 10px;
      display: inline-block;
      vertical-align: middle;
    }

    paper-checkbox {
      padding: 0;
      margin-top: 8px;
      font-size: 16px;
    }
  }

  .custom-accordion {
    margin-bottom: 0;
    margin-top: 8px;

    .custom-accordion-header {
      text-align: left;
      @include animate(background-color, 320ms);
      h4 {
        line-height: 2.2em;
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        padding-left: 42px;

        @media (max-width: $small) {
          font-size: 13px;
          padding-left: 32px;

          i.material-icons {
            font-size: 16px;
          }
        }
      }

      i.custom-icon {
        position: absolute;
        margin: 8px 0 9px 10px;
        height: 22px;
        width: 22px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(/assets/images/icons/search-filter-icon-sprite.svg);
        background-position: 0 0;

        &.transparent-bg {
          background-color: rgba(250, 0, 0, 0);
        }

        &.filter-icon {
          background-position: 0 0;
        }
        &.sector-icon {
          background-position: 0 -44px;
        }
        &.location-icon {
          background-position: 0 -66px;
        }
        &.focus-icon {
          background-position: 0 -88px;
        }
        &.certification-icon {
          background-position: 0 -109px;
        }
        &.type-icon {
          background-position: 0 -22px;
        }

        @media (max-width: $small) {
          margin: 4px 0 4px 6px;
          height: 20px;
          width: 20px;

          &.filter-icon {
            background-position: 0 0;
          }
          &.sector-icon {
            background-position: 0 -40px;
          }
          &.location-icon {
            background-position: 0 -60px;
          }
          &.focus-icon {
            background-position: 0 -80px;
          }
          &.certification-icon {
            background-position: 0 -100px;
          }
          &.type-icon {
            background-position: 0 -20px;
          }
        }
      }
    }

    .custom-accordion-body {
      text-align: left;

      a {
         margin: 0;
         display: block;
      }

      #checkboxContainer {
        margin-left: 30px;
      }
      #checkboxLabel {
        padding-left: 10px;
      }
    }

    &.selected {
      .custom-accordion-header {
        background-color: $gmp-secondary-selected;
      }
    }
  }

  .sector-question-tree-view .tree-view > ul > li.jstree-leaf {
    margin-left: 28px;
  }
  .sector-question-tree-view .tree-view > ul > li:not(.jstree-leaf) > a {
    display: block;
  }
  .sector-question-tree-view .tree-view > ul > li:not(.jstree-leaf) > a .jstree-checkbox {
    display: inline-block;
  }
}

.oan-search-container {
  &.search-area {
    margin-bottom: 16px;
    .form-control {
      border-color: $gmp-primary;

      &:focus {
        border-color: $gmp-primary !important;
      }
    }
  }
  .search-container {

    .btn.btn-primary {
      background-color: $gmp-primary !important;
      border-color: $gmp-primary !important;
      @include animate(background-color, 320ms);
      &.selected {
        background-color: $gmp-primary-shade !important;
      }
    }
  }

  .search-filter-container {
    .custom-accordion {
      .custom-accordion-header {
        background-color: $gmp-primary;
        @include animate(background-color, 320ms);
      }

      &.selected {
        .custom-accordion-header {
          background-color: $gmp-primary-shade;
        }
      }
    }

  }
}

/* --- Search Results --- */
.search-results {
  .btn-group {
    margin-bottom: 16px;
    .btn-primary {
      display: table-cell;
    }
    .btn-primary.active {
      background-color: $gmp-background-tint;
      color: $gmp-background;
      box-shadow: none;
    }
  }
  .search-results-list {
    list-style: none;
    margin: 0;
    padding: 0 0 10px 0;
    border-top: 1px solid $gmp-background-tint;
    .search-result-list-item {
      a {
        &:hover, &:focus {
          text-decoration: none;
        }
      }
      li {
        margin: 0;
        padding: 8px;
        cursor: pointer;
        border-bottom: 1px solid $gmp-background-tint;

        // &:first-of-type {
        //   border-top: 1px solid $gmp-background-tint;
        //   padding-top: 8px;
        // }
        &:hover, &:active, &:focus {
          background-color: #f5f5f5;
        }
      }
    }
  }
  .search-result-row {
    display: table;
  }
  .search-result-col {
    display: table-cell;
    vertical-align: middle;
  }
  .search-result-logo {
    height: 65px;
    width: 65px;
    @media (min-width: $large) {
      height: 70px;
      width: 70px;
    }
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid $gmp-background-tint;
    background-color: #fff;
    position: relative;
    iron-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .search-result-details {
    margin-left: 8px;
    h2 {
      margin: 0;
      font-size: 16px;
      line-height: 1.2;
      @media (min-width: $large) {
        font-size: 18px;
      }
      color: $gmp-primary;
      span {
        margin-right: 8px;
        color: $gmp-background-shade;
      }
    }
    p {
      font-size: 14px;
      margin: 0;
      color: $gmp-background;
    }
    .thumbs-container {
      img {
        height: 24px;
        max-height: 24px;
      }
    }
  }
  .map-wrapper {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    background-color: $gmp-background;
    border: 1px solid $gmp-background-tint;
    google-map {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  .search-results-loading {
    padding: 120px 0 480px;
  }
}

/* --- Pagination styling for the public side --- */
.table-paging {
  margin-top: 15px;
  padding: 12px 10px;
  border-top: solid 1px $gmp-background-tint;
  border-bottom: solid 1px $gmp-background-tint;
  .pagination {
    margin: 0px;
    font-weight: 700;
    color: $gmp-background;
    .icon-left, .icon-right {
    }
    label {
      margin: 0 5px;
      float: left;
    }
    a {
      color: $gmp-primary;
      margin: 0 5px;
      cursor: pointer;
      text-decoration: none;
      float: left;
      label {
        cursor:pointer;
      }
      &:hover, :focus {
        color: $gmp-primary-shade;
      }
    }
    .current-page{
      //width:24px;
      padding:2px 0px;
      border-radius: 2px;
      display: inline-block;
      text-align: center;
      color: $gmp-background-shade;
    }
  }
}