@mixin tree-view{
	.tree-view{
		> ul{
			> li{
				background:url(/assets/images/admin/tree-view-drag-indicator.png) repeat-y !important;
				position:relative;
				&:before{
					content:' ';
					width:30px;
					height:30px;
					position: absolute;
					top:0px;
					left:0px;
					background: $gmp-primary-shade;
					z-index: 100;
				}
        &:not(.jstree-leaf){
          > a{
            .jstree-checkbox{
              display: none;
            }
          }
				}
        &.jstree-leaf{
          .jstree-ocl{
            display:none;
          }
          a{
            padding-left: 2px;
          }
        }
			}
		}
		ul{
			li{
              position: relative;
              background: none;
              .jstree-ocl {
                position: absolute;
                background: url(/assets/images/admin/tree-view-close.svg) no-repeat center;
                background-size: 24px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                z-index: 250;
              }
              &.jstree-open {
                > .jstree-ocl {
                  background: url(/assets/images/admin/tree-view-open.svg) no-repeat center;
                  background-size: 24px;
                }
              }
				&.jstree-leaf{
					> .jstree-ocl{
						background:none;
					}
				}
				a{
					color:#ffffff;
					font-size:14px;
					display:block;
					padding-left: 30px;
					border:none;
					border-radius: 0px;
					box-shadow: none !important;
					height:30px;
					line-height: 30px;
					position: relative;
					z-index: 200;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					&:hover{
						background: none;
					}
					.jstree-icon{
						display:none;
					}
					&.jstree-clicked{
						color: $gmp-primary;
						background:$gmp-background-tint;
					}
				}
			}
		}
	}
}

// Over ride for fixing hover state
.jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover, .jstree-default .jstree-checked > .jstree-checkbox:hover {
    background-position: 0 0;
}

.gm-highlight-tree-disabled {
  position:relative;

}
.gm-highlight-tree-disabled:before{
  position:absolute;
  background:rgba(0,0,0,0);
  content:'';
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  z-index:500;
}