$main-font:  'Noto Sans', 'Noto Sans Sinhala', 'Noto Sans Tamil', sans-serif;

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    //margin:0px;
    font-weight: 400;
}

$line-height: 1.42857143;

.page-title{
	background:$gmp-background-tint;
	position: relative;
	background:#ffffff url(/assets/images/static-content-header-bg.svg) no-repeat center center;
	background-size:cover;
	h1{
		font-size:28px;
		font-weight:700;
		color:$gmp-background-shade;
		margin:0px;
		text-align: center;
		position: relative;
		z-index: 30;
		padding:50px 0px;
		@media (max-width: $x-small) {
			font-size:24px;
			padding:40px 0px;
		}
	}
	&:after{
		position: absolute;
		top:0px;
		left:0px;
		right:0px;
		bottom:0px;
		background: rgba(255,255,255,0.6);
		content: '';
		display: block;
		z-index: 1;
	}
}

//vendor form headers
@mixin vendor-form-headers{
		h1{
            font-size:28px;
            font-weight:700;
            margin:0px;
            margin-bottom: 30px;
			@media (max-width: $x-small) {
				font-size:24px;
			}
        }
        h2{
            font-size:24px;
            font-weight:400;
            margin:0px;
            margin-bottom:28px;
            padding-right: 70px;
    		line-height: 34px;
			@media (max-width: $x-small) {
				font-size:20px;
			}
        }
        h3{
            font-size:18px;
            font-weight:400;
            border-bottom:solid 1px $gmp-review;
            padding-bottom:5px;
            margin:0px;
            margin-bottom:10px;
			padding-right:70px;
			line-height: 30px;
			word-wrap: break-word;
			@media (max-width: $x-small) {
				font-size:16px;
			}
            input#help{
                border:none;
                width:15px;
                height:15px;
				background: url(/assets/images/icons/help.svg) no-repeat center center;
                color: #ffffff;
				text-indent: -9999px;
				line-height: 0px;
				z-index: 100;
				position: relative;
              margin-left: 5px;
            }
        }
}

@mixin vendor-form-pager-item-selected($color-1, $color-2){
	&:before{
		background: $color-1;
		background: -moz-linear-gradient(left,  $color-1 0%, $color-2 100%);
		background: -webkit-linear-gradient(left,  $color-1 0%,$color-2 100%);
		background: linear-gradient(to right,  $color-1 0%,$color-2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-1', endColorstr='$color-2',GradientType=1 );

	}
}
