.my-profile-container {

  padding-top: 20px;

  .profile-container {
    padding-top: 1em;

    .profile-info {
      width: auto;
      margin-bottom: 0px;
      margin-top: -60px;
      padding: 10px 10px 10px 0px;

      @media (max-width: $small) { margin-top: -60px; }

      .profile-logo {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        border: 1px solid $gmp-background-tint;
        height: 70px;
        width: 70px;
        vertical-align: top;
        display: block;
        position: absolute;
        display: table-cell;
        padding-left: 0px;
      }

      .profile-name {
        padding-left: 90px;
        padding-top: 20px;
        height: 70px;
        width: auto;
        position: relative;
        display: table-cell;
        overflow: hidden;

        @media (max-width: $small) { padding-top: 25px; }

        h3 {
          font-size: 25px;
          font-weight: 500;
          margin: 0px;

          @media (max-width: $small) { font-size: 20px; }
        }

        p {
          font-size: 16px;
        }
      }
    }

    hr {
      margin: 5px 0px 15px 0px;
    }
  }

  a {
    &.is-open h4 i.material-icons {
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Safari */
      transform: rotate(180deg);
    }
  }

  .custom-accordion {

    .profile-help {
      border: none;
      width: 20px;
      height: 20px;
      background: url(/assets/images/icons/help-white.svg) no-repeat center center;
      color: #ffffff;
      text-indent: -9999px;
      line-height: 1;
      z-index: 100;
      position: static;
      padding-left: 2em;
      right: 0px;
      top: 15px;
    }

    .custom-accordion-body {

      a {
        &.btn {
          text-transform: capitalize;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      .table-container {
        margin-bottom: 16px;

        .table-responsive {
          margin-bottom: 0;
        }
      }

      .vendor-info-table {
        margin: 0;

        @media ( max-width: $small ) { margin : 0; }

        brand-name-column {
          width: 60%;
          @media ( max-width: $small ) { max-width: 100px; min-width: 100px; white-space: normal; }
        }

        a {
          margin: 0;
        }

        .name{
          width:100%;
          h4{
            font-size: 16px;
            margin:0px;
            padding:0px 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: initial;
            position: relative;
            z-index: 20;
            text-align: left;
            cursor: default;

            @media (max-width: $small) {
              font-size: 12px;
              padding: 0px 6px;
            }
          }
        }
        .plan{
          width:40%;
          background:$gmp-background-tint;
          font-size:16px;
          .btn{
            border:none;
            font-size:12px;
            text-transform: capitalize;
            background:$gmp-primary-tint;
            margin-top:10px;
          }
        }
        .logo{
          width:auto;
          min-width: 40px;
          height:40px;
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
          overflow: hidden;
          position: relative;
          z-index: 8;

          img {
            position: absolute;
            max-width: 40px;
            max-height: 40px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
        td{
          border: none;
          border-top:solid 1px $gmp-background-tint-shade;
  				border-bottom:solid 1px $gmp-background-tint-shade;
          @media (max-width: $small) { padding: 0 5px 0 5px; font-size: 12px; }
        }

        @media (max-width: $small) { .logo { width: 45px; height: 45px; img { max-width: 45px; max-height: 45px; } } }

        @media
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

          .name {
            h4 {
              text-align: center;
            }
          }

          .logo {
            margin: 0 auto;
          }

          table, thead, tbody, th, td, tr {
            display: block;
          }

          a {
            width: 60px;
            margin: 0 auto;
            font-size: 10px;
          }

          thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
          }

          tr { border: 1px solid #ccc; }

          td {
            border: none;
            border-bottom: 1px solid #eee;
            padding: 5px;
            position: relative;
            text-align: center;
            white-space: initial;

            [class*=" paper-button-"] {
              font-size: 10px;
              height: 14px;
            }
          }
        }
      }

      .credit-table-container, .point-table-container, .invite-table-container, .highlight-table-container, .subscription-table-container {
        max-height: none;
        margin-bottom: 16px;
      }

      .team-table-container, .network-table-container {
        max-height: none;
        margin-bottom: 16px;
      }

      .network-member-table, .networks-table {
        .logo {
          display: inline-block;
          img {
            height: 60px;
            width: 60px;
            margin-right: 6px;
          }
        }

        .name {
          display: inline-block;
        }

        td,th {
          padding: 14px;
          white-space: normal;
        }

        td {
          padding: 5px 10px;
          white-space: normal;
          border: solid 1px $gmp-background-tint;
          font-size: 16px;
          line-height: 1.2em;

          @media (max-width: $small) { font-size: 12px; }

          [class*= "paper-button-"], a.btn-table {
            margin-bottom: 0;
            &.delete{
              padding:0px;
              padding-top: 0.3em;
              border:none;
              width:10%;
              min-width: 1em;
              color:$gmp-background;
              background:none;
              font-size:24px;
              position: initial;

              &:hover {
                color: #A51500;
              }

              paper-ripple {
                top: inherit;
                opacity: 0;
              }
            }
          }
        }

        @media
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

          table, thead, tbody, th, td, tr {
            display: block;
          }

          thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
          }

          tr { border: 1px solid #ccc; }

          .name {
            display: block;
            margin-top: 5px;
          }

          td {
            border: none;
            border-bottom: 1px solid #eee;
            padding: 5px;
            position: relative;
            padding-left: 30%;
            text-align: left;
            white-space: initial;

            [class*=" paper-button-"] {
              margin-left: 0;
            }
          }

          td:before {
            position: absolute;
            left: 6px;
            width: 25%;
            white-space: nowrap;
            text-align: left;
          }
        }
      }

      .network-member-table {

        @media
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

          td:nth-of-type(1):before { content: "Name"; }
          td:nth-of-type(2):before { content: "Date Added"; }
        }
      }

      .networks-table {

        @media
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

          td:nth-of-type(1):before { content: "Name"; }
        }
      }

      .team-table {
        .logo {
          img {
            height: 60px;
            width: 60px;
          }
        }

        td {
          padding: 5px 10px;
          white-space: normal;
          border: solid 1px $gmp-background-tint;
          font-size: 16px;
          line-height: 1.2em;

          @media (max-width: $small) { font-size: 12px; }
        }

        @media
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

          table, thead, tbody, th, td, tr {
            display: block;
          }

          thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
          }

          tr { border: 1px solid #ccc; }

          td {
            border: none;
            border-bottom: 1px solid #eee;
            padding: 5px;
            position: relative;
            text-align: center;
            white-space: initial;

            [class*=" paper-button-"] {
              font-size: 10px;
              height: 14px;
            }
          }
        }
      }

      .subscription-table-container {
        h5 {
          font-size: 20px;
          font-weight: 300;
          margin: 0 0 16px 0;
          text-transform: capitalize;
          text-align: left;
        }
      }

      .highlight-table-container {
        padding-bottom: 15px;
      }

      .invite-section {
        [class*=" paper-button-"] {
          margin: 0;
        }
      }

      .subscription-modal-content {
        .sub-table {
          th {
            background-color: $gmp-secondary;
            color: white;
          }
          td {
            i {
              color: $gmp-secondary;
            }
          }
        }
      }

      .subscription-modal-cancel {
        .uil-rolling-css {
          display: block;
          margin-right: auto;
          margin-left: auto;
          transform: scale(0.3);
          margin-top: -50px;
          margin-bottom: -50px;
        }
        .button-spinner {
          position: initial;
          display: block;
          width: inherit;
          height: inherit;
        }
        .uil-text {
          display: block;
          p {
            text-align: center;
          }
        }
      }

      .subscribe-section-header {
        a {
          color: $gmp-primary;
          cursor: pointer;

          &:hover, &:focus {
            text-decoration: underline;
          }
        }
        .card-section, .link-section {
          display: block;
        }
        .card-section {
          margin-bottom: 8px;
          text-align: center;
          left: 0;
          p {
            font-size: 24px;
            margin: 0;
          }
          img {
            padding: 0 10px;
          }
        }
        .link-section {
          right: 0;
          a {
            display: inline-block;
            text-align: right;
            padding: 0 5px;
            font-size: 14px;
            margin-bottom: 16px;
          }
        }
      }

      .subscribe-section-footer {
        padding: 15px 0 0 0;
        text-align: right;
        a {
          text-decoration: none;
          color: $gmp-primary;
        }
      }

      .add-credit-table {
        th {
          padding: 14px;
          white-space: nowrap;
        }
        td {
          padding: 8px;
          vertical-align: top;
        }
      }

      .credit-table, .point-table {
        td,th {
          padding: 14px;
          white-space: normal;
        }

        td {
          [class*=" paper-button-"] {
            min-width: 1em;

            #background {
              width: 0;
              height: 0;
            }

            #waves {
              width: 0;
              height: 0;
            }
          }
        }

        @media
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

          table, thead, tbody, th, td, tr {
            display: block;
          }

          thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
          }

          tr { border: 1px solid #ccc; }

          td {
            border: none;
            border-bottom: 1px solid #eee;
            padding: 5px;
            position: relative;
            padding-left: 30%;
            text-align: left;
            white-space: initial;

            [class*=" paper-button-"] {
              font-size: 10px;
              height: 14px;
            }

          }

          td:before {
            position: absolute;
            left: 6px;
            width: 25%;
            white-space: nowrap;
            text-align: left;
          }
        }
      }

      .credit-table {
        @media
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

          td:nth-of-type(1):before { content: "Date"; }
          td:nth-of-type(2):before { content: "Credit"; }
          td:nth-of-type(3):before { content: "Description"; }
        }
      }

      .point-table {
        @media
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

          td:nth-of-type(1):before { content: "Date"; }
          td:nth-of-type(2):before { content: "Point"; }
          td:nth-of-type(3):before { content: "Description"; }
        }
      }

      .subscription-table {
        td,th {
          padding: 14px;
          white-space: normal;
        }

        td {
          [class*=" paper-button-"] {
            min-width: 1em;

            #background {
              width: 0;
              height: 0;
            }

            #waves {
              width: 0;
              height: 0;
            }
          }
        }

        @media
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

          table, thead, tbody, th, td, tr {
            display: block;
          }

          thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
          }

          tr { border: 1px solid #ccc; }

          td {
            border: none;
            border-bottom: 1px solid #eee;
            padding: 5px;
            position: relative;
            padding-left: 30%;
            text-align: left;
            white-space: initial;

            [class*=" paper-button-"] {
              font-size: 10px;
              height: 14px;
            }
          }

          td:before {
            position: absolute;
            left: 6px;
            width: 25%;
            white-space: nowrap;
            text-align: left;
          }

          td:nth-of-type(1):before { content: "Date"; }
          td:nth-of-type(2):before { content: "Type"; }
          td:nth-of-type(3):before { content: "Amount"; }
        }
      }

      .invite-table {

        th {
          padding: 14px;
          white-space: nowrap;
        }
        td {
          padding: 5px;
          white-space: nowrap;

          paper-button {
            margin: 0;
          }
        }

        @media
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

          table, thead, tbody, th, td, tr {
            display: block;
          }

          thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
          }

          tr { border: 1px solid #ccc; }

          td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 30%;
            text-align: left;

            [class*=" paper-button-"] {
              font-size: 10px;
            }

          }

          td:before {
            position: absolute;
            left: 6px;
            width: 25%;
            white-space: nowrap;
            text-align: left;
          }

          td:nth-of-type(1):before { content: "Email"; }
          td:nth-of-type(2):before { content: "Status"; }
        }
      }

      .highlight-table {

        th {
          padding: 14px;
          white-space: nowrap;
        }
        td {
          padding: 5px;
          white-space: nowrap;

          paper-button, a {
            margin: 0;
          }

          [class*=" paper-button-"] {

            &.delete {
              min-width: 1em;
            }

            #background {
              width: 0;
              height: 0;
            }

            #waves {
              width: 0;
              height: 0;
            }
          }

          [class*=" paper-toggle-button-"] {
            &[active]
            {
              .toggle-bar {
                background-color: $gmp-primary;
              }

              .toggle-button {
                background-color: $gmp-primary;
              }
            }

            .toggle-container {
              margin-left: auto;
              margin-right: auto;
            }
          }

          a {
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }

          [class*=" paper-button-"] {
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }

          .toggle-container {
            margin-left: auto;
            margin-right: auto;
          }

          &.highlight-title-column {
            max-width: 250px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }

        @media
        only screen and (max-width: 760px), (max-device-width: 768px) and (max-device-width: 1024px)  {

          table, thead, tbody, th, td, tr {
            display: block;
          }

          thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
          }

          tr { border: 1px solid #ccc; }

          td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 30%;
            text-align: left;

            [class*=" paper-button-"], a.btn-table {
              font-size: 10px;
              height: 22px;

              &.delete {
                font-size: 18px;
              }
            }

            &.highlight-title-column {
              width: 100%;
              max-width: none;
            }

            &.highlight-status-column {
              .toggle-container {
                margin-left: 0;
                margin-right: auto;
              }
            }
          }

          td:before {
            position: absolute;
            left: 6px;
            width: 25%;
            white-space: nowrap;
            text-align: left;
          }

          td:nth-of-type(1):before { content: "Date"; }
          td:nth-of-type(2):before { content: "Type"; }
          td:nth-of-type(3):before { content: "Title"; }
          td:nth-of-type(4):before { content: "Status"; }
        }
      }

      [class*=" paper-button-"] {
        right: 0;
      }

      .btn-container {
        display: inline-block;
        position: relative;
        width: 100%;

        .btn-add {
          box-sizing: content-box;
          padding: 0;
          width: 1em;
          height: 1em;
          line-height: 1em;
          font-size: 40px;
          border-radius: 50%;
          position: absolute;
          right: 0;
          min-width: 1em;
          margin-right: 0;

          .material-icons {
            margin: 0 0 9px 0;
            font-size: 30px;
          }
        }

        &.plus-button-right {
          display: block;
        }
      }

      .btn-boost {
        margin-bottom: 16px;
      }

      .btn-add {
        border-radius: 15px;
      }

      .credit-label {
        display: inline;
        font-weight: 600;
        font-size: 30px;
        padding-right: 15px;
        padding-left: 5px;
      }

      .point-label {
        padding: 0 80px;
        font-weight: 300;

        @media (max-width: $small) {
          padding: 0 40px;
        }
      }

      .credit-point-container
      {
        margin: 0 5px;
        margin-bottom: 16px;
      }

      @media (max-width: $small) {
        .credit-point-container
        {
          span {
            display: inline-block;
            margin: 5px;
          }
          .credit-label {
            padding-right: 0;
          }
        }
      }
    }
  }

  [class*=" paper-dialog-"] {

    padding: 0;
    max-width: 500px;

    [class*=" paper-dialog-scrollable"] {
       .scrollable.paper-dialog-scrollable {
        padding: 0 15px;
        position: relative;
       }

       .sector-modal-content {
        border: none;
        padding: 2px 0;
       }
    }

    @media ( max-width: $x-small) {
      max-width: 80%;
      min-width: 300px;

      [class*=" paper-dialog-scrollable"] {
        min-width: 100%;
      }
    }

    .field-container {

      text-align: left;

      h3 {
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 5px;
        margin: 0px;
        padding-right: 70px;
        line-height: 30px;
        word-wrap: break-word;
      }

      h4 {
        font-size: 16px;
        font-weight: 400;
        padding-top: 10px;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
        margin: 0px;
        margin-bottom: 10px;
        line-height: 25px;
        word-wrap: break-word;
      }
    }

    .modal-buttons {
      border: none;
      padding: 0 0 0 0;
      text-align: center;

      .btn {
        margin-bottom: 2px;
        margin-top: 2px;
      }

      .btn-primary[disabled] {
        background-color: $gmp-primary;
        &:hover {
          background-color: $gmp-primary;
        }
      }
    }

    [class*=" paper-input-container-"] {
      &:focus {
        outline-color: $gmp-primary;
      }
      .focused-line.paper-input-container {
        border-bottom: 2px solid $gmp-primary;
      }
    }
  }

  .btn.btn-primary.btn-filters {
    background-color: $gmp-secondary;
  }
  .btn.btn-primary.btn-clear-filters {
    background-color: #fff;
    color: $gmp-primary;
    box-shadow: none;
    &.disabled {
      color: $gmp-background;
    }
  }
  .btn.btn-primary {
    @media (max-width: $x-small) {
      max-width: 769px;
    }
  }

	.profile-content-block{

    paper-radio-button {
      padding-left: 10px;
      cursor: default;

      @media (max-width: $small) {
        padding-left: 0;

        .table-responsive {
          margin-bottom: 0;
        }
      }
    }

    [class*=" paper-radio-button-"], [class*=" paper-checkbox-"] {
      padding-bottom: 0;
    }
    [class*=" paper-radio-button-"] {
      padding-right: 0;

      #radioContainer {
        .paper-radio-button {
          cursor: pointer;
        }
      }

      #radioLabel {
        min-width: 100%;
        margin-left: 0;

      }

      #ink {
        top: -2px;
        left: -2px;
        width: 20px;
        height: 20px;
      }
    }

    @media (max-width: $small) {
      .gm-user-profile-managed-form-detail { padding: 0; }

      [class*=" paper-radio-button-"] { margin: 0; }
    }

    paper-radio-group {
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
      paper-radio-button {
        width: 100%;
      }
    }

		h3{
			font-size:20px;
			font-weight:700;
			margin:0px;
			padding-top:15px;
      min-height: 24px;
			position: relative;
			padding-bottom:24px;
			input#help{
        border:none;
        width:22px;
        height:22px;
				background: url(/assets/images/icons/help.svg) no-repeat center center;
        color: #ffffff;
				text-indent: -9999px;
				line-height: 0px;
				z-index: 100;
				position: absolute;
				right:0px;
				top:15px;
      }
		}
		.add-new-profile{
			background:$gmp-background-tint url(/assets/images/icons/add-profile.svg) no-repeat 10px center;
			background-size:48px 48px;
			padding:10px 10px 10px 68px;
			color:$gmp-background;
			line-height: 44px;
			display: block;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: #eaeaea;
      }
		}
		.table-responsive{
			@media (max-width: $small){
        border: none;
			}
		}
    .gm-user-profile {
      .table-responsive {
        overflow-x: inherit;
        height: 100%;
        -ms-overflow-style: none;
      }
    }
		.highlights{
			@include public-highlights;
			.icon{
				h3{
					padding:0px;
				}
			}
		}
		.my-details{
			padding-left:155px;

			@media (max-width: $x-small){
				padding:0px;
			}
			img.logo{
				float:left;
				width:120px;
				heightr:120px;
				display: block;
				margin-left:-155px;
				background:$gmp-primary;

				@media (max-width: $x-small){
					float:none;
					margin:0px 0px 20px 0px;
				}
			}
			.details{
				.detail{
					font-size:16px;
					margin-bottom:16px;
					label{
						color:$gmp-background;
						font-weight:500;
					}
					h4{
						margin:0px;
						font-weight: 400;
					}
				}
			}
		}
	}
}

.page-title {

  &.profile-header {

    &::after {
      background: none;
      pointer-events: none;
    }

    background: none;
    padding-top: 20px;
    position: relative;
    background-size: cover;

    .user-email-container {
      display: block;
      position: relative;

      .user-email {
        display: inline-table;
        line-height: $line-height;

        @include ellipsis();

        @media (max-width: $small) {
          display: inline-block;
          min-width: 20%;
          max-width: 80%;
        }
      }

      a {
        i {
          vertical-align: middle;
        }

        @media (max-width: $small) {
          display: inline-block;
          vertical-align: top;
          padding-top: 10px;
        }
      }

      .profile-email-editor {
        padding: 8px 0;
        display: table-cell;
        vertical-align: middle;
        position: relative;

        @media (min-width: $small) {
          min-width: 360px;
        }

        .profile-email-input {
          input {
            font-size: 18px;
            font-weight: 400;
            padding: 0;

            @media (max-width: $x-small) {
              font-size: 16px;
            }
          }
        }

        [class*=" paper-button"] {
          background-color: $gmp-primary;
          color: white;
          height: 25px;
          margin-left: 5px;
          margin-right: 0;
          margin-top: 2px;
          min-width: 20px;
          float: right;

          [class*=" iron-icon-"] {
            color: white;
          }

          paper-ripple {
            top: inherit;
            opacity: 0;
          }
        }

        [class*=" paper-button"][disabled] {
          background-color: $gmp-background-tint;
          [class*=" iron-icon-"] {
            color: $gmp-background;
          }
        }

        [class*=" paper-input-error-"] {
          white-space: normal;
          line-height: 14px;
          width: 60%;
        }
      }
    }

    .profile-image-container {
      position: absolute;
      background-color: white;
      border: 1px solid $gmp-primary;
      height: 140px;
      width: 140px;
      top: 20px;

      @media (max-width: $x-small) {
        height: 90px;
        width: 90px;
      }

      gm-grid-image {
        height: 100%;
        width: 100%;
        display: block;

        iron-image {
          display: block;
        }
      }

      .profile-image {
        width: 100%;
        height: 100%;
        top: 0;
        background-color: $gmp-background-tint;
      }

      .profile-image-delete {
        position: absolute;
        right: 0;
        cursor: pointer;
        background-color: rgba(255,255,255,0.7);
        margin: 0;
        z-index: 1;
        display: table-cell;
        color: $gmp-primary;

        &:hover, &:active, &:focus {
          background-color: $gmp-background-tint-shade;
        }

        i {
          &:first-child {
            margin: 3px;
            vertical-align: middle;
          }
        }
      }

      .profile-image-delete {
        top: 0;
        border-radius: 0 0 0 5px;
      }

      .profile-image-uploader {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 24px;
        width: 24px;

        gm-file-upload {
          display: block;
          position: relative;

          paper-spinner {
            display: none;
          }

          paper-button {
            padding: 0;
            margin: 0;
            width: 24px;
            height: 24px;
            min-width: 0;
            cursor: pointer;
            background-color: rgba(255,255,255,0.7);
            border-radius: 5px 0 0 0;
            cursor: pointer;
            z-index: 0;

            &:hover, &:active, &:focus {
              background-color: $gmp-background-tint-shade;
            }

            .material-icons {
              height: 18px;
              width: 18px;
              margin: 3px;

              &.image-upload {
                color: $gmp-primary;

                &:before {
                  content: '\E439';
                }
              }
            }
          }
        }
      }
    }

    .profile-detail-container-editor {
      display: inline-block;

      .profile-name-editor {
        display: table-cell;
        vertical-align: middle;
        position: relative;

        @media (min-width: $small) {
          min-width: 360px;
        }

        .profile-name-input {
          input {
            font-size: 28px;
            font-weight: 700;
            padding: 0;

            @media (max-width: $x-small) {
              font-size: 20px;
            }
          }
        }

        [class*=" paper-button"] {
          background-color: $gmp-primary;
          color: white;
          height: 25px;
          margin-left: 5px;
          margin-right: 0;
          margin-top: 2px;
          min-width: 20px;
          float: right;

          [class*=" iron-icon-"] {
            color: white;
          }

          paper-ripple {
            top: inherit;
            opacity: 0;
          }
        }

        [class*=" paper-button"][disabled] {
          background-color: $gmp-background-tint;
          [class*=" iron-icon-"] {
            color: $gmp-background;
          }
        }
      }

      .profile-name-edit {
        cursor: pointer;
        padding: 6px;
        i {
          line-height: 1.4em;
          margin: 0;
        }
      }
    }

    .profile-detail-container {
      left: 0;
      padding-left: 155px;
      min-height: 145px;
      vertical-align: middle;

      @media (max-width: $x-small) {
        min-height: 90px;
        padding-left: 100px;
      }

      h1 {
        font-size: 28px;
        font-weight: 700;
        color: $gmp-background-shade;
        margin: 0px;
        text-align: left;
        position: relative;
        z-index: 30;
        padding: 0;
        display: inline-block;

        @media (max-width: $x-small) {
          font-size: 20px;
        }
      }

      a {
        cursor: pointer;
      }
    }

    .error-message {
      display: block;
      position: relative;

      p {
        font-size: 12px;
        color: $validation-error-color;
        margin: 0;
      }
    }
  }

  .header-btn-container {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    margin-right: 2px;
    max-width: 350px;

    a {
      margin-top: 2px;

      @media (max-width: $small) {
        min-width: 55px;
        margin-right: 2px;
      }

    }

    .btn-resource {
      min-width: 338px;

      @media (max-width: $small) {
        min-width: 170px;
      }
    }
  }

}

.user-guide, .user-preferences {
  display: block;
  margin-bottom: 8px;
  a {
    margin: 0;
    cursor: pointer;
    font-weight: 700;

    &.btn {
      font-weight: 400;
    }
  }
}

.detail-header {
  padding: 0;
}

.sub-detail-header {
  display: table;
  height: 160px;
  padding: 20px 0 0;

  @media (max-width: $small) {
    display: block;
    height: auto;
    padding: 0;
  }
}

.page-sub-header {
  display: table-cell;
  border-left: 8px solid white;
  background-color: $gmp-background-tint-shade;
  text-align: center;
  vertical-align: middle;
  min-width: 140px;
  padding: 0 5px;

  .counter {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
  }

  label {
    display: block;
    color: $gmp-background-dark;
    margin-bottom: 0;
    font-weight: 400;
  }

  paper-button {
    display: inline-block;
  }

  @media (max-width: $small) {
    display: block;
    height: auto;
    border-left: none;
    border-top: 8px solid white;
    padding: 10px 5px;
  }
}

.help-modal {

  [class*=" paper-dialog-"] {
    max-width: 700px;
  }

  #helpDialog, #orderHelpDialog {
    padding: 0;

    .goodm-dialog-body {
      padding: 20px 10px 30px 10px;
    }
  }
}

.div-table{
  display:table;
  width:100%;
  margin: auto;
  // border-spacing:5px;
}

.div-header-row{
  display:table-header-group;
  background-color:$gmp-background-tint;
  // width:auto;
  // clear:both;

  .div-header-cell {
    float:left;
    display:table-cell;
    // width:210px;
    background-color:$gmp-background-tint;
    padding: 14px;
    white-space: nowrap;
    font-weight: 700;
    font-size: 16px;
    border-right: solid 1px $gmp-background-tint-shade;
    border-bottom: none;
    line-height: 1.2em;

    &:last-of-type {
      border-right: solid 1px $gmp-background-tint;
    }

  }
}
.div-table-row {
  display:table-row-group;
}
.div-table-col {
  float:left;
  display:table-cell;
  padding: 5px;
  white-space: nowrap;
  border-right: solid 1px $gmp-background-tint;
  border-bottom: solid 1px $gmp-background-tint;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  border-collapse: collapse;
  line-height: 2em;
  white-space: normal;
  height: 50px;
  text-decoration: none !important;

  &:first-of-type {
    border-left: solid 1px $gmp-background-tint;
  }

  span {
    vertical-align: middle;
    line-height: 2em;
  }

  &.align-left {
    text-align: left;
  }

  a.btn-table {
    margin: 0;
  }

  [class*=" paper-button-"] {
    display: inline-table;
  }

  [class*=" paper-button-"], a.btn-table {
    color:#ffffff;
    font-weight:300;
    font-size:13px;
    background:$gmp-background;
    text-align: center;
    border:none;
    border-radius: 4px;
    text-transform: capitalize;
    padding:5px 8px;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    text-decoration:none !important;
    display: inline-block;
    min-width: 70px;
    cursor: pointer;
    line-height: 1em;

    &:hover {
      background-color: $gmp-primary;
    }

    &.delete{
      padding:0px;
      padding-top: 0.3em;
      border:none;
      width:10%;
      min-width: 1em;
      color:$gmp-background;
      background:none;
      font-size:24px;
      position: initial;

      &:hover {
        color: #A51500;
      }

      paper-ripple {
        top: inherit;
        opacity: 0;
      }
    }
  }

  [class*=" paper-toggle-button-"] {
    padding-top: 0.5em;

    &[active]
    {
      .toggle-bar {
        background-color: $gmp-primary !important;
      }

      .toggle-button {
        background-color: $gmp-primary !important;
      }
    }

    .toggle-container {
      margin-left: auto;
      margin-right: auto;
    }
  }

  [class*=" paper-button-"][disabled] {
    background-color: $gmp-background-tint;

    .btn-table.delete {
      background: none;
      background-color: none;
    }
  }

  [class*=" paper-button-"][disabled].delete {
    background: none;
    background-color: none;
  }

  [class*=" paper-dropdown-menu-"] {
    width: 100%;
    vertical-align: middle;
  }
}

.div-info-table, .div-team-table, .div-member-network-table, .div-network-table {
  margin: 0;
  border-top: solid 1px $gmp-background-tint;

  .div-table-row {
    height: auto;
  }

  .div-header-cell {
    float:none;
  }

  .div-table-col {
    height: auto;
    float: none;
    vertical-align: middle;

    &.status {
      color:#FCC718;
      text-transform: capitalize;
      line-height: 1.2em;
      &#approved{
        color:#75AF12;
      }
      &#rejected{
        color:#F96532;
      }
    }

    [class*=" paper-button-"] {
      margin-bottom: 0;
    }
  }

  .name{
    width:100%;
    line-height: 1.2em;
    h4{
      font-size: 16px;
      margin:0px;
      padding:0px 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: initial;
      position: relative;
      z-index: 20;
      text-align: left;
      cursor: default;

      @media (max-width: $small) {
        font-size: 12px;
        padding: 0px 6px;
      }
    }
  }
  .plan{
    width:40%;
    background:$gmp-background-tint;
    font-size:16px;
    .btn{
      border:none;
      font-size:12px;
      text-transform: capitalize;
      background:$gmp-primary-tint;
      margin-top:10px;
    }
  }
  .logo{
    width:auto;
    min-width: 40px;
    height:40px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    z-index: 8;

    img {
      position: absolute;
      max-width: 40px;
      max-height: 40px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.div-network-table, .div-member-network-table {

  .div-table-col {
    .name {
      display: inline-block;
      text-align: left;
      padding-left: 45px;
      vertical-align: middle;
    }

    .logo {
      display: inline;
    }
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {

  .logo {
    img {
      margin: unset;
    }
  }

  .div-header-row, .div-table-row, .div-table-col {
    display: block;
  }

  .div-header-row .div-table-row {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .div-table-row {
    &:first-of-type {
      border-top: solid 1px $gmp-background-tint;
    }
  }

  .div-table-col {
    width: 100% !important;
    border-top: unset !important;
    border-left: 1px solid $gmp-background-tint;
    border-right: 1px solid $gmp-background-tint;
    border-bottom: 1px solid $gmp-background-tint;
    padding: 5px;
    position: relative;
    text-align: left;
    white-space: initial;
    font-size: 12px;
    line-height: 1em;
    border-collapse: collapse;
    vertical-align: middle;
    height: unset !important;

    [class*=" paper-button-"] {
      font-size: 10px;
    }

    paper-input-container {
      .input-content {
        input {
          font-size: 12px !important;
          line-height: 1em !important;
        }
      }
    }

    iron-dropdown {
      .dropdown-content {
        paper-item {
          font-size: 12px;
          line-height: 1em;
        }
      }
    }

    [class*=" paper-button-"] {
      margin-bottom: 0 !important;
    }

    .status {
      line-height: 1em;
    }
  }
}

/* No Header Column Center Aligned */
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
  .div-team-table {
    .logo {
      img {
        margin: 0 auto;
      }
    }
    .div-table-col {
      text-align: center
    }
  }
}

/* Network Accordion */

.accordion-paragraphs {
  text-align: left;
  margin: 0 0 16px;
  font-size: 16px;
}

.accordion-label {
  font-size: 16px;
  text-align: left;
  margin-bottom: 8px;
  font-weight: 500;
}

.accordion-label-inline {
  font-size: 16px;
  text-align: left;
  margin-bottom: 16px;
  font-weight: 500;

  .inline-content {
    padding-left: 5px;
    display: inline;
    font-weight: 400;
    font-size: 16px;
  }
}

.network-popup-description {
  white-space: pre-wrap;
  text-align: left;
  padding: 0 2px;
}

.network-popup-textarea {
  margin-top: 16px;
  text-align: left;

  iron-autogrow-textarea {
    max-height: 150px !important;

    @media (max-width: $small) {
      .textarea-container {
        .iron-autogrow-textarea {
          min-height: 60px;
          font-size: 14px;
          line-height: 1em;
        }
      }
    }
  }
}

.network-accordion {

  h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 0px 0px 16px;
    position: relative;
    display: block;
    text-align: left;
  }

  hr {
    color: $gmp-background-shade;
    margin: 0 0 16px 0 !important;
  }

  .header-btn {
    margin-bottom: 16px !important;

    @media (max-width: $small) {
      margin-top: 10px !important;
    }
  }

  .moxie-shim {
    height: inherit !important;
    width: inherit !important;
  }

  .network-header-container {

    .network-image-wrapper {
      position: relative;
    }

    .network-image-container {
      background-color: white;
      border: 1px solid $gmp-primary;
      height: 120px;
      width: 120px;
      position: relative;
      margin-bottom: 16px;

      gm-grid-image {
        height: 100%;
        width: 100%;
        display: block;

        iron-image {
          display: block;
        }
      }

      .profile-image {
        width: 100%;
        height: 100%;
        top: 0;
        background-color: $gmp-background-tint;
      }

      .network-image-delete {
        position: absolute;
        right: 0;
        cursor: pointer;
        background-color: rgba(255,255,255,0.7);
        margin: 0;
        z-index: 1;
        display: table-cell;
        color: $gmp-primary;

        &:hover, &:active, &:focus {
          background-color: $gmp-background-tint-shade;
        }

        i {
          &:first-child {
            margin: 3px;
            vertical-align: middle;
          }
        }
      }

      .network-image-delete {
        top: 0;
        border-radius: 0 0 0 5px;
      }

      .network-image-uploader {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 24px;
        width: 24px;

        gm-file-upload {
          display: block;
          position: relative;

          paper-spinner {
            display: none;
          }

          paper-button {
            padding: 0;
            margin: 0;
            width: 24px;
            height: 24px;
            min-width: 0;
            cursor: pointer;
            background-color: rgba(255,255,255,0.7);
            border-radius: 5px 0 0 0;
            cursor: pointer;
            z-index: 0;

            &:hover, &:active, &:focus {
              background-color: $gmp-background-tint-shade;
            }

            .material-icons {
              height: 18px;
              width: 18px;
              margin: 3px;

              &.image-upload {
                color: $gmp-primary;

                &:before {
                  content: '\E439';
                }
              }
            }
          }
        }
      }
    }

    .accordion-label-inline {
      a {
        color: $gmp-primary;
      }

      @include ellipsis();
    }

    .network-description {
      .accordion-paragraphs {
        display: inline;
      }
    }

    .edit-description-btn {
      color: $gmp-primary;
      background-color: white;
      display: inline;
      cursor: pointer;

      i {
        line-height: 1.4em;
        margin: 0;
        font-size: 16px;
        vertical-align: bottom;
      }
    }

    .network-description-editor {
      margin-bottom: 16px;

      .input-content {
        &.paper-input-container {
          border: 1px solid $gmp-secondary;
          padding: 0 5px;
        }
      }

      textarea, iron-autogrow-textarea {
        line-height: 1em;
        min-height: 50px;
        font-size: 16px;
        text-align: left;

        @media (max-width: $small) {
          min-height: 60px;
          font-size: 14px;
        }
      }

      [class*=" paper-button"] {
        background-color: $gmp-primary;
        color: white;
        height: 25px;
        margin-left: 5px;
        margin-right: 0;
        margin-top: 2px;
        min-width: 20px;
        float: right;

        [class*=" iron-icon-"] {
          color: white;
        }

        paper-ripple {
          top: inherit;
          opacity: 0;
        }
      }

      [class*=" paper-button"][disabled] {
        background-color: $gmp-background-tint;
        [class*=" iron-icon-"] {
          color: $gmp-background;
        }
      }
    }
  }

  .network-member-section {
    h2 {
      text-align: left;
      display: inline-block;
    }

    .help-rounded {
      margin: 0;
      margin-left: 5px;
      margin-bottom: 16px;
      margin-top: 6px;
      display: inline-block;
    }
  }
}

.add-to-table {
  max-width: 600px;
  position: relative;
  display: flex;
  display: webkit-box;
  display: webkit-flex;
  display: ms-flexbox;

  span {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: top;
    -webkit-justify-content: top;
    -ms-flex-pack: top;
    justify-content: top;
    display: flex;
    display: webkit-box;
    display: webkit-flex;
    display: ms-flexbox;
    min-width: 70px;

    @media (max-width: $small) {
      width: 100%;
    }
  }

  paper-input-autocomplete-chips {
    text-align: left;
    margin-bottom: 16px;
    width: 100%;

    @media (max-width: $small) {
      min-width: 180px;
    }

    .underline {
      height: unset !important;
      bottom: 2px;
    }

    .input-content {
      &.paper-input-container {
        border: 1px solid $gmp-secondary;
        padding: 0 5px;
        height: 38px;
      }
    }

    .input-container {
      .paper-input-autocomplete-chips {
        height: unset;
        line-height: unset;
      }
    }

    [class*=" paper-chip-"] {
      line-height: 1em;
      width: 100%;
      overflow: hidden;
      vertical-align: middle;

      .label-container {
        @include ellipsis();
      }
    }
  }

  paper-button {
    min-width: 110px;
    margin: 0 0 16px 5px !important;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    @media (max-width: $small) {
      min-width: 70px !important;
      width: 70px;
    }
  }
}
