.gm-v-profile {
	padding-bottom: 60px;
	.profile-img-gallery {
		width: 100%;
		height: 180px;
		background-color: $gmp-background-tint;
		@media (min-width: $small) {
			height: 360px;
		}
	}

  /* --- New Image Gallery --- */
  .gallery-wrapper {
    overflow: auto;
    margin: -4px;
    margin-bottom: 10px;
  }
  .large-title-wrapper {
    width: 100%;
    overflow: auto;
    float: left;
    @media (min-width: $medium) {
			width: 33.3333%;
		}

    @media only screen and (orientation: landscape) and (max-width: $medium) {
      width: 66.6667%;
    }
  }
  .first-container {
    display: block;
    float: left;
    margin: 4px;
    position: relative;
    width: calc(100% - 8px);
    padding-bottom: calc(100% - 8px);

    @media (max-width: $medium) {
      background-color: none;
      padding-bottom: 0;
    }

    @media only screen and (orientation: landscape) and (max-width: $medium) {
      background-color: $gmp-background-tint;
      padding-bottom: calc(100% - 8px);
    }
  }
  .small-image-wrapper {
    width: 100%;
    overflow: auto;
    float: left;
    @media (min-width: $medium) {
			width: 66.6667%;
		}

    @media only screen and (orientation: landscape) and (max-width: $medium) {
      width: 33.3333%;
    }
  }
  .first-image, .second-image, .third-image {
    display: block;
    float: left;
    margin: 4px;
    background-color: $gmp-background-tint;
    width: calc(100% - 8px);
    padding-bottom: calc(100% - 8px);
    position: relative;
    cursor: pointer;
    border: 2px solid $gmp-background-tint;
    > a {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .more-images-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    span {
      position: absolute;
      top: 50%;
      margin: -18px 0;
      width: 100%;
      text-align: center;
      font-size: 24px;
      @media (min-width: $medium) {
        font-size: 36px;
      }
      opacity: 0.8;
      color: #fff;
    }
  }
  .first-image, .second-image, .third-image {
    width: calc(50% - 12px);
    padding-bottom: calc(50% - 16px);
    @media (min-width: $medium) {
			width: calc(50% - 12px);
      padding-bottom: calc(50% - 16px);
		}

    @media only screen and (orientation: landscape) and (max-width: $medium) {
      width: calc(100% - 8px);
      padding-bottom: calc(100% - 12px);
    }
  }
  .second-image {
    &.has-more-images .more-images-overlay {
      display: block;
    }
  }

  .preview-lang-dropdown {
    margin: 10px 0;
    @media (min-width: $medium) {
      text-align: left;
    }
  }

  .custom-accordion {

    margin-bottom: 8px;

    .custom-accordion-header {
      h2 {
        cursor: pointer;
        position: relative;
        padding-left: 45px;
        margin: 0;
        line-height: 2.5em;
        font-weight: 400;
        font-size: 20px;
        i.material-icons {
          position: absolute;
          right: 0;
          font-size: 25px;
          pointer-events: none;
          line-height: 50px;

          &.left-icon {
            padding: 0 5px;
            right: auto;
            left: 0;
          }
        }
        i.custom-icon {
          position: absolute;
          margin: 10px 0 10px -35px;
          height: 27px;
          width: 27px;
          background-color: #fff;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url(/assets/images/icons/vendor-profile-icon-set.svg);
          background-position: 0 0;

          &.transparent-bg {
            background-color: rgba(250, 0, 0, 0);
          }

          &.profiles-icon {
            background-position: 0 0;
          }
          &.maps-icon {
            background-position: 0 -27px;
          }
          &.offerings-icon {
            background-position: 0 -55px;
          }
          &.opportunities-icon {
            background-position: 0 -82px;
          }
          &.news-icon {
            background-position: 0 -108px;
          }
          &.events-icon {
            background-position: 0 -135px;
          }
          &.feedback-icon {
            background-position: 0 -189px;
          }
          &.promotions-icon {
            background-position: 0 -242px;
          }
        }
      }
    }
    a {
      &.is-open h2 i.pointer-icon {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Safari */
        transform: rotate(180deg);
      }
      &:hover, &:focus {
        text-decoration: none;
      }
    }
    .custom-accordion-body {
      text-align: left;
      max-height: none;
      overflow: hidden;
      margin-bottom: 16px;

      @media (max-width: $small) { max-height: none; }

      &.no-body-padding {
        padding: 30px 0 0 0;

        @media (max-width: $small) { padding: 15px 0 0 0; }
      }

      &.disable-scroll {
        overflow: hidden;
      }

      &#vendorMapsBody {
        padding: 0;
        margin: 0;
      }
    }
  }

	/* --- Custom styling for Owl Carousel --- */
	.owl-wrapper-outer, .owl-item {
    position: relative;
		height: 180px;
		@media (min-width: $small) {
			height: 360px;
		}
	}
  .owl-item img {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0,-50%); // IE9
    transform: translate3d(0,-50%,0); // Modern Browsers - better performance
    margin: 0 auto;
  }
	.owl-controls {
		position: absolute;
		top: 50%;
		width: 100%;
		margin-top: -21px;
	}
	.owl-theme .owl-controls .owl-buttons div {
		position: absolute;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		background-color: rgba(54,54,54,0.5);
		display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
		font-size: 34px;
    line-height: 40px;
		margin: 0;
		opacity: 1;
		&:hover {
			background-color: rgba(54,54,54,1);
		}
	}
	.owl-prev {
    left: 15px;
		&:after {
			display: block;
			position: absolute;
			top: 0;
			right: 16px;
			content: "\f104";
		}
	}
	.owl-next {
    right: 15px;
		&:after {
			display: block;
			position: absolute;
			top: 0;
			left: 16px;
			content: "\f105";
		}
	}/* --- /Owl Carousel --- */
	.profile-wrapper {
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    width: 100%;
    height: 100%;
    position: static;
    overflow: hidden;

    @media (min-width: $small) {
      margin: 0;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      position: absolute;
      border: 2px solid $gmp-background-tint;
    }

    @media only screen and (orientation: landscape) and (max-width: $medium) {
      margin: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      position: absolute;
    }

    text-align: center;
  }

  .search-area {
    padding: 20px 15px;
  }

	.profile-details {
    display: table;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    @media (max-width: $small) { width: 100%; top: 0; left: 0; transform: translate(0,0); }
    @media only screen and (orientation: landscape) and (max-width: $medium) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .profile-col {
      &.logo{
        display: block;
        top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 75px;
        @media (min-width: $small) {
          width: 100px;
        }
        @media only screen and (orientation: landscape) and (min-width: $medium) {
          width: 75px;
        }
      }
      &.name{
        position: relative;
        min-height: 92px;
        @media (min-width: $small) {
          min-height: 100px;
        }
        .detail-wrapper {
          span {
            overflow: hidden;
            min-height: 20px;
            max-height: 2.8em;
            display: block;
            font-size: 12px;
            margin-bottom: 10px;
            @media (min-width: $small) {
              font-size: 20px;
            }
            @media only screen and (orientation: landscape) and (min-width: $medium) {
              font-size: 16px;
            }
          }
        }
        .btn.btn-primary {
          min-width: 120px;
          display: inline-block;
          margin: 0 2px;
          @media (max-width: $small) {
            max-width: none;
            margin-bottom: 10px;
          }

          &.network-btn {
            background-color: $gmp-secondary;
          }

          @media only screen and (orientation: landscape) and (max-width: $medium) {
            max-width: 200px;
          }
        }
      }

      .interaction-container {
        display: inline-block;
        width: 100%;

        a {
          min-width: 30px;
          text-align: center;
          line-height: 1.42857;
          cursor: pointer;
          display: inline-block;
          border-radius: 2px;
          padding: 6px 3px;
          background-color: white;
          color: $gmp-primary;

          i.material-icons {
            font-size: 22px;

            &.like-icon {
              color: $heart-icon-color;
            }

            &:first-child {
              margin: 0;
            }
          }

          &.reply-btn {
            font-size: 12px;
            line-height: 1;
            padding: 3px 10px;
            color: white !important;
            min-width: 60px;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            display: inline;
          }
        }
      }
    }
		.profile-logo {
			height: 75px;
			width: 75px;
			display: block;
			background-color: #fff;
			border-radius: 2px;
      overflow: hidden;
			@media (min-width: $small) {
				height: 100px;
				width: 100px;
			}
      @media only screen and (orientation: landscape) and (min-width: $medium) {
        width: 75px;
        height: 75px;
      }
		}
		h1.profile-name {
			font-size: 21px;
			display: block;
			height: auto;
      max-height: 70px;
			margin: 0 0 2px;
			padding: 0 0 5px 0;
      overflow: hidden;
			@media (min-width: $small) {
				font-size: 26px;
        max-height: 60px;
			}
      @media only screen and (orientation: landscape) and (min-width: $medium) {
        font-size: 20px;
        max-height: 45px;
      }
		}
	}
	.profile-actions {
		.btn.btn-primary {
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
  h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    @media (max-width: $small) {
      font-size: 20px;
    }
  }
  h3 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    @media (max-width: $small) {
      font-size: 14px;
    }
  }
	h4 {
		font-size: 24px;
    font-weight: 700;
		margin-top: 30px;
    @media (max-width: $small) {
      font-size: 20px;
    }
	}
  h5 {
		font-size: 16px;
    font-weight: 700;
		margin-top: 20px;
    @media (max-width: $small) {
      font-size: 14px;
    }
	}
  h6 {
		font-size: 16px;
    @media (max-width: $small) {
      font-size: 14px;
    }
  }
	.profile-description {
    > div.clearfix { padding: 15px 0; }
    a, a:active, a:hover {
      color: $gmp-primary;
      font-weight: bold;
      text-decoration: underline;
    }
	}
	.profile-map-wrapper {
    margin: 16px;
    position: relative;
		background-color: $gmp-background;
		border: 1px solid $gmp-background-tint;
		min-height: 180px;
		@media (min-width: $small) {
			min-height: 360px;
		}
    google-map {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
	}

  .feedback-image {
    position: absolute;
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 1px solid $gmp-background-tint;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
  }

  .feedback-input-area {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 38px;
    margin-bottom: 15px;

    .feedback-input {
      position: relative;
      margin-left: 45px;
    }

    textarea {
      line-height: 1.2em;
      padding: 5px;
      border: 1px solid $gmp-secondary;
      font-size: 16px;
      position: relative;
      width: 100%;
      max-width: 100%;
      min-height: 60px;
      max-height: 200px !important;
      outline: 0;
      box-shadow: none;
      display: inline-block;
      resize: none;
      box-sizing: border-box;

      @media (max-width: $small) {
        font-size: 14px;
      }

      &:focus {
        border: 1px solid $gmp-secondary !important;
      }

      [placeholder] {
        @include placeholder($gmp-placeholder-color-dark, 16px);
      }
    }

    .feedback-input-button-container {
      text-align: right;

      .feedback-input-button, .file-upload-button {
        background-color: $gmp-primary;
        color: white;
        height: 25px;
        margin-left: 5px;
        margin-right: 0;
        margin-top: 2px;
        min-width: 20px;
        right: 0;
        vertical-align: middle;

        [class*=" iron-icon-"] {
          color: white;
          height: 20px;
          width: 20px;
        }

        paper-ripple {
          top: inherit;
          opacity: 0;
        }
      }

      .input-button-upload {
        display: inline-table;
        vertical-align: top;

        paper-spinner {
          position: absolute;
          top: 0;
          width: 28px;
          height: 28px;
          right: 45px;
        }

        .text-error {
          display: inline-block;
          margin: 0;
        }
      }
    }

    .feedback-input-button[disabled], .file-upload-button[disabled] {
      background-color: $gmp-background-tint;
      [class*=" iron-icon-"] {
        color: $gmp-background;
      }
    }

    .feedback-image-upload-container {
      .image-container {
        display: inline-block;
        position: relative;
        margin-left: 45px;

        .profile-image-delete {
          position: absolute;
          right: 0;
          cursor: pointer;
          background-color: rgba(255,255,255,0.7);
          margin: 0;
          z-index: 1;
          display: table-cell;

          &:hover, &:active, &:focus {
            background-color: $gmp-background-tint-shade;
          }

          i {
            &:first-child {
              margin: 3px;
              vertical-align: middle;
            }
          }
        }

        .profile-image-delete {
          top: 0;
          border-radius: 0 0 0 5px;
        }
      }
    }
  }
}

paper-card {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  position: relative;
}

[class*=" paper-card-"] {
  display: block;
}

.feedback-card-container {
  box-shadow: none !important;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &.reply {
    padding-left: 40px;

    @media (max-width: $small) {
      padding-left: 20px;
    }
  }
}

#feedbackList {
  .button-spinner {
    display: block;
    height: 120px;
  }
}

.feedback-card {
  padding: 10px 0;

  .feedback-image {
    position: absolute;
    height: 60px;
    width: 60px;
    border: 1px solid $gmp-background-tint;
    box-sizing: border-box;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;

    @media (max-width: $small) {
      height: 40px;
      width: 40px;
    }
  }

  .feedback-button {
    position: absolute;
    right: -10px;
    top: -10px;

    .dropdown-trigger {
      iron-icon {
        &:after {
          border: 5px solid transparent;
          border-top-color: white;
          content: "";
          height: 0;
          margin-top: -3px;
          opacity: 1;
          position: absolute;
          text-indent: -99999px;
          top: 12px;
          right: 7px;
          width: 0;
        }
      }
    }

    .dropdown-content {
      right: 0;
      min-width: 100px;
      max-width: 100px;
      padding: 0;

      .selectable-content, paper-menu {

        [class*=" paper-item-"] {
          &:hover {
            background-color: $gmp-background-tint;
          }
          &:focus {
            &:before, &:after {
              background: none;
            }
          }
        }
      }
    }

    .paper-menu-button {
      cursor: pointer;
      margin-top: 0 !important;

      .iron-selected {
        font-weight: 400;
      }
    }

    &.feedback-delete-button {
      top: 5px;
      right: -5px;
      width: 30px;
      height: 30px;
      padding: 4px;
    }
  }

  .feedback-section {
    padding-left: 70px;
    padding-right: 30px;

    @media (max-width: $small) {
      padding-left: 50px;
    }

    .feedback-title {
      padding-top: 5px;
      color: $gmp-background-light-shade;
      display: block;

      @media (max-width: $small) {
        font-size: 12px;
      }

      .interaction-container {
        a {
          color: $gmp-primary;
          cursor: pointer;
          vertical-align: middle;

          i {
            margin-left: 0;
          }

          &.reply-btn {
            font-size: 12px;
            line-height: 1;
            padding: 3px 10px;
            color: white !important;
            min-width: 60px;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            display: inline;
          }
        }
      }
    }

    .feedback-description {

      .feedback-message {
        white-space: pre-wrap;
        text-align: left;

        a {
          color: $gmp-primary;

          @include word-wrap();

          &:hover, &:active, &:focus {
            text-decoration: underline;
            color: $gmp-primary-shade;
          }
        }

        &.message-limit-rows{
          max-height: 2.8em;
          overflow: hidden;
        }

        &.height-override {
          max-height: unset;
        }
      }

      .feedback-input-button-container {
        text-align: right;

        .feedback-input-button, .file-upload-button {
          background-color: $gmp-primary;
          color: white;
          height: 25px;
          margin-left: 5px;
          margin-right: 0;
          margin-top: 2px;
          min-width: 20px;
          right: 0;
          vertical-align: middle;

          [class*=" iron-icon-"] {
            color: white;
            height: 20px;
          }

          paper-ripple {
            top: inherit;
            opacity: 0;
          }
        }

        .input-button-upload {
          display: inline-table;
          vertical-align: top;

          paper-spinner {
            position: absolute;
            top: 0;
            width: 28px;
            height: 28px;
            right: 45px;
          }

          .text-error {
            display: inline-block;
            margin: 0;
          }
        }
      }

      .feedback-input-button[disabled], .file-upload-button[disabled] {
        background-color: $gmp-background-tint;
        [class*=" iron-icon-"] {
          color: $gmp-background;
        }
      }

      .input-button-upload {
        display: inline-block;

        .text-error {
          display: inline-block;
        }
      }

      // display: none;
      .feedback-input {
        position: relative;
        margin-left: 45px;
      }

      textarea {
        line-height: 1.2em;
        padding: 5px;
        border: 1px solid $gmp-secondary;
        font-size: 16px;
        position: relative;
        width: 100%;
        max-width: 100%;
        min-height: 60px;
        max-height: 200px !important;
        outline: 0;
        box-shadow: none;
        display: inline-block;
        resize: none;
        box-sizing: border-box;

        @media (max-width: $small) {
          font-size: 14px;
        }

        &:focus {
          border: 1px solid $gmp-secondary !important;
        }

        [placeholder] {
          @include placeholder($gmp-placeholder-color-dark, 16px);
        }
      }
    }

    .feedback-readmore {
      cursor: pointer;
      display: inline-block;
      a {
        margin: 0;
        color: $gmp-primary;
      }

      i {
        padding-left: 5px;
      }
    }

    .feedback-time {
      display: inline-block;
      &::before {
        padding: 0 5px;
        content: ' \2022 ';
      }

      @media (max-width: $small) {
        display: block;
        &::before {
          display: none;
        }
      }

    }
  }

  .feedback-image-upload-container {
    .image-container {
      display: inline-block;
      position: relative;
      margin-top: 10px;

      .profile-image-delete {
        position: absolute;
        right: 0;
        cursor: pointer;
        background-color: rgba(255,255,255,0.7);
        margin: 0;
        z-index: 1;
        display: table-cell;

        &:hover, &:active, &:focus {
          background-color: $gmp-background-tint-shade;
        }

        i {
          &:first-child {
            margin: 3px;
            vertical-align: middle;
          }
        }
      }

      .profile-image-delete {
        top: 0;
        border-radius: 0 0 0 5px;
      }

      a {
        color: $gmp-primary;
      }
    }
  }
}

/* --- Thumbs-up ratings container --- */
.thumbs-up-ratings {
  #current-rating {
    background-image: url(/assets/images/thumbs-up-rating.svg);
    background-repeat: repeat-x;
    margin-left: auto;
    margin-right: auto;
    &.rated-1, &.rated-2, &.rated-3, &.rated-4, &.rated-5, {
      height: 38px;
      margin-bottom: 10px;
    }
    &.rated-1 { width: 30px; }
    &.rated-2 { width: 60px; }
    &.rated-3 { width: 90px; }
    &.rated-4 { width: 120px; }
    &.rated-5 { width: 150px; }
  }
}

/* --- Standards Bar Chart --- */
.standards-bar-chart {
  display: table;
  width: 100%;
  margin: 15px 0;
  padding: 15px;
  border: 1px solid $gmp-background-tint;
  .standards-row {
    display: table-row;
    .category-name, .category-icon, .category-bar {
      display: table-cell;
      padding: 8px;
      vertical-align: middle;
    }
    .category-name {
      width: 80px;
      padding-left: 0;
    }
    .category-icon {
      width: 38px;
      > div {
        width: 30px;
        height: 30px;
        background: #fff url(/assets/images/icons/vendor-form/icon-all-sprite.svg) no-repeat center center;
        background-position: 0px 0px;
      }
    }
    .category-bar {
      padding-right: 0;
      > div {
        width: 100%;
        height: 30px;
      }
    }
  }
  #environment-standards {
    .category-icon > div {
      background-position: 0px -150px;
    }
    .category-bar > div { background-color: $gmp-environment; }
  }
  #customers-standards {
    .category-icon > div {
      background-position: 0px -30px;
    }
    .category-bar > div { background-color: $gmp-customers; }
  }
  #workers-standards {
    .category-icon > div {
      background-position: 0px -60px;
    }
    .category-bar > div { background-color: $gmp-workers; }
  }
  #suppliers-standards {
    .category-icon > div {
      background-position: 0px -90px;
    }
    .category-bar > div { background-color: $gmp-suppliers; }
  }
  #community-standards {
    .category-icon > div {
      background-position: 0px -120px;
    }
    .category-bar > div { background-color: $gmp-community; }
  }
}

/* --- Custom styling for magnificPopup --- */
.mfp-arrow-right:before, .mfp-arrow-left:before {
  border-width: 0;
  border-radius: 50%;
  background-color: rgba(54,54,54,0.9);
  width: 42px;
  height: 42px;
  margin-left: 24px;
}
.mfp-arrow {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 34px;
  line-height: 40px;
}
.mfp-arrow-right:after, .mfp-arrow-left:after {
  top: 0;
  border: none;
  width: 42px;
  height: 42px;
  color: white;
  font-size: 34px;
  line-height: 40px;
}
.mfp-arrow-left:after {
  content: "\f104";
  margin-left: 22px;
}
.mfp-arrow-right:after {
  content: "\f105";
  margin-left: 26px;
}
.mfp-image-holder .mfp-close {
  right: 6px;
}
.mfp-counter {
  display: none;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
}/* --- /magnificPopup --- */

#btn-prof-des-top {
	height: 34px;
	> span:first-child { display: inline-block; }
	> span:last-child { display: none; }
	&.is-open {
		> span:first-child { display: none; }
		> span:last-child { display: inline-block; }
	}
}
#btn-prof-des-top,
#btn-prof-des-bot {
	margin-bottom: 0;
}
#profile-more {
  display: none;
  ul {
    padding-left: 20px;
    margin-bottom: 20px;
    list-style-type: disc;
    ul {
      margin-bottom: 20px;
      li { color: $gmp-background; }
    }

    &.vendor-profile-network {
      li {
        margin-bottom: 5px;

        a {
          text-decoration: none;
        }

        iron-image {
          display: inline-block;
          vertical-align: middle;
        }

        .name {
          display: inline-block;
          a {
            text-decoration: underline;
            padding-left: 5px;
          }
        }

        @media (max-width: $small) {
          .name {
            display: block;
            margin-top: 5px;
          }
        }
      }
    }
  }
  li {
    color: $gmp-primary;
    > h6, > span { color: $gmp-background-shade; }
  }
}

.btn.btn-edit {
	text-transform: uppercase;
	border: none;
	background-color: $gmp-secondary-shade;
	color: #fff;
  padding: 4px 8px;
  min-width: 80px;
}
.edit-btn-wrapper {
  display: block;
}

/* --- Contact popup --- */
#contactDialog, #loginRedirectDialog {
  border-radius: 2px;
  padding: 0;
  .goodm-dialog-footer { padding: 8px; }
}

.goodm-dialog-header {
  text-align: center;
  margin: 0;
  padding: 15px 35px 15px 35px;
  display: table;
  width: 100%;
  border-bottom: 1px solid $gmp-background;
  position: relative;
  z-index: 2000;
  h2 {
    margin: 0!important;
    word-break: break-word;
  }
}
.goodm-dialog-header-col {
  display: table-cell;
  vertical-align: middle;
}
.goodm-dialog-body {
  padding: 20px 0;
	.btn-primary { margin-bottom: 15px; }
  a.btn:last-of-type { margin-bottom: 0; }
}
.goodm-dialog-footer {
  text-align: center;
  margin: 0!important;
  padding: 15px;
  border-top: 1px solid $gmp-background;
}
[class*="paper-dialog-scrollable"] {
  min-width: 200px;
  max-width: 100%;
  margin: 0!important;
}
.paper-dialog-scrollable-0.is-scrolled:not(:first-child)::before,
.paper-dialog-scrollable-0.can-scroll:not(.scrolled-to-bottom):not(:last-child)::after {
  background: rgba(0, 0, 0, 0.1);
}

.paper-dialog-0  h2 { white-space: normal; }

.scrollable-modal {
  &[class*=" paper-dialog-"] {
    max-width: 500px;
    padding: 0;
    .modal-buttons {
      border-top: none;
      padding: 0;
      text-rendering: auto;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      .btn-primary {
        display: inline-block;
        text-transform: capitalize;
      }
    }
    .publish-button-section {
      text-rendering: auto;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: block;
      border-top: 2px solid $gmp-background-tint;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: right;
      padding: 10px;
      background-color: $gmp-background-tint-shade;
    }
  }

  [class*=" paper-dialog-scrollable"] {
    .scrollable.paper-dialog-scrollable {
      padding: 0 15px;
      position: relative;
      overflow-x: hidden;
    }
  }
}

.btn.btn-primary.btn-phone {
	background: none;
	color: $gmp-primary;
	font-size: 18px;
}
#shareDialog i.fa:first-child, #contactDialog i.fa:first-child {
  margin-right: 6px;
	font-size: 16px;
}/* --- /Contact popup --- */
