.vendor-form{
	.vendor-form-pager{
		text-align: center;
		margin-bottom: 20px;
		ul{
			margin:0px;
			padding:0px;
			list-style: none;
			display: inline-block;
			li{
				display: inline-block;
				padding:5px 0px;
				width:40px;
				height:40px;
				background: url(/assets/images/icons/vendor-form/icon-1.svg) no-repeat center;
				border-radius: 100px;
				position: relative;
				z-index: 10;
				@media (max-width: $x-small) {
					width:30px;
					height:30px;
				}
				& + li{
					margin-left:30px;
					@media (max-width: $x-small) {
						margin-left:10px;
					}
					&:before{
						position: absolute;
						height:2px;
						width:30px;
						content:'';
						background: $gmp-background;
						left:-30px;
						top:50%;
						margin-top:-1px;
						z-index: 9;
						@media (max-width: $x-small) {
							left:-10px;
							width:10px;
						}
					}
				}
	        &.item-1.form-icon-enabled {
	          background: url(/assets/images/icons/vendor-form/icon-1-active.svg) no-repeat center;
	        }
					&.item-2{
						background: url(/assets/images/icons/vendor-form/icon-6.svg) no-repeat center;
	          &.form-icon-enabled {
	            background:url(/assets/images/icons/vendor-form/icon-6-active.svg) no-repeat center;
	            @include vendor-form-pager-item-selected($gmp-background-shade, $gmp-environment);
	          }
					}
					&.item-3{
						background: url(/assets/images/icons/vendor-form/icon-2.svg) no-repeat center;
	          &.form-icon-enabled {
	            background:url(/assets/images/icons/vendor-form/icon-2-active.svg) no-repeat center;
	            @include vendor-form-pager-item-selected($gmp-environment, $gmp-customers);
	          }
					}
					&.item-4{
						background: url(/assets/images/icons/vendor-form/icon-3.svg) no-repeat center;
	          &.form-icon-enabled {
	            background:url(/assets/images/icons/vendor-form/icon-3-active.svg) no-repeat center;
	            @include vendor-form-pager-item-selected($gmp-customers, $gmp-workers);
	          }
					}
					&.item-5{
						background: url(/assets/images/icons/vendor-form/icon-4.svg) no-repeat center;
	          &.form-icon-enabled {
	            background:url(/assets/images/icons/vendor-form/icon-4-active.svg) no-repeat center;
	            @include vendor-form-pager-item-selected($gmp-workers, $gmp-suppliers);
	          }
					}
					&.item-6{
						background: url(/assets/images/icons/vendor-form/icon-5.svg) no-repeat center;
	          &.form-icon-enabled {
	            background:url(/assets/images/icons/vendor-form/icon-5-active.svg) no-repeat center;
	            @include vendor-form-pager-item-selected($gmp-suppliers, $gmp-community);
	          }
					}
					&.item-7{
						background: url(/assets/images/icons/vendor-form/icon-7.svg) no-repeat center;
	          &.form-icon-enabled {
	            background:url(/assets/images/icons/vendor-form/icon-7-active.svg) no-repeat center;
	            @include vendor-form-pager-item-selected($gmp-community, $gmp-background-shade);
	          }
					}
	        a { display: none; }
	        &.form-icon-enabled a {
	          display: block;
	          position: absolute;
	          top: 0;
	          left: 0;
	          width: 100%;
	          height: 100%;
	          cursor: pointer;
	        }
	        &.form-icon-active:after {
	          position: absolute;
	          height: 0;
	          width: 0;
	          content:'';
	          bottom: -14px;
	          left: 50%;
	          margin-left: -5px;
	          border-left: 5px solid transparent;
	          border-right: 5px solid transparent;
	          border-top: 8px solid $gmp-background-shade;
	        }
	        &.item-2.form-icon-active:after { border-top-color: $gmp-environment; }
	        &.item-3.form-icon-active:after { border-top-color: $gmp-customers; }
	        &.item-4.form-icon-active:after { border-top-color: $gmp-workers; }
	        &.item-5.form-icon-active:after { border-top-color: $gmp-suppliers; }
	        &.item-6.form-icon-active:after { border-top-color: $gmp-community; }
			}
		}
	}
	.application-container{
		border:solid 1px $gmp-primary-tint;
		padding:60px;
		margin:60px auto;
		.top-butons{
			padding-bottom:30px;
		}
		@include vendor-form-headers;
		h3{
			padding-right:0px;
		}
		font-size:16px;
		@media (max-width: $small) {
			border:none;
			padding:0px 20px;
			font-size:14px;
		}
		#section-container{
            #body-section{
                margin-bottom:28px;
            }
        }
		P{
			font-weight: 300;
		}
	    hr.gm-question-location {
	      margin-top: 0;
	      margin-bottom: 0;
	    }
	    .date-time-picker {

	    	.gm-question-date-time-picker {
	    		// padding: 0;
	    		// display: block;
	    	}

	    	@media (max-width: $small)
	    	{
	    		#header.vaadin-date-picker-overlay {
	    			display: none;
	    		}
	    	}

	    	.vaadin-date-picker div[suffix] {
	    		right: 0;
				bottom: 0;
				padding: 5px;
	    	}

	    	#yearScroller.vaadin-date-picker-overlay{
	    		background-color: $gmp-primary;
	    		color: white;
	    	}

	    	[class*="vaadin-month-calendar-"] {
	    		#monthGrid.vaadin-month-calendar {
	    			div[focused].vaadin-month-calendar {
	    				background: $gmp-primary;
	    				color: white;
	    			}
	    		}
    		}

    		.clearable-picker {
    			display: block;
    			[data-clear-picker] {
    				font-size: 1.8em;
    				padding: 0px 0.45em 0em;
    			}
    			.hasWickedpicker {
    				padding: 0;
    			}
    		}
	    }
	}
	.map-container {
		margin-bottom: 16px;

		&.gm-google-map {
			margin-top: 8px;
		}
	}
	gm-google-map {
		&:not(:first-child){
			.map-view-container{
				//margin-top:30px;
				//padding-top:20px;
				//border-top:solid 1px $gmp-background-tint;
				position: relative;
				.btn-close{
					border:none;
					background:none;
					position: absolute;
					right:0px;
					top:10px;
					color:$gmp-primary;
				}
			}
		}
		&:last-of-type{
			.map-view-container{
				//margin-bottom:30px;
				//padding-bottom:20px;
				//border-bottom:solid 1px $gmp-background-tint;
			}
		}
	}

  //  .sector-question-tree-view was here and took out

	.keyword-container{
		h3{
			display:none;
		}
		border:solid 1px $gmp-primary-tint;
		.paper-input-container{
			border:none;
			label{
				padding:5px;
			}
			&.label-is-floating{
				label{
					display: none;
				}
			}
		}
		.tag-item-container{
			border-radius: 0px;
			background: $gmp-primary;
			color:#ffffff;
			font-size:14px;
			margin:5px 0px 0px 5px;
			paper-icon-button{
				padding:5px;
				height:auto;
				svg{
					color:#ffffff;
				}
			}
		}
	}
	.vendor-lookup{
		margin-bottom:28px;
		@include paper-chip;
		paper-icon-button{
			display: none !important;
		}
		.add-vendor{
			padding-right:30px;
			position: relative;
			button{
				position: absolute;
				right:0px;
              	top:6px;
				border:none;
				background: none;
				color:$gmp-primary;
			}
			&:not(:first-child){
				margin-top:10px;
			}
			label{
				padding:5px;
			}
		}

	}
  .paper-dialog-scrollable-0 .scrollable.paper-dialog-scrollable {
    padding: 0 15px;
  }
  .guide-image {
    background: url(/assets/images/arrow-pointing-hamburger-menu.jpg) no-repeat top left;
    height: 162px;
    margin: 12px 0 0;
  }

}

.wickedpicker {
	width: inherit;
    height: auto;

    .wickedpicker__title {
    	display: none;
    }
	.wickedpicker__controls {
		font-size: 20px;
		padding: 10px;
	}

	.wickedpicker__controls__control {
		padding: 0 5px;
	}
}

.sector-question-tree-view{
  @include tree-view;
      .tree-view{
    > ul{
      > li{
        background:none !important;
        position:relative;
        &:before{
          display: none;
        }
      }
    }
    ul{
      li{
        a{
          color:$gmp-background-shade;
          font-size:16px;
          display: inline-block;
          z-index: 10;
          line-height: 26px;
          .jstree-checkbox{
            display: inline-block;
            width:18px;
            height:18px;
            background: url(/assets/images/icons/vendr-form-sector-checkbox.png) no-repeat center;
            background-position: 0px 0px;
            margin-top: 4px;
              margin-right: 10px;
          }
          &.jstree-clicked{
            background:none;
            color:$gmp-background-shade;
            .jstree-checkbox{
              background: url(/assets/images/icons/vendr-form-sector-checkbox-1.png) no-repeat center;
              background-position: 0px 0px;
            }
          }
//						@media (max-width: $small){
//							padding-left:40px;
//						}
        }
        .jstree-ocl{
          z-index:15;
          width: 24px;
          height: 24px;
//            @media (max-width: $small){
//							width:40px;
//						}
        }
        .helpButton{
          border:none;
          width:15px;
          height:15px;
          background: url(/assets/images/icons/help.svg) no-repeat center center;
          color: #ffffff;
          text-indent: -9999px;
          line-height: 0px;
          z-index: 100;
          position: relative;
          margin-left: 5px;
        }
      }
      .jstree-ocl {
        z-index:15;
      }
    }
  }
}

.preview-lang-dropdown{
	@media (max-width: 48em) {
		/*float:none !important;
		position: absolute;
		top:-40px;
		left:15px;*/
	}
}

.gallery{
	margin-bottom:28px;
	.add-image{
		h3{
			display: none;
		}
		&:not(:first-child){
			border-top:solid 1px $gmp-background-tint;
		}
		#body-section{
			margin-bottom:10px !important;
		}
	}
}

.file-upload{
	margin-bottom:28px;
	.uploaded-image{
		position: relative;
	}
	.image-container{
		float:left;
		width:110px;
		height:110px;
		background:$gmp-background-tint url(/assets/images/icons/photo-camera.svg) no-repeat center center;
		background-size:24px 24px;

	}
	.iron-image{

	}
	button{
		position: absolute;
		top: 11px;
    	left: 0px;
		padding: 3px 7px;
    	background: $gmp-primary;
		margin-top:-11px;
		z-index: 30;
		border:none;
		color:#ffffff;
	}
	&:not(:first-child){
		margin-top:10px;
	}
	.moxie-shim-html5{
    top: 0 !important;
    left: 0 !important;
    z-index: 2 !important;
    input {
      cursor: pointer;
    }
	}
  .upload-button-wrapper {
    position: relative;
    > div {
      position: relative;
      height: 50px;
      margin-top: 10px;
      button {
        position: relative;
        z-index: 1;
        top:0;
        margin-top: 0;
        border: 1px solid $gmp-primary-tint;
        color: $gmp-primary;
        padding: 6px 12px;
      }
    }
  }
	label{
		padding:5px 5px 5px 15px;
		word-wrap: break-word;
		@media (max-width: $x-small) {
			float: left;
			display: block;
			max-width: 60%;
		}
	}
}

#resubmit-comments{
	position:fixed;
	right:0px;
	background: #ffffff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
	z-index: 1000;
	top:66px;
	width:450px;
	-webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
	@media (max-width: $x-small) {
		width:85%;
	}
  @media (max-width: $small) {
    top: 52px;
	}
	.header{
		position: relative;
		h2{
			font-size: 16px;
			margin-top:0px;
			margin-bottom: 10px;
			line-height: 30px;
			font-weight: 700;
		}
		button{
            position: absolute;
            display: block;
            width:35px;
			height:35px;
            left:-35px;
            top:-1px;
            overflow: hidden;
          	border:none;
			background:$gmp-primary;
			box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4), 0 8px 10px -5px rgba(0, 0, 0, 0)  !important;
			.material-icons{
				color: #fff;
        margin-left: 0;
        margin-right: 0;
				&.right{
					display: none;
				}
				&.left{
					display: block;
				}
			}
        }
	}
  .comment-box {
    margin-top: -1px;
    padding: 10px 16px 18px;
    border: 1px solid $gmp-primary;
    textarea {
      width: 100%;
      resize: none;
      outline: none;
      overflow: auto;
      border: 1px solid $gmp-primary-tint;
      padding: 5px;
      font-size: 16px;
    }
  }
  .comment-more-info [class*=" paper-input-container-"] .input-content.paper-input-container {
      border-bottom: 0;
  }
  .btn-wrapper {
    text-align: right;
    padding: 6px;
    border: 1px solid $gmp-primary-tint;
    border-top: 0;
  }
  h3 {
			font-size: 16px;
			margin-top: 2px;
			margin-bottom: 4px;
			font-weight: 700;
		}
	&.collapsed{
		right:-450px;
		box-shadow:none;
		@media (max-width: $x-small) {
			right:-85%;
		}
		button{
			.material-icons{
				&.right{
					display: block;
				}
				&.left{
					display: none;
				}
			}
		}
	}
  &.admin { // Only apply for 'Admin' view
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .comment-box {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      position: relative;
      .text-wrapper {
        position: absolute;
        top: 36px;
        bottom: 12px;
        left: 16px;
        right: 16px;
        width: 416px;
        textarea {
          width: 100%;
          height: 100%;
        }
      }
      &.comment-more-info {
        .text-wrapper {
          bottom: 56px;
        }
        .btn-wrapper {
          position: absolute;
          bottom: 12px;
          left: 16px;
          right: 16px;
        }
        textarea {
          border-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: $small) {
	.vendor-save-form-modal{
		.btn{
			min-width: initial !important;
		}
		.continue{
			text-indent: -9999px;
			position: relative;
			width:100px;
			&:after{
				content:'Continue';
				text-indent: 0px;
				display: block;
				position: absolute;
				top:5px;
				left:0px;
				right:0px;
			}
		}
	}

}

.gm-content-page{
	.btn-primary{
		max-width: 200px;
		margin-left:auto;
		margin-right:auto;
		display: block;
		border:none;
		text-transform: capitalize;
		margin-bottom:5px;
	}
}

.page-title-area{
	@media (max-width: $x-small) {
	}
	//background:$gmp-background-tint;
	.container{
		@media (min-width: $small) {
			width:700px;
		}
	}
	h1{
		color:$gmp-background-shade;
		font-weight:700;
		margin:0px 0px 30px;
		font-size:28px;
		padding:50px 0px 30px;
		background:#ffffff url(/assets/images/static-content-header-bg.svg) no-repeat center center;
		background-size: cover;
		position: relative;
		span{
			position: relative;
			z-index: 10;
			display: block;
			padding:0px 15px;
			text-align: center;
			@media (min-width: $small) {
				width:700px;
				margin:0 auto;
			}
		}
		&:after{
			position: absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			background: rgba(255,255,255,0.6);
			content: '';
			display: block;
			z-index: 1;
		}
		@media (max-width: $x-small) {
			font-size:24px;
			padding:50px 0px 30px;
			margin-bottom: 20px;
		}
	}
	.lang-dropdown{
		margin-top: -15px;
        margin-bottom: 20px;
		text-align: center;
	}
    .lang-help {
        display: inline-block;
        margin-left: 20px;
    }
	[class*=" paper-input-container-"]{
		width:110px;
		.input-content.paper-input-container{
			border:none;
			input{
				color:$gmp-primary;
				text-align: center;
			}
		}
      margin:0px auto 10px;
	}
	.paper-dropdown-menu-0{
		iron-icon.paper-dropdown-menu{
			color:$gmp-primary;
		}
	}
	p{
		margin-bottom:16px;
        a{
			color:$gmp-primary;
			font-weight: bold;
			text-decoration: underline;
		}
	}
	.btn-primary{
		//margin-bottom:0px;
	}
	.page-not-found{
		margin-top: 25%;
		text-align: center;
		img{
			max-width: 80%;
			display: block;
			margin:30px auto;
		}
		h1{
			background:none;
			padding:0px;
			font-size: 120px;
			&:after{
				display: none;
			}

			@media (max-width: $small) {
				font-size: 60px;
			}
		}
		h3{
			font-size:18px;
			font-weight: 700;
		}
	}
}

.resource-area, .preferences-area, .welcome-area {
	.container{
		@media (min-width: $small) {
			width:700px;
		}
	}
	paper-button {
		margin-bottom: 16px;
	}

	iron-image {
		border: 1px solid $gmp-background;
		margin-bottom: 10px;
	}

	paper-checkbox {
		font-size: 16px;
	}

	hr {
		margin-top: 0;
	}

	h1 {
		font-size: 28px;
		text-align: center;
		font-weight: 500;
		margin-top: 30px;
		margin-bottom: 16px;
	}

	h2 {
		font-size: 20px;
		text-align: left;
		font-weight: 400;
		margin-top: 20px;
		margin-bottom: 16px;
	}

	label {
		margin-bottom: 8px;
		font-weight: 400;
		font-size: 16px;
	}
}

.resource-area {

	h2 {
		text-align: center;
	}

	.certificate-area, .disclaimer-area, .download-area {
		margin-bottom: 16px;
	}

	.logo-area {
		text-align: center;
	}

	.download-area {
		p {
			margin-bottom: 8px;
		}
		paper-button {
			margin-bottom: 4px;
		}
		.download-btn-container {
			text-align: center;
			display: block;
			margin-bottom: 8px;
		}
	}

	.disclaimer-area, .return-area {
		text-align: center;
		a {
			display: block;
			text-align: center;
			cursor: pointer;
		}
	}

	.terms-area {
		margin-bottom: 16px;
	}

	.code-area {
		padding: 5px;
		margin: 0;
		background-color: $gmp-background-tint-shade;
		border: 1px solid $gmp-background-tint;
		margin-bottom: 16px;
	}

	.widget-description-area {
		text-align: center;
	}

	.widget-preview {
		text-align: center;
		margin-bottom: 16px;
		p {
			margin-bottom: 8px;
		}
	}
}

.preferences-area {
	text-align: center;

	paper-dropdown-menu, paper-countries {
		margin-bottom: 16px;
		width: 100%;
	}

	.return-area {
		text-align: center;
		a {
			display: block;
			text-align: center;
			cursor: pointer;
		}
	}

	.country-area {
		paper-countries {
			width: auto;

			.container {
				padding: 0;
				width: auto;
			}

			.input-content {
				input {
					background-color: white;
					text-align: left;
				}
			}

			.add-on-content {
				[class*=" paper-input-error-"] {
					display: none;
					margin-bottom: 16px;

					&[invalid] {
						display: inline-block;
					}
				}

			}
		}

		#inputIcon {
			&.paper-countries {
				right: -27px;
				top: 3px;
			}
		}
		.menu-icon {
			&.paper-countries {
				top: 10px;
			}
		}

		.flag-icon {
			position: absolute;
			display: inline;
		}
	}

	.map-help {
		margin: 0;
		margin-bottom: 8px;
	}

	.map-area {
		height: 300px;
		margin-bottom: 16px;
	}

	.subscription-area {
		text-align: left;

		.checkbox-description {
			font-size: 14px;
			padding-left: 26px;
			margin-top: -15px;
			margin-bottom: 16px;
		}
	}
}

.welcome-area {

	h2 {
		text-align: left;
	}

	.welcome-description {
		margin-bottom: 16px;
		white-space: prewrap;
	}

	.return-area {
		margin-bottom: 16px;

		a {
			cursor: pointer;
		}
	}
}


.becoming-a-vendor, .get-involved, .gm-content-inner{
	padding-bottom:30px;
    .container{
        margin-bottom:30px;
		@media (min-width: $small) {
		  width:700px;
		}
    }

	h2{
		font-size:20px;
		font-weight:700;
		margin:0px 0px 20px;
		//padding:40px 0px 20px;
		text-align: center;
		position: relative;
      	//background:#ffffff url(/assets/images/static-content-header-bg.svg) no-repeat center center;
		//background-size: cover;
		position: relative;
		&:first-of-type{
			margin-top:30px;
		}
		span{
			position: relative;
			z-index: 10;
			padding:0px 15px;
			display: block;
			text-align: left;
			@media (min-width: $small) {
				width:700px;
				margin:0 auto;
			}
		}
		//&:after{
		//	position: absolute;
		//	top:0px;
		//	left:0px;
		//	right:0px;
		//	bottom:0px;
		//	background: rgba(255,255,255,0.7);
		//	content: '';
		//	display: block;
		//	z-index: 1;
		//}
	}
	h3, h4{
		color:$gmp-background-shade;
		font-size:20px;
		font-weight:bold;
		a{
			color:$gmp-background-shade;
			display: block;
			padding-left:24px;
			background: url(/assets/images/icons/sector-content-arrow-left.svg) no-repeat left center;
            text-decoration: none;
			background-size: 24px 24px;
			&.active{
				background: url(/assets/images/icons/sector-content-arrow-down.svg) no-repeat left center;
				background-size: 24px 24px;
			}
		}
		@media (max-width: $x-small){
			font-size:18px;
		}
	}
	h4{
		font-size:18px;
        margin-top:10px;
        margin-bottom:15px;
		@media (max-width: $x-small){
			font-size:16px;
		}
	}
	.sector-content{
		padding-left:24px;
		margin-bottom:20px;
      	display: none;
      	position: relative;
		&:before{
			position: absolute;
			width:1px;
			background: $gmp-background-tint;
			left:11px;
			top:-10px;
			bottom:10px;
			content:'';
			display: block;
			opacity: 0.5;
		}
		&:after{
			display: block;
			content:'';
			height:10px;
		}
		ul{
			padding-left:20px;
		}
		&.active{
			display: block;
		}
	}
	h6{
		font-size: 16px;
		margin:0px 0px 10px;
		font-style: italic;
		@media (max-width: $x-small){
			font-size:14px;
		}
	}
	.spacer{
		display: block;
		height:1px;
		margin-bottom:20px;
	}
	p{
		margin:0px 0px 16px;
		&:last-of-type{
			margin-bottom:25px;
		}
	}
	ul{
		padding-left: 30px;
		li{
			color:$gmp-primary ;
          	margin-bottom:16px;
			span{
				color:$gmp-background-shade;
			}
			strong{
				font-style: oblique;
			}
		}
	}
	p, li{
		a{
			color:$gmp-primary;
			font-weight: bold;
          	text-decoration: underline;
		}
	}
}

.get-involved h2 span { text-align: center; }

.button-spinner{
	display: inline-block;
	width:16px;
	height:16px;
	position: relative;
	margin-top: 10px;
	paper-spinner{
		width: 16px;
		height: 16px;
		position: absolute;
		top: 6px;
	}
}

.vendor-form{
	.page-title-area{
		h1{
			span{
				text-align: center;
			}
		}
	}
}

.margin-bot-60 { margin-bottom: 60px; }

.social-icons{
    padding:25px 0px;
    text-align: center;
    a{
        display: inline-block;
        width:30px;
        height:30px;
        margin-right: 30px;
        &:last-of-type{
            margin-right:0px;
        }
        img{
            display: block;
            width:30px;
            height:30px;
        }
    }
}


label.standard-points-breakdown {
  padding: 0 14px;
  border-right: 1px solid $gmp-background;
  margin-top: 16px;
  &:last-of-type {
    border-right: none;
  }
}

//#tabsContainer moved from _admin.scss
#tabsContainer{
  #selectionBar{
    display:none;
  }
  #tabsContent{
    [class*=" paper-tab-"]{
      border: solid 1px $gmp-primary-tint;
      margin-right: 10px;
      z-index: 100;
      background: #ffffff;
      padding:0px !important;
      font-size:18px;
      color:$gmp-primary;
      &:last-child{
        margin:0px;
      }
      .tab-content{
        font-weight:300 !important;
      }
      &.iron-selected{
        border-bottom-color: #ffffff;
        color: $gmp-background-shade;
      }
    }
  }
}

[class*=" paper-tabs-"]{
  height:auto;
}
#tabsContainer{
  #selectionBar{
    display:none;
  }
  margin-bottom:30px;
  #tabsContent{
    border-bottom: solid 1px $gmp-primary-tint;
    [class*=" paper-tab-"]{
      border: solid 1px $gmp-primary-tint;
      margin-right: 10px;
      z-index: 100;
      background:$gmp-background-tint;
      padding:0px !important;
      font-size:16px;
      font-weight:300 !important;
      color:$gmp-primary;
      padding:8px 0px !important;
      margin-bottom:-1px;
      &:last-of-type{
        margin-right:0px;
      }
      .tab-content{
        font-weight:300 !important;
      }
      &.iron-selected{
        border-bottom-color: #ffffff;
        color: $gmp-background-shade;
        background:#ffffff;
        font-weight:300 !important;
        font-size:16px;
      }
      strong{
        margin-left:5px;
      }
    }
  }
}
// end of move

.gm-question-brand [prefix] { margin-left: 5px; }
.gm-question-brand [suffix] { margin-left: -5px; }